@import 'core.scss';

.faq {
  &__wrapper {
    padding: 22px;
  }
}

.container {
  @include container();
  margin-top: 100px;
}

.footer {
  margin-top: 100px;
  padding: 50px 0px 10px 0px;
  background-color: #f5f1f0;
  &__content {
    @include container();
    & > div:first-child {
      @include font($primary-orange, 18px, 400, 28px);
      font-family: $IBMPlex;
    }
  }
  &__hr {
    @include container();
    height: 2px;
    margin: 50px auto 0px auto;
    background: #cbd0d3;
  }
}

.form {
  width: 80%;
  @include desktop() {
    width: 50%;
  }
  &__inputs {
    display: flex;
    & > div:first-child {
      width: 40%;
      margin-right: 20px;
      @include desktop() {
        width: 40%;
      }
    }
    & > div:last-child {
      width: 60%;
      @include desktop() {
        width: 60%;
      }
    }
  }
}

.text-area {
  width: 100%;
  height: 152px;
  border: none;
  outline: none;
  resize: none;
  border-radius: 4px;
}

.submit {
  &__form {
    @include flex($align: stretch, $justify: space-between, $direction: column);
    width: 100%;
    @include desktop() {
      @include flex($align: center, $justify: space-between);
    }
  }
  &__button {
    @include flex($align: center, $justify: space-between);
    width: 40%;
    margin-top: 8px;
    @include desktop() {
      margin-top: 0;
    }
  }
}
