@import 'core.scss';

.container {
  background-color: $background;
}
.consult-request {
  @include container($top: 50px);
}

.orange {
  margin: 0;
  color: $primary-orange;
  font-weight: 400;
}

.main-field {
  @include flex(flex-start, flex-start, row);
  margin-bottom: 25px;
}

.select {
  margin-bottom: 25px;
}
.input {
  width: 100%;
  margin-right: 20px;
  @include desktop() {
    width: 204px;
  }
  &:last-child {
    margin-right: 0;
  }
}

.contact-me-button {
  @include flex(space-between);
  width: 230px;
}

.form-section {
  width: 100%;
  margin-top: 22px;
  @include desktop() {
    width: 650px;
  }
}
.hr {
  @include container();
  height: 2px;
  background: $primary-gray;
  opacity: 0.2;
}
