@import 'core.scss';

.container {
  background-color: $background;
}
.consult-request {
  @include container($top: 50px);
}

.orange {
  margin: 0px 0px 8px 0px;
  font-weight: 500;
  color: $primary-orange;
}

.main-field {
  @include flex(flex-start, flex-start, column);
  margin-bottom: 25px;
  & > div:not(:first-child) {
    margin-top: 12px;
  }
  @include desktop() {
    @include flex(flex-start, flex-start, row);
    & > div:not(:first-child) {
      margin-top: 0;
    }
  }
}

.select {
  width: 100%;
  margin-bottom: 25px;
  //fix width of input
  & > div {
    width: 100%;
  }
}
.input {
  width: 100%;
  margin-right: 20px;
  @include desktop() {
    // width: 204px;
  }
  &:last-child {
    margin-right: 0;
  }
}

.form-section {
  width: 100%;
  margin-top: 22px;
  @include desktop() {
    width: 650px;
  }
}

.preloader {
  justify-content: flex-start !important;
}
