@import 'core.scss';

.slider {
  margin-top: 80px;
}

.container {
  @include container();
}
.subtitle-orange {
  color: $primary-orange;
}

.cards-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 46px;
  padding: 22px;
}

.slider-nav {
  display: flex;
  margin-left: 100px;
  &__arrow:first-child {
    margin-right: 12px;
  }
}
