@import 'core.scss';

.slider {
  @include flex();
  position: relative;
  overflow-x: hidden;
  list-style: none;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform, transition;
  margin-bottom: 32px;
}
