@import 'core.scss';

.insights-subscribe {
  background-color: #f5f1f0;
  height: 100%;
}

.wrapper {
  padding: 22px;
  @include tablet() {
    padding: 40px 134px 50px 134px;
  }
}

.submit-form {
  @include flex($align: stretch);
  flex-direction: column;
  position: relative;
  width: 100%;
  @include tablet(){
    flex-direction: row;
  }
  @include desktop() {
    width: 40%;
  }
}

.button-submit {
  bottom: 0;
  right: 0;
  top: 10px;
  padding: 11px 16px;
  border-radius: 4px;
  @include tablet() {
    position: absolute;
    top: 0;
  }
}

.form-input {
  width: 60%;
  input {
    padding: 13px 16px;
    background: $white;
    border-radius: 4px;
    outline: none;
    border: none;
  }
}

.title {
  margin: 10px 0px;
}

.form {
  margin-top: 22px;
}

.tabs {
}
