@import "core.scss";

.program-overview {
  min-height: 180px;
  @include flex($align: center, $justify: space-between);
  padding-left: $left-offset;
  padding-right: 106px;
}

.title {
  width: 70%;
  @include font($primary-grey, 48px, 500, 50px);
  font-family: $EBGaramond;
}

.name {
  @include font($primary-orange, 18px, 500, 20px);
  font-family: $IBMPlexSans;
}

.item {
  @include flex($justify: space-between);
  width: 100%;
}

.info {
  margin-top: 10px;
  @include font($primary-grey, 18px, 300, 20px);
  font-family: $IBMPlexSans;
}

.hr {
  height: 52px;
  width: 2px;
  margin: 0 20px;
  background-color: $hr;
}

@media screen and (max-width: 900px) {
  .program-overview {
    padding-right: $default-offset;
  }
}

@media screen and (max-width: 768px) {
  .program-overview {
    padding: 0 $default-offset;
  }
  .title {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .program-overview {
    flex-direction: column;
    justify-content: space-around;
  }
  .title {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .program-overview {
    padding: $default-offset;
  }
  .title {
    margin-bottom: 20px;
  }
  .item {
    flex-direction: column;
  }
  .hr {
    height: 2px;
    width: 100%;
    margin: 10px 0;
  }
}