@import 'core.scss';

.program-overview {
  @include flex($align: stretch, $direction: column);
  position: relative;
  padding-left: $left-offset;
  padding-right: 106px;

  @include tablet() {
    padding: 22px;
  }

  @include desktop() {
    align-items: center;
    flex-direction: row;
  }
}

.like {
  @include size(24px);
  position: absolute;
  top: 40px;
  right: 22px;

  @include desktop() {
    position: relative;
    top: unset;
    right: unset;
    margin: 0 20px;
  }
}

.title {
  @include font($primary-gray, 48px, 500, 50px);
  font-family: $EBGaramond;
}

.name {
  @include font($primary-orange, 18px, 500, 20px);
}

.item {
  @include flex($justify: space-between);
  width: 100%;

  @include tablet() {
    margin-top: 24px;
  }

  @include desktop() {
    width: 50%;
    margin-top: 0;
    margin-left: 24px;
  }
}

.info {
  @include font($primary-gray, 18px, 400, 20px);
  margin-top: 10px;
}

.hr {
  height: 52px;
  width: 2px;
  margin: 0 20px;
  background-color: $hr;
}

@media screen and (max-width: 450px) {
  .program-overview {
    padding: $default-offset;
  }
  .title {
    margin-bottom: 20px;
  }
  .item {
    flex-direction: column;
  }
  .hr {
    height: 2px;
    width: 100%;
    margin: 10px 0;
  }
}
