@import 'core.scss';

.update-password {
}

.hint {
  @include font(#3e3e3e, 18px, 400, 28px);
  margin-top: 24px;

  &--bold {
    font-weight: 500;
  }
}

.form {
  margin-top: 16px;

  & > div:not(:first-child) {
    margin-top: 16px;
  }
}

.submit {
  height: 36px;
  width: 50%;
  margin: 16px auto 0 auto;
}
