@import 'core.scss';

.update-password {
}

.hint {
  @include font(#3e3e3e, 18px, 500, 24px);
}

.form {
  margin-top: 30px;

  & > div:not(:first-child) {
    margin-top: 20px;
  }
}

.submit {
  width: 50%;
  margin: 16px auto 0 auto;
}
