@import 'core.scss';

.programs {
  @include flex($align: stretch, $direction: column);
}

.placeholder {
  margin-top: 40px;
  text-align: center;
}

.program {
  @include flex($align: stretch, $direction: column);
  position: relative;
  padding-bottom: 26px;
  border-bottom: 2px solid #cbd0d3;

  &:not(:first-child) {
    margin-top: 32px;
  }
  @include tablet() {
    @include flex($align: stretch, $direction: row);
    min-height: 278px;
    max-height: auto;
  }
}

.like {
  @include size(24px);
  position: absolute;
  top: 0;
  right: 0;
}

.image {
  width: 100%;
  max-width: 317px;
  max-height: 240px;
  border-radius: 8px;
  object-fit: cover;
}

.container {
  @include flex($align: stretch, $direction: column);
  flex: 1;
  margin: 20px 0 0 0;
  @include tablet() {
    margin: 0 0 0 20px;
  }
}

.complexity {
  @include font($primary-orange, 18px, 500, normal);
}

.title {
  @include font(#3e3e3e, 28px, 600, normal);
  margin-top: 8px;
  font-family: $EBGaramond;

  @include tablet() {
    font-size: 36px;
    line-height: 46px;
  }
}

.meta {
  @include flex($align: center);
  @include font($primary-gray, 16px, 400, normal);
  margin-top: 16px;
  @include tablet() {
    font-size: 18px;
  }

  &__sprints {
    margin: 0 20px;
    padding: 0 20px 0 30px;
    border-right: 2px solid #98a2a8;
    border-left: 2px solid #98a2a8;

    @include tablet() {
      margin: 0 26px;
      padding: 0 26px 0 34px;
    }
  }
}

.box {
  margin-top: 16px;

  @include tablet() {
    margin-top: 24px;
  }

  @include desktop() {
    @include flex(space-between, flex-end);
  }
}

.description {
  width: 100%;
  margin-bottom: 80px;

  @include desktop() {
    max-width: 41%;
    margin-bottom: 0;
  }
}

.control {
  position: absolute;
  width: 100%;
  bottom: 33px;
  right: 0;

  @include tablet() {
    max-width: 224px;
  }
}
