@import 'core.scss';

.default-avatar {
  @include flex($align: center, $justify: center);
  text-transform: uppercase;
  color: #ffffff;
  background: #ff6634;
  border-radius: 50%;
  cursor: pointer;
}

.avatar {
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.initials {
  font-size: 30px;
}
