@import 'core.scss';

.contact-address {
}

.form {
  margin-top: 20px;

  @include tablet() {
    margin-top: 15px;
  }

  & > div:not(:first-child) {
    margin-top: 15px;
  }
}

.radiogroup {
  padding: 8px 4px 8px 4px;
  border-radius: 4px;
  background: $white;

  &__list {
    margin-top: 12px;
  }

  &__radio {
    &:not(:first-child) {
      margin-top: 16px;
    }
  }
}

.submit {
  width: 151px;
  margin: 16px auto 0 auto;
  padding: 8px 0;
  font-size: 14px;

  @include tablet() {
    margin-top: 18px;
    font-size: 16px;
  }
}
