@import 'core.scss';

.programs-contact-us {
  margin-top: 122px;
  padding-top: 87px;
  padding-bottom: 48px;
  background-color: $background;
  &__reduce-mg {
    margin-top: 80px;
  }
}

.title {
  margin-bottom: 16px;
  padding-left: $left-offset;
  & > div:first-child {
    @include font($primary-gray, 48px, 600, 58px);
    max-width: 400px;
    margin-bottom: 16px;
    font-family: $EBGaramond;
  }
  & > div:nth-child(2) {
    @include font($primary-gray, 16px, 400, 26px);
    @include tablet() {
      line-height: 22px;
    }
    max-width: 520px;
    margin-bottom: 24px;
  }
}

.footer {
  @include flex($direction: column, $justify: center, $align: stretch);
  position: relative;
  z-index: 1;
  height: 350px;
  @include heroImage();
  @include imageOverlay();
  box-sizing: border-box;
  overflow: hidden;
}

.button {
  @include flex($justify: space-between);
  width: 230px;
  margin-top: 10px;
}

.contact-form {
  @include flex($justify: space-between);
  max-width: 750px;
  padding-left: $left-offset;
  flex-wrap: wrap;
}

.input-title {
  @include font($primary-gray, 16px, 400, 18px);
  padding-bottom: 2px;
  padding-left: 5px;
}

.input-group {
  margin-bottom: 16px;
}

.input-field {
  width: 195px;
  height: 44px;
  padding: 0 10px;
  border: none;
  border-radius: 6px;
  background-color: $white;
  &:focus {
    border: 1px solid $primary-orange;
    outline: none;
  }
}
.input-select-container,
.input-select {
  width: 100%;
  font-weight: 400;
}

.input-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 10px;
  padding-right: 30px;
  cursor: pointer;
}

@media screen and (max-width: 840px) {
  .input-field,
  .input-group {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .title {
    padding-left: 0;
    & > div:first-child {
      @include font($primary-gray, 44px, 400, 46px);
    }
    & > div:nth-child(2) {
      @include font($primary-gray, 18px, 400, 22px);
    }
  }
  .contact-form {
    padding-left: 0;
  }
  .programs-contact-us {
    padding: 50px $default-offset;
  }
}

option {
  font-family: $IBMPlex !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
