@import 'core.scss';

.title {
  @include flex($justify: center);
  @include font($primary-gray, 28px, 400, normal);
  position: relative;
  padding: 19px 0;
  font-family: $EBGaramond;
  text-align: center;
  background-color: $white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.submit {
  width: 100%;
}

.wrap {
  padding: 12px 35px 33px 35px;
  background-color: $white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
