@import 'core.scss';

.notification {
}

.title {
  @include flex($justify: center);
  @include font($primary-gray, 28px, 400, normal);
  position: relative;
  padding: 19px 0;
  font-family: $EBGaramond;
  text-align: center;
  background-color: $white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  &:after {
    content: '';
    position: absolute;
    border-radius: 8px;
    z-index: -1;
    top: -50px;
    right: 125px;
    width: 38px;
    height: 58px;
    background-color: $background;
    @include desktop() {
      right: 65px;
    }
  }
}

.submit {
  width: 100%;
}

.wrap {
  padding: 12px 35px 33px 35px;
  background-color: $white;
}
