@import 'core.scss';

.title {
  @include font($primary-gray, 24px, 400, 24px);
}

.language-select {
  @include flex($align: center, $justify: space-between);
  margin-top: 30px;
  &--caption {
    @include font($primary-gray, 18px, 300, 24px);
  }
  &--dropdown {
    @include flex($justify: space-between);
    position: relative;
    cursor: pointer;
    width: 110px;
    padding: 8px;
    border: 1px solid $primary-gray;
    border-radius: 4px;
  }
}

.dropDown {
  position: absolute;
  bottom: -50px;
  left: 0;
  background: white;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  z-index: 2;
}

.button {
  width: 150px !important;
  height: 36px;
  margin: 0 auto;
  margin-top: 26px;
}
