@import 'core.scss';

.reset-form {
  @include flex(flex-start, center, column);
  max-width: 1100px;
  text-align: center;
}

.title {
  @include font($primary-gray, 48px, 600, 58px);
  font-family: $EBGaramond;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 19.5px 0 40.5px 0;
  background-color: $light-grey;
}
