@import 'core.scss';

.hero {
  &__block {
    @include flex($align: stretch, $direction: column, $justify: center);
    @include container();
    @include heroImage();
    position: relative;
    width: 100%;
    height: 561px;
  }
  &__caption {
    z-index: 333;
    width: fit-content;
    padding-bottom: 40px;
    border-bottom: 2px solid #c2c2c262;
    & > * {
      color: white;
    }
  }
  &__description {
    z-index: 333;
    width: 100%;
    margin: 0;
    margin-top: 40px;
    color: white;
    @include desktop() {
      width: 30vw;
    }
  }
}

.kordie {
  padding-bottom: 100px;
  background: $background;
  &__wrapper {
    padding: 24px 22px;
    @include desktop() {
      padding: 58px 134px 22px 134px;
    }
  }
  &__paragraph {
    width: 100%;
    @include desktop() {
      width: 30vw;
    }
  }
}
.programs-list {
  @include container();
  & > div:first-child {
    border-top: 2px solid $hr;
  }
  & > div {
    border-bottom: 2px solid $hr;
    padding-top: 31px;
    padding-bottom: 40px;
  }
}
.program {
  & > * {
    margin-bottom: 8px;
  }
  @include desktop() {
    display: grid;
    grid-template-columns: 204px 2fr 1fr;
    & > * {
      margin-bottom: 0;
    }
  }
  &__block {
    &--rate {
      @include font($primary-orange, 18px, 600);
      margin-bottom: 8px;
      font-family: $EBGaramond;
    }
    &--caption {
      @include font($primary-gray, 24px, 400, 37px);
    }
    &--description {
      @include font($primary-gray, 18px, 400, 28px);
      width: 60%;
      margin: 0;
      justify-self: center;
      align-self: center;
      @include desktop-lg() {
        width: 80%;
      }
    }
    &--btn {
      justify-self: end;
      align-self: center;
      button {
        margin-top: 20px;
        @include desktop() {
          margin-top: 0;
        }
      }
    }
  }
}
