@import 'core.scss';

.cart-item {
  @include flex();
  width: 486px;
  height: 234px;
  margin-bottom: 32px;

  &__image {
    @include flex($direction: column, $align: center);
    & > img {
      width: 150px;
      height: 206px;
      object-fit: contain;
      border-radius: 8px;
      box-shadow: 0px 10px 10px #00000016;
    }
  }

  &__info {
    @include flex($direction: column);
    height: 100%;

    padding: 0 16px 28px 16px;

    &--title {
      @include font($primary-gray, 24px, 400, 28px);
      max-width: 100%;
    }
  }
}

.description {
  @include flex($direction: column, $justify: flex-end);
  flex-grow: 2;
  height: 100%;
  &--author {
    @include font($light-grey, 18px, 400, 28px);
    min-height: 16px;
  }
  &--amount {
    @include flex($align: center);

    & > input {
      @include flex($align: center, $justify: center);
      @include font($light-grey, 18px, 400, 28px);
      margin-left: 30px;
      width: 80px;
      height: 40px;
      border: 1px solid $light-grey;
      text-align: center;
      -webkit-appearance: none;
      outline: none;

      &::placeholder {
        color: $light-grey;
      }
    }
  }
  &--price {
    @include font($primary-gray, 24px, 400, 28px);
    font-family: $EBGaramond;
    & > span {
      margin-right: 20px;
      text-decoration: line-through;
      color: $light-grey;
    }
  }
}

.remove {
  @include font($primary-orange, 16px, 500, 22px);
  margin-top: 5px;
  text-decoration: underline;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
