@import 'core.scss';

.cart-item {
  @include flex($align: stretch);
  height: 234px;
  margin-bottom: 32px;

  @include tablet() {
    width: 486px;
  }

  &__image {
    @include flex($direction: column, $align: center);
    position: relative;

    & > img {
      width: 150px;
      height: 206px;
      object-fit: contain;
      border-radius: 8px;
      box-shadow: 0px 10px 10px #00000016;
    }
  }

  &__info {
    @include flex($direction: column);
    padding: 0 16px 28px 16px;

    &--title {
      @include font($primary-gray, 24px, 400, 28px);
      max-width: 100%;
    }
  }
}

.banner {
  @include font($primary-orange, 18px, 500, 28px);
  @include flex(center, center);
  position: absolute;
  top: 20px;
  left: 0;
  width: 143px;
  height: 41px;
  background: #f5f1f0;
  border-radius: 0 4px 4px 0;
}

.description {
  @include flex($direction: column, $justify: flex-end);
  flex-grow: 2;
  height: 100%;

  &--type {
    @include font(#b1b8bd, 18px, 400, 28px);
    min-height: 16px;
  }

  &--amount {
    @include flex($align: center);
    margin-top: 8px;

    & > input {
      @include flex($align: center, $justify: center);
      @include font($light-grey, 18px, 400, 28px);
      margin-left: 30px;
      width: 92px;
      height: 48px;
      border: 1px solid #b1b8bd;
      text-align: center;
      -webkit-appearance: none;
      outline: none;

      &::placeholder {
        color: #b1b8bd;
      }
    }
  }
}

.remove {
  @include font($primary-orange, 16px, 500, 22px);
  margin-top: 5px;
  text-decoration: underline;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price {
  @include font($primary-gray, 24px, 400, 28px);
  font-family: $EBGaramond;
  &--old {
    margin-right: 20px;
    text-decoration: line-through;
    color: #b1b8bd;
  }
  &--new {
    @include font($primary-orange, 24px, 400, 28px);
    font-family: $EBGaramond;
  }
}
