@import 'core.scss';

.partnering {
  @include container($top: 60px);
  box-sizing: border-box;
  @include desktop() {
    width: 50%;
    & > div:nth-child(2) {
      width: 80%;
    }
  }
}

.how-program {
  @include container($top: 60px);
  padding-bottom: 10px;

  &__description {
    display: grid;
    width: 100%;
    margin-top: 22px;
    column-gap: 20px;
    @include tablet() {
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
    }
    &__block {
      @include font($primary-gray, 24px, 400, 34px);
      width: 100%;
      margin-bottom: 20px;
      padding: 55px 20px;
      border-radius: 8px;
      border: 1px solid $light-grey;
      @include tablet() {
        margin-bottom: 0;
      }
    }
  }
  @include desktop {
    &__title {
      width: 40%;
    }
  }
}

.hr {
  height: 2px;
  margin: 0 22px;
  background-color: #cbd0d3;
}
