@import 'core.scss';

.caption {
  @include container();
  margin: 50px auto;
  &-rate {
    @include font($primary-orange, 36px, 600, 48px);
    font-family: 'EB Garamond', serif;
    letter-spacing: -0.36px;
  }
  &-title {
    @include font($primary-gray, 36px, 600, 46px);
    letter-spacing: -0.36px;
  }
  &-hr {
    width: 3%;
    height: 1px;
    background: $primary-gray;
    opacity: 0.5;
  }
  &--content {
    @include font($primary-gray, 18px, 400, 28px);
    width: 100%;
    margin-top: 24px;
    font-family: $IBMPlex;
    @include desktop(){
      width: 50%;
    }
  }
}
