@import 'core.scss';

.course-item {
  position: relative;
  box-sizing: border-box;
}

.header {
  position: relative;
}

.name {
  @include font($white, 36px, 600, 46px);
  position: absolute;
  bottom: 16px;
  left: 16px;
  max-width: 300px;
  letter-spacing: -0.48px;
  font-family: $EBGaramond;
}

.card {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    width: 100%;
    height: 241px;
    object-fit: cover;
    filter: brightness(1);
  }
}

.description-block {
  // height: 260px;
  padding: 15px;
  @include flex($justify: space-between, $direction: column);
  border-left: 1px solid #98a2a883;
  border-right: 1px solid #98a2a883;
  border-bottom: 1px solid #98a2a883;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: -3px;

  @include tablet() {
    height: 260px;
  }
}

.description {
  @include font($primary-gray, 16px, 400, 22px);
  margin-top: 17px;
  font-family: $IBMPlex;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  max-width: 100%;
}

.bottom {
  width: 100%;
  @include flex($justify: space-between, $direction: column);
}

.info {
  @include font($primary-gray, 18px, 600, 58px);
  @include flex($justify: space-between);
  width: 100%;
  font-family: $EBGaramond;
}

.button {
  width: 100%;
  margin-bottom: 9px;
  @include flex($justify: space-between);
}

@media screen and (max-width: 1308px) {
  .course-item {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 828px) {
  .course-item {
    flex-basis: 100%;
  }
}
