@import "core.scss";

.course-item {
  // height: 550px;
  // flex-basis: 33%;
  -ms-flex: auto;
  // width: 259px;
  position: relative;
  // padding: 10px;
  box-sizing: border-box;
  // @include flex($justify: center);
}

.header {
  position: relative;
}

.name {
  position: absolute;
  bottom: 16px;
  left: 16px;
  max-width: 300px;
  @include font($white, 36px, 600, 46px);
  letter-spacing: -0.48px;
  font-family: $EBGaramond;
}

.card {
  // min-width: 300px;
  // max-width: 440px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    width: 100%;
    height: 241px;
    object-fit: cover;
    filter: brightness(70%);
  }
}

.description-block {
  height: 280px;
  padding: 15px;
  @include flex($justify: space-between, $direction: column);
  border-left: 1px solid #98a2a883;
  border-right: 1px solid #98a2a883;
  border-bottom: 1px solid #98a2a883;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.description {
  @include font($primary-grey, 16px, 400, 22px);
  margin-top: 17px;
  font-family: $IBMPlex;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.bottom {
  width: 100%;
  @include flex($justify: space-between, $direction: column);
}

.info {
  font-family: $EBGaramond;
  width: 100%;
  @include font($primary-grey, 18px, 600, 58px);
  @include flex($justify: space-between);
}

.button {
  width: 100%;
  margin-bottom: 9px;
  @include flex($justify: space-between);
}

@media screen and (max-width: 1308px) {
  .course-item {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 828px) {
  .course-item {
    flex-basis: 100%;
  }
}
