@import 'core.scss';

.article-rich-text {
  position: relative;
  width: 100%;
  padding: 0 22px;
 
  @include tablet() {
    display: flex;
  }
  @include ipad-p() {
    display: block;
  }
  @include desktop() {
    padding: 0px 0px 0px 134px;
  }
  text-align: justify;
}
.wrapper {
}

.embeddedImage {
  height: auto;
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
  max-height: 946px;
  margin-top: 10px;
  border-radius: 8px;
}

.hr {
  width: 55%;
  height: 2px;
  margin: 50px 0px;
  background: $hr;
}

.sticky-insights-form {
  margin: -50px 22px 0 22px;
}
