@import 'core.scss';

.article-rich-text {
  position: relative;
  width: 100%;
  padding: 0 22px;
  @include desktop() {
    padding: 0px 358px 0px 134px;
  }
}

.embeddedImage {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
}

.hr {
  width: 55%;
  height: 2px;
  margin: 50px 0px;
  background: $hr;
}
