@import 'core.scss';

.online-courses {
  padding: 120px 0;
}

.title {
  // padding-left: $left-offset;
  padding-left: 22px;
  @include desktop() {
    padding-left: 134px;
  }
  & > div:first-child {
    @include font($primary-gray, 48px, 500, 58px);
    position: relative;
    letter-spacing: -0.1px;
    font-family: $EBGaramond;
    &::before {
      content: url('../../../../../assets/img/text-decorator.svg');
      position: absolute;
      top: -48px;
    }
  }
  & > div:nth-child(2) {
    @include font($primary-gray, 24px, 400, 34px);
    max-width: 500px;
    margin-top: 12px;
    font-family: $IBMPlex;
  }
}

.courses-wrapper {
  margin: 0 auto;
}

.content {
  padding: 0 22px;
}

.filters {
  display: grid;
  margin-top: 49px;
  margin-bottom: 32px;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 10px;
  grid-auto-flow: row;
  padding-bottom: 10px;
  @include tablet() {
    grid-auto-flow: column;
  }
  & > div {
    min-width: max-content;
  }
}

.info {
  @include font($primary-gray, 18px, 400, 28px);
  max-width: 660px;
  margin-bottom: 30px;
  font-family: $IBMPlex;
}

.footer {
  margin-top: 30px;
  @include desktop() {
    padding-left: 110px;
  }
}

.footer-title {
  font-family: $EBGaramond;
  @include font($primary-grey, 36px, 500, 46px);
}

.button {
  @include flex($justify: space-between);
  width: 100%;
  width: 230px;
  margin-top: 24px;
}

.courses {
  display: grid;
  column-gap: 20px;
  row-gap: 43px;
  grid-template-columns: 1fr;
  @include tablet() {
    grid-template-columns: 1fr 1fr;
  }
  @include desktop() {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include desktop-lg() {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 728px) {
  .filter-button {
    width: 100%;
    @include tablet() {
      margin-bottom: 0;
    }
  }

  .filters {
    flex-direction: column;
  }
}
