@import 'core.scss';

.online-courses {
  padding: 120px 0;
}

.title {
  padding-left: $left-offset;
  & > div:first-child {
    @include font($primary-gray, 48px, 600, 58px);
    position: relative;
    letter-spacing: -0.1px;
    font-family: $EBGaramond;
    &::before {
      content: url('../../../../../assets/img/text-decorator.svg');
      position: absolute;
      top: -48px;
    }
  }
  & > div:nth-child(2) {
    @include font($primary-grey, 24px, 400, 34px);
    max-width: 500px;
    margin-top: 12px;
    font-family: $IBMPlex;
  }
}

.courses-wrapper {
  margin: 0 auto;
}

.content {
  padding: 0 25px;
}

.filters {
  display: flex;
  margin-top: 49px;
  margin-bottom: 32px;
}

.info {
  @include font($primary-grey, 18px, 400, 28px);
  max-width: 660px;
  margin-bottom: 30px;
  font-family: $IBMPlex;
}

.footer {
  margin-top: 30px;
  padding-left: $left-offset;
}

.footer-title {
  font-family: $EBGaramond;
  @include font($primary-grey, 36px, 500, 46px);
}

.button {
  @include flex($justify: space-between);
  width: 100%;
  width: 230px;
  margin-top: 24px;
}

.courses {
  @include flex($justify: 'between');
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

@media screen and (max-width: 728px) {
  .title {
    padding-left: $default-offset;
  }

  .footer {
    padding-left: $default-offset;
  }

  .filter-button {
    width: 100%;
    margin-bottom: 20px;
    @include tablet() {
      margin-bottom: 0;
    }
  }

  .filters {
    flex-direction: column;
  }
}
