@import 'core.scss';

.online-courses {
  padding: 60px 0px 70px 0px;
}

.title {
  padding-left: 22px;
  line-height: 28px;
  @include desktop() {
    padding-left: 134px;
  }
  & > div:first-child {
    position: relative;
  }
  & > div:nth-child(2) {
    @include font($primary-gray, 24px, 400, 34px);
    max-width: 500px;
    margin-top: 12px;
  }
}

.courses-wrapper {
  margin: 0 auto;
}

.content {
  padding: 0 22px;
}

.filters {
  display: grid;
  width: fit-content;
  margin-top: 49px;
  margin-bottom: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 10px;
  padding-bottom: 10px;

  @include tablet() {
    grid-auto-flow: column;
  }
  @include ipad-p() {
    grid-auto-flow: initial;
  }
  & > div {
    width: fit-content;
  }
}

.info {
  @include font($primary-gray, 18px, 400, 28px);
  max-width: 660px;
  margin-bottom: 39px;
}

.footer {
  margin: 35px 20px 0 20px;
  @include desktop() {
    margin: 40px 0 0 $left-offset;
  }
}

.footer-title {
  @include font($primary-gray, 36px, 500, 46px);
  font-family: $EBGaramond;
}

.button {
  margin: 24px auto 0 auto;
  @include desktop() {
    margin: 24px 0 0 0;
  }
}

.courses {
  display: grid;
  column-gap: 20px;
  row-gap: 43px;
  grid-template-columns: 1fr;
  @include tablet() {
    grid-template-columns: 1fr 1fr;
  }
  @include desktop() {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include desktop-lg() {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 728px) {
  .filter-button {
    width: 100%;
    @include tablet() {
      margin-bottom: 0;
    }
  }

  .filters {
    flex-direction: column;
  }
}

.subtitle {
  padding-right: 22px;
}

.button {
  &--explore {
    & > div:first-child {
      @include flex($align: center, $justify: space-between);
      @include font($primary-gray, 16px, 500);
      width: 100%;
    }
    margin: 31px 0px 0px 22px;
    background: #f5f1f0;
    height: 44px;
    width: 85%;
    @include tablet() {
      width: 336px;
      margin: 31px 0px 0px 113px;
    }
  }
}
