@import 'core.scss';

.product {
  @include flex($align: stretch);
}

.image {
}

.remove {
  @include font($primary-orange, 14px, 500, 28px);
  margin-top: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.container {
  @include flex($align: stretch, $direction: column);
  flex: 1;
  margin-left: 12px;
}

.name {
  @include font($primary-gray, 24px, 400, 28px);
}

.author {
  @include font($light-grey, 14px, 400, normal);
  margin-top: 20px;
}

.amount {
  @include flex($align: center);
  margin-top: 10px;

  &__label {
  }

  &__input {
    margin-left: 16px;
  }
}

.price {
  @include font($primary-gray, 22px, 400, 28px);
  margin-top: 10px;
  font-family: $EBGaramond;
}
