@import 'core.scss';

.container {
  @include flex($align: center);
}
.radio {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid $light-grey;
  margin-right: 5px;
  cursor: pointer;
  transition: $transition;

  &:hover {
    border: 2px solid $primary-orange;
  }
  &:before {
    content: '';
    display: none;
    width: 8px;
    height: 8px;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    background-color: $primary-orange;
    border-radius: 50%;
  }
  &--selected {
    border: 2px solid $primary-orange;
    &:before {
      display: block;
    }
  }
}

.error {
  display: block;
  width: 100%;
  font-size: 11px;
  color: #ff0000;
}
