@import 'core.scss';

.product-card {
  position: relative;
  width: 100%;
  padding: 30px 20px;
  background-color: $background;
  border-radius: 12px;
  @include tablet() {
    width: auto;
    margin-right: 0;
  }
  @include desktop() {
    // width: 50%;
    margin-right: 0;
  }
}

.product-card {
  &__title {
    width: 100%;
    font-weight: 600;
    @include tablet() {
      width: 50%;
    }
  }
  &__author {
    @include font($primary-gray, 24px, 400, 34px);
    margin-top: 8px;
    margin-bottom: 22px;
  }
}

.desription {
  @include flex($direction: column, $align: stretch);
  flex-wrap: wrap;
  margin-top: 16px;
  // width: 80%;
  @include desktop() {
    @include flex($justify: space-between);
  }
}

.description {
  &__block {
    width: 100%;
    @include desktop() {
      width: 20%;
    }
    p {
      margin: 0;
    }
  }
  &--title {
    @include font($primary-orange, 18px, 600, 28px);
    color: $primary-orange;
  }
}

.hr {
  width: 80%;
  height: 2px;
  background-color: $light-grey;
}

.details {
  // width: 50%;
  margin-top: 11px;
  &--title {
    @include font($primary-orange, 18px, 600, 28px);
  }
  p {
    margin: 0;
  }
}

.price {
  margin-top: 40px;
  font-size: 36px;
  @include desktop() {
    margin-top: 20px;
  }
}

.confirm-button {
  justify-content: space-between;
  width: 224px;
  margin-top: 15px;
}

.wrapper {
  @include flex($justify: space-between, $direction: column);
  height: calc(100% - 195px);
  max-width: 80%;
}
