//Color palette
$primary: #99c642;
$white: #ffffff;
$black: #222f08;
$gray: #b6b6b6;
$red: #ff0000;
$primary-gray: #3e3e3e;
$primary-orange: #ff6634;
// Misc
$transition: 0.25s;

$IBMPlex: 'IBM Plex Sans';
$EBGaramond: 'EB Garamond';
$primary-orange: #ff6634;
$primary-grey: #3e3e3e;
$light-grey: #cbd0d3;

// Misc
$transition: 0.25s;

//fonts

$EBGaramond: 'EB Garamond';
$IBMPlexSans: 'IBM Plex Sans';
