//Color palette
$primary: #99c642;
$white: #ffffff;
$black: #222f08;
$gray: #b6b6b6;
$red: #ff0000;
$primary-gray: #3e3e3e;
$primary-orange: #ff6634;

// Misc
$transition: 0.25s;

$IBMPlex: 'IBM Plex Sans';
$EBGaramond: 'EB Garamond', 'serif';
$light-grey: #cbd0d3;

// Misc
$transition: 0.25s;

$background: #f5f1f0;

$hr: rgba(203, 208, 211, 0.3);

//offsets
$default-offset: 22px;
$left-offset: 134px;

//heights

$header-height: 60px;
