@import 'core.scss';

.header {
  @include flex($align: center);
  padding-left: $left-offset;
  height: $header-height;
  position: fixed;
  transition: background-color 200ms linear;
  z-index: 999;
  width: 100%;
  top: 0;
  &.inverted {
    background-color: #ffffff;
    transition: background-color 200ms linear;
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .navigation {
    @include flex($align: center);
    &-links {
      @include font($white, 18px, 500);
      font-family: $IBMPlex;
      & > a {
        margin-left: 39px;
        &:hover {
          text-decoration: underline;
        }
      }
      &.inverted {
        @include font($primary-gray, 18px, 500);
      }
    }
  }
}
