@import 'core.scss';

.header {
  @include flex($align: center);
  padding-left: $left-offset;
  height: $header-height;
  position: fixed;
  transition: background-color 200ms linear;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  &.inverted {
    background-color: #ffffff;
    transition: background-color 200ms linear;
  }
  .logo {
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .navigation {
    @include flex($align: center);
    &-links {
      @include font($white, 18px, 500);
      font-family: $IBMPlex;
      & > a {
        margin-left: 30px;
        &:hover {
          text-decoration: underline;
        }
      }
      &.inverted {
        @include font($primary-gray, 18px, 500);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    @include flex($align: center, $justify: flex-end);
    padding-right: 15px;
  }
  .navigation-links {
    display: none;
  }
}
