@import 'core.scss';

.our-programs-card {
  background-color: $white;
  height: 340px;
  margin-bottom: 2%;
  padding: 18px 16px;
  border-radius: 5px;
  &:nth-child(2n + 3) {
    margin-right: 0;
  }
}

.orange {
  font-size: 36px;
  color: $primary-orange;
}

.subtitle {
  margin: 14px 0px 22px 0px;
  font-size: 24px;
}
