@import "core.scss";

.scroll-button {
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}

.scroll {
  @include font($white, 16px, 500, 26px);
  font-family: $IBMPlex;
  &:hover {
    color: rgb(235, 235, 235);
  }
}
