@import "core.scss";

.scroll-button {
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}

.scroll {
  @include font($white, 16px, 500, 22px);
  @include flex($align: center);
  font-family: $IBMPlex;
  img {
    margin-right: 9px;
  }
  &:hover {
    color: rgb(235, 235, 235);
  }
}
