@import 'core.scss';

.hero {
  @include container();
  @include flex($align: center);
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  @include heroImage();
  min-height: 500px;

  &-description {
    margin-top: 25px;
  }
}

.button {
  margin: 24px 0px;
}

.arrow {
  @include desktop() {
    left: 134px;
  }
  position: absolute;
  bottom: 22px;
  left: 22px;
  color: $white;
}
