@import 'core.scss';

.heading {
  @include container();
  margin-top: 60px;
  &__paragraph {
    width: 100%;
    @include desktop() {
      width: 36%;
    }
  }
  &__caption {
    @include font($primary-orange, 18px, 600, 58px);
    font-family: $EBGaramond;
  }
  &__hr {
    width: 38%;
    height: 1px;
    background: #cbd0d3;
  }
  &__statistic {
    @include flex($align: stretch);
    margin: 30px 0px;
    & > div:first-child {
      margin-right: 50px;
    }
  }
}

.modal-person {
  width: 50%;
}
// .contributor {
//   &__photo {
//     display: block;
//     width: 316px;
//     height: 316px;
//     transition: 0.5s ease;
//     backface-visibility: hidden;
//   }
//   &__overlay {
//     position: relative;
//     width: 316px;
//     height: 316px;
//     border-radius: 8px;
//     &:hover {
//       & > div:first-child {
//         opacity: 1;
//         @include imageOverlay();
//       }
//     }
//   }
//   &__content {
//     @include flex($align: flex-end, $justify: center);
//     @include size(inherit);
//     position: absolute;
//     top: 0;
//     color: #ffffff00;
//     background-color: rgba(0, 0, 0, 0);
//     transition: background-color 100ms linear;
//     opacity: 0;

//     &--title {
//       @include font($white, 16px, 400, 22px);
//       margin-bottom: 22px;
//       font-family: $IBMPlex;
//       border-bottom: 1px solid $white;
//       cursor: pointer;
//     }
//   }
//   &--info {
//     @include font($primary-gray, 24px, 500, 34px);
//     margin-top: 7px;
//     font-family: $IBMPlex;
//   }
//   &--details {
//     @include font($primary-gray, 16px, 400, 22px);
//     margin-top: 4px;
//     font-family: $IBMPlex;
//   }
// }

.modal {
  width: 100%;

  @include tablet() {
    position: absolute;
    width: 80vw;
    margin: 0;
  }
  @include desktop() {
    width: 50vw;
  }
  & > div:first-child {
    @include flex($align: stretch, $direction: column);
    @include tablet() {
      @include flex($align: stretch);
    }
  }
  &__person {
    @include desktop() {
      width: max-content;
    }
    &--photo {
      height: auto;
      height: 316px;
      object-fit: cover;
      width: 100%;
      @include tablet() {
        max-width: 316px;
        width: 100%;
      }
    }
    &__wrapper {
      @include flex($align: center, $justify: space-between);
      max-width: 316px;
    }
  }
  &__content {
    position: relative;
    flex: 1;
    min-width: 200px;
    max-height: 100%;
    margin: 0;
    @include tablet() {
      max-height: 400px;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(rgba(255, 255, 255, 0.001), white);
      }
      &--wrapper {
        overflow-y: scroll;
        height: 100%;
      }
    }
    @include tablet() {
      width: 50%;
      margin-left: 20px;
    }

    &--caption {
      @include font($primary-gray, 24px, 400, 34px);
      font-family: $IBMPlex;
    }
    &--description {
      @include font($primary-gray, 16px, 400, 22px);
      margin-top: 8px;
      padding-bottom: 100px;
      padding-right: 15px;
      font-family: $IBMPlex;
    }
  }
  &__icon {
    position: absolute;
    top: 15px;
    right: 15px;
    @include tablet() {
      display: block;
      top: 0;
      right: -40px;
    }
  }
}

.markdown {
  p {
    margin-bottom: 22px;
  }
}
