@import 'core.scss';

.explore-pages {
  &--title {
    @include container();
    margin-top: 80px;
  }
}

.square {
  @include flex($align: center, $justify: center);
  height: 416px;
  width: 316px;
  background-size: cover;
  position: relative;
  cursor: pointer;

  &:hover {
    &:before {
      content: '';
      position: absolute;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0000003f;
    }
    &:after {
      content: 'Click to zoom in';
      width: fit-content;
      color: white;
      height: 30px;
      top: calc(50% - 30px);
      left: calc(50% - 30px);
    }
  }
}

.slider {
  @include flex($justify: space-between, $align: center);
  margin-top: 46px;
  position: relative;
  padding-bottom: 60px;
  overflow: hidden;
  padding-left: 12px;
  width: 100%;
  @include tablet() {
    margin-top: 24px;
    padding-left: 15px;
  }
}

.controls {
  @include tablet() {
    margin-left: 97px;
  }
  button {
    background-color: transparent;
    color: $primary-gray;
    border: 1px solid #98a2a8;
  }
}
