@import 'core.scss';

.burger {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  background-color: white;
  min-height: 100vh;
}

.logo {
  position: absolute;
  top: 23px;
  left: 22px;
}

.burger-header {
  padding-top: 87px;
  background-color: #707070;
  width: 100%;
  @include tablet() {
    margin-bottom: 31px;
  }
}

.menu {
  @include tablet() {
    padding: 0px 86px;
  }
}

.link {
  @include font($primary-gray, 27px, 400, 37px);
  padding: 12px 24px 15px 24px;
}

.button {
  width: 90%;
  margin: 0 auto;
  &:last-child {
    margin-top: 20px;
  }
}
