@import 'core.scss';

.error-boundary {
  width: 100%;
  height: 100vh;
  @include flex($align: center, $justify: center, $direction: column);
  text-align: center;
}

.circle {
  @include flex($align: center, $justify: center);
  @include size(120px);
  background: #3b4153;
  border-radius: 50%;
  &__content {
    color: white;
    font-size: 32px;
  }
}

.caption {
  font-size: 24px;
  margin: 24px 0px 12px 0px;
}

.description {
  font-size: 22px;
  margin: 12px 0px;
}

.button {
  margin-top: 36px;
  background: #3b4153;
  padding: 12px 24px;
  color: white;
  border-radius: 4px;
  transition: $transition;
  &:hover {
    transform: scale(1.2);
    transition: $transition;
  }
}
