@import "core.scss";

.catalogue-header {
  background: url('../../../../../assets/img/programs-catalogue-header.png') no-repeat center center;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  min-height: 500px;
}

.title {
  padding-left: $left-offset;
  padding-right: $default-offset;
  & > div:first-child {
    max-width: 500px;
    @include font($white, 60px, 500, 70px);
    font-family: $EBGaramond;
    letter-spacing: -0.48px;
  }
  & > div:nth-child(2) {
    margin-top: 22px;
    max-width: 880px;
    @include font($white, 24px, 400, 34px);
  }
}

.scroll-button {
  bottom: 24px;
  position: absolute;
  left: $left-offset;
}

@media screen and (max-width: 768px) {
  .title {
    padding: 0 $default-offset;
    & > div:first-child {
      @include font($white, 44px, 400, 46px);
    }
    & > div:nth-child(2) {
      @include font($white, 18px, 400, 22px);
    }
  }
  .scroll-button {
    left: $default-offset;
  }
}
