@import 'core.scss';

.catalogue-header {
  @include heroImage();
  // background-position: right;
  @include tablet() {
    background-position: center;
  }
  @include flex($align: stretch, $direction: column, $justify: center);
  position: relative;

  width: 100%;
  z-index: 1;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 500px;
  @include desktop() {
    width: 101%;
    right: 2px;
  }
  @include ipad-p() {
    height: calc(100vh - 30px);
    background-position: center;
  }
  @include ipad-l() {
    height: calc(100vh - 30px);
    background-position: center;
  }
}

.title {
  padding-left: $left-offset;
  padding-right: $default-offset;
  & > div:first-child {
    max-width: 500px;
    @include font($white, 60px, 500, 70px);
    font-family: $EBGaramond;
    letter-spacing: -0.48px;
  }
  & > div:nth-child(2) {
    max-width: 880px;
    margin-top: 22px;
    @include font($white, 24px, 400, 34px);
  }
}

.scroll-button {
  position: absolute;
  bottom: 24px;
  left: $left-offset;
}

@media screen and (max-width: 768px) {
  .title {
    padding: 0 $default-offset;
    & > div:first-child {
      @include font($white, 44px, 400, 46px);
    }
    & > div:nth-child(2) {
      @include font($white, 18px, 400, 22px);
    }
  }
  .scroll-button {
    left: $default-offset;
  }
}
