@import 'core.scss';

.hero {
  &-content {
    @include container();
  }
  &-caption {
    width: 100%;
    font-family: $EBGaramond;
    color: $white;
    @include desktop() {
      width: 50%;
    }
  }
  &-description {
    @include font($white, 24px, 400, 34px);
    width: 100%;
    margin-top: 25px;
    font-family: $IBMPlex;
    @include desktop() {
      width: 67%;
    }
  }
}

.image {
  @include flex($align: center, $justify: center);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}

.arrow {
  position: absolute;
  bottom: 22px;
  left: 22px;
  color: $white;
  @include tablet() {
    left: 118px;
  }
}
