@import 'core.scss';

.about-menu {
  position: relative;
  margin-right: 22px;
}

.dropdown {
  left: -130px;
  width: 350px;
  height: 100px;
}

.link {
  @include font($primary-gray, 20px, 500, 28px);
  display: block;
  transition: $transition;

  &:first-child {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $light-grey;
  }

  &:hover {
    color: $primary-orange;
  }
}
