@import 'core.scss';

.benefits {
  background-color: #f5f1f0;

  &__container {
    @include container($top: 48px);
    @include flex($align: stretch, $direction: column);
    margin-bottom: 30px;
    & > div {
      margin-bottom: 12px;
    }
    @include desktop() {
      @include flex(space-between);
      & > div {
        margin-bottom: 0;
      }
    }
  }
  &__title {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 45px;
  }
}

.image {
  @include heroImage();
  width: 100%;
  height: 402px;
}
