@import 'core.scss';

.benefits {
  background-color: #f5f1f0;

  &__container {
    @include container($top: 48px);
    @include flex($align: stretch, $direction: column);
    & > div {
      margin-bottom: 12px;
    }
    @include desktop() {
      @include flex(space-between);
      & > div {
        margin-bottom: 0;
      }
    }
  }
  &__title {
    margin-bottom: 16px;
    line-height: 45px;
  }
}

.image {
  width: 100%;
  height: 402px;
  background-size: cover;
  background-position: center;
}
