@import 'core.scss';

.filter {
  @include font($primary-gray, 14px, 400, 28px);
  @include desktop() {
    @include font($primary-gray, 16px, 400, 28px);
  }
  @include flex($align: center);
  width: auto;
  height: 47px;
  padding: 12px;
  border: 1px solid $hr;
  border-radius: 3px;
  transition: $transition;
  cursor: pointer;
  user-select: none;
  &:hover {
    border: 1px solid $primary-orange;
  }
  &__title {
    width: 100%;
    margin-right: 11px;
  }
  &__count {
    @include font($hr, 16px, 400, 22px);
    &__active {
      @include font($primary-gray, 16px, 400, 22px);
    }
  }
  &__active {
    @include font($primary-gray, 18px, 400, 28px);
    border: 1px solid $primary-orange;
  }
}

.icon {
  margin-left: 8px;
}
