@import 'core.scss';

.upload-avatar {
  width: fit-content;
}

.upload {
  @include flex($align: center, $direction: column);
}

.caption {
  margin-top: 12px;
  font-size: 18px;
  cursor: pointer;
}

.input {
  display: none;
}
