@import 'core.scss';

.dropdown {
  position: absolute;
  top: -10px;
  right: -134px;
  width: 300px;
  padding-top: 50px;
  overflow: hidden;

  &--footer {
    padding: 0 33px 12px 33px;
    background-color: $white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &--total {
    @include flex($justify: space-between);
    @include font($primary-gray, 18px, 600, normal);
    margin-bottom: 27px;
    font-family: $EBGaramond;
  }
  @include desktop() {
    right: -75px;
    width: 488px;
  }
}

.item {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.submit {
  width: 100%;
}

.hint {
  @include font($primary-gray, 12px, 600, 16px);
  margin-top: 12px;
  margin-bottom: 8px;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}
