@import 'core.scss';

.insights-block {
  position: relative;
  padding: 0 22px;
  padding-bottom: 120px;
}

.title {
  padding-left: 112px;
  & > div:first-child {
    @include font($primary-gray, 48px, 500, 58px);
    max-width: 600px;
    letter-spacing: -0.48px;
    font-family: $EBGaramond;
    &::before {
      content: url('../../../../../assets/img/text-decorator.svg');
      position: absolute;
      top: -46px;
    }
  }
  & > div:nth-child(2) {
    @include font($primary-gray, 24px, 400, 34px);
    margin-top: 12px;
    margin-bottom: 40px;
  }
}

.slider {
  @include flex($justify: space-between, $align: center);
  position: relative;
  padding-bottom: 108px;
  overflow: hidden;
  // padding-left: $default-offset;
  ul {
    margin-bottom: 8px;
    li {
      @include desktop() {
        // width: 478px !important;
      }
    }
  }
}

.controls {
  padding-left: $left-offset;
}

@media screen and (max-width: 768px) {
  .title {
    padding-left: $default-offset;
  }
  .controls,
  .slider {
    padding-left: 0;
  }
}
