@import 'core.scss';

.card {
  @include flex($align: stretch, $direction: column);
  background-color: #f5f1f0;
  border-radius: 8px;
}

.title {
  @include font(#3e3e3e, 20px, 400);

  @include tablet() {
    font-size: 24px;
    line-height: 34px;
  }
}

.content {
  @include flex($align: stretch, $direction: column);
  height: 100%;
}
