@import 'core.scss';

.wrapper {
  padding: 120px 22px 22px 22px;
  @include desktop() {
    padding: 120px 120px 0px 120px;
  }
  position: relative;
  width: 100%;
  height: 100vh;
  @include flex($align: stretch, $justify: center, $direction: column);
  &-caption {
    @include font($white, 60px, 600, 70px);
    width: 100%;
    font-family: $EBGaramond;
    @include desktop() {
      width: 50%;
    }
  }
  &-description {
    @include font($white, 24px, 300, 34px);
    width: 67%;
    margin-top: 25px;
    font-family: $IBMPlex;
    padding-bottom: 170px;
  }
}

.filters-field {
  width: 100%;
  min-height: 70px;
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(6, max-content);
  gap: 8px;
  border-radius: 5px;
  background-color: $white;
  overflow-x: auto;
  overflow-y: hidden;
  @include tablet() {
    grid-template-columns: repeat(6, auto);
  }
  @include desktop() {
    overflow: initial;
  }
  & > div {
    margin-right: 0;
    padding: 8px;
  }
  & > div:last-child {
    padding-right: 30px;
  }
}

.marketplace-filter {
  width: 100%;
}

.footer {
  margin-top: 120px;
}

.slider-title {
  @include container();
  // margin-top: 60px;
  p {
    color: $primary-orange;
  }
}
