@import 'core.scss';

.banner {
  margin-top: 20px;
  padding: 40px 20px;
  background: #f5f1f0;

  @include desktop() {
    margin-top: 0;
    padding: 60px 0 55px 0;
  }
}

.box {
  @include flex($align: stretch, $direction: column);
  width: 100%;

  @include tablet() {
    flex-direction: row;
  }

  @include desktop() {
    max-width: 73.5%;
    margin: 0 auto;
  }
}

.preview {
  position: relative;

  &__image {
    width: 50%;
    align-self: center;

    @include tablet() {
      align-self: initial;
      width: 200px;
      height: 275px;
      object-fit: cover;
    }

    @include desktop() {
      width: 240px;
      height: 368px;
    }
  }

  &__banner {
    @include font($primary-orange, 18px, 500, 28px);
    @include flex(center, center);
    position: absolute;
    top: 20px;
    left: 0;
    height: 41px;
    width: 144px;
    border-radius: 0 4px 4px 0;
    background: #f5f1f0;
  }
}

.container {
  @include flex($direction: column, $justify: space-between);
  flex: 1;
  margin-top: 40px;

  @include tablet() {
    margin-top: 0;
    margin-left: 30px;
  }

  @include desktop() {
    margin-left: 112px;
  }
}

.description {
  @include font($primary-gray, 16px, 400, 24px);
  margin-top: 12px;

  @include tablet() {
    margin-top: 8px;
    font-size: 18px;
  }
}

.authors {
  @include font($primary-gray, 16px, 400, normal);
  margin-top: 12px;
  font-family: $EBGaramond;

  @include tablet() {
    font-size: 18px;
  }
}

.author {
  margin-left: 4px;
  text-decoration: underline;
  transition: $transition;
  cursor: pointer;

  &:hover {
    color: $primary-orange;
  }

  &:not(:last-child) {
    &:after {
      content: ',';
    }
  }
}

.meta {
  @include flex(space-between, flex-start);
  margin-top: 24px;

  @include tablet() {
    justify-content: flex-start;
  }
}

.languages {
  @include font($primary-gray, 12px, 400, 16px);

  &__bold {
    font-weight: 500;
  }

  &__list {
    margin-left: 8px;
  }
}

.published {
  @include font($primary-gray, 12px, 400, 16px);

  @include tablet() {
    margin-left: 74px;
  }

  &__bold {
    font-weight: 500;
  }
  &__date {
    margin-left: 8px;
  }
}

.price {
  @include font($primary-gray, 36px, 600, 46px);
  margin-top: 30px;
  font-family: $EBGaramond;

  &--old {
    text-decoration: line-through;
    color: $light-grey;
  }

  &--new {
    color: $primary-orange;
    margin-left: 12px;
  }

  @include tablet() {
    margin-top: auto;
  }
}

.controls {
  @include flex($align: stretch, $direction: column);
  width: 100%;
  margin-top: 16px;

  @include tablet() {
    flex-direction: row;
    align-items: center;
  }
}

.checkout {
  width: 100%;

  &--preorder {
    background: $primary-gray;
  }

  @include tablet() {
    width: 224px;
  }
}

.preorder {
  @include font(#e57649, 12px, 400, 16px);
  width: 100%;
  margin-top: 12px;
  padding: 8px 12px;
  border: 1px solid #e57649;
  border-radius: 8px;
  background: $white;
  text-align: center;

  &__date {
    font-weight: 600;
  }

  @include tablet() {
    width: 234px;
    height: 51px;
    margin-top: 0;
    margin-left: 20px;
    text-align: left;
  }
}
