@import 'core.scss';

.brochure {
}

.image {
  height: 505px;
  background-size: cover;
  background-position: center;
  @include flex(center, center);
}

.content {
  text-align: center;
  @include desktop() {
    width: 40%;
  }
  @include desktop() {
    width: 30%;
  }
}
.title {
  @include font($white, 36px, 400, 46px);
}

.body {
  @include font($white, 24px, 400, 34px);
}

.download-button {
  display: block;
  width: 356px;
  height: 84px;
  margin: 0 auto;
  background-color: #f5f1f0;
  border-radius: 6px;
  cursor: pointer;
}
