@import 'core.scss';

.hero-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: calc(100vh - 60px);
  margin: 0 22px;
  gap: 20px;
  @include tablet() {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  @include desktop() {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
  @include ipad-p() {
    grid-template: initial;
  }
}

.hero {
  &__main {
    @include size(100%);
    background-color: dimgrey;
    border-radius: 6px;
    position: relative;
    @include ipad-l() {
      height: 95%;
    }
    &--pic {
      @include heroImage();
      @include size(100%);
      border-radius: 8px;
    }
    &__content {
      @include flex($justify: center, $direction: column);
      @include size(100%);
      padding: 20px;
      @include desktop() {
        padding-left: 108px;
      }
      & > div:first-child {
        @include font(#cbd0d3, 24px, 600, 46px);
        font-family: $EBGaramond;
        letter-spacing: -0.36px;
        @include tablet() {
          @include font(#cbd0d3, 36px, 600, 46px);
        }
      }
      & > div:nth-child(2) {
        @include font($white, 34px, 500, 22px);
        margin: 15px 0px;
        font-family: $EBGaramond;
        @include tablet() {
          @include font($white, 60px, 500, 70px);
        }
      }
      & > div:last-child {
        @include font($white, 14px, 400, 34px);
        margin-bottom: 40px;
        @include tablet() {
          margin-bottom: 0px;
          @include font($white, 24px, 400, 34px);
        }
      }
    }
  }
}
.hero-submain {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  @include ipad-l() {
    gap: 0px;
  }
}
.overlay {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  border-radius: 8px;
  background: linear-gradient(
    0deg,
    rgba(0, -24, 0, 900998) 0%,
    rgba(0, 0, 0, 0.550578) 25%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0.7;
}

.tags {
  & > div {
    max-height: 34px;
  }
  display: grid;
  gap: 4px;
  grid-template-columns: max-content max-content max-content;
  @include tablet() {
    grid-auto-flow: column;
  }
  @include desktop() {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
  }
}

.card {
  position: relative;
  @include size(100%);
  min-height: 270px;
  @include ipad-l() {
    height: 90%;
  }
  &--image {
    // @include flex($align: stretch, $justify: space-between, $direction: column);
    display: grid;
    @include size(100%);
    @include heroImage();
    border-radius: 8px;
    padding: 20px;
  }

  &__captions {
    @include font($white, 24px, 600, 46px);
    align-self: flex-end;
    z-index: 99;
    font-family: $EBGaramond;
    @include tablet() {
      @include font($white, 36px, 600, 46px);
    }
    cursor: pointer;
  }
  &__activity {
    @include font($primary-gray, 14px, 400, 22px);
    z-index: 99;
    width: fit-content;
    padding: 6px 24px;
    background-color: #f5f1f0;
    border-radius: 4px;
    @include tablet() {
      @include font($primary-gray, 16px, 400, 22px);
    }
  }
}

.card-link {
  @include font($white, 16px, 500, 22px);
  z-index: 99;
  text-decoration: underline;
  align-self: flex-end;
}

.arrow {
  position: absolute;
  bottom: 22px;
  left: 22px;
  color: $white;
  @include desktop() {
    left: 108px;
  }
}
