@import 'core.scss';

.hero-block {
  @include flex($justify: space-between);
  margin: 0 20px;
}

.hero {
  &__main {
    width: 60vw;
    &--pic {
      position: absolute;
      z-index: -1;
      width: 60vw;
      height: calc(100% - 77px);
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__content {
      @include flex($justify: center, $direction: column);
      width: 50%;
      height: 100%;
      margin-left: 120px;
      & > div:first-child {
        @include font(#cbd0d3, 36px, 600, 46px);
        font-family: $EBGaramond;
        letter-spacing: -0.36px;
      }
      & > div:nth-child(2) {
        @include font($white, 60px, 500, 70px);
        margin: 15px 0px;
        font-family: $EBGaramond;
      }
      & > div:last-child {
        @include font($white, 24px, 300, 34px);
        font-family: $IBMPlex;
      }
    }
  }
}
.hero-submain {
  @include flex($direction: column, $justify: space-between);
  position: relative;
  width: 35vw;
  height: calc(100vh - 77px);
  & > div:last-child {
    margin-top: 2%;
  }
}
.overlay {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, -24, 0, 900998) 0%,
    rgba(0, 0, 0, 0.550578) 25%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0.7;
}
.card {
  position: relative;
  height: 100%;
  min-width: 35vw;
  &--image {
    @include flex($align: stretch, $justify: space-evenly, $direction: column);
    // display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  &__captions {
    @include font($white, 36px, 600, 46px);
    z-index: 99;
    margin-left: 20px;
    font-family: $EBGaramond;
  }
  &__activity {
    @include font($primary-gray, 16px, 400, 22px);
    z-index: 99;
    width: fit-content;
    margin-left: 20px;
    padding: 6px 24px;
    background-color: #f5f1f0;
    border-radius: 8px;
  }
}

.card-link {
  @include font($white, 16px, 500, 22px);
  z-index: 99;
  margin-left: 20px;
  font-family: $IBMPlex;
  text-decoration: underline;
}

.arrow {
  position: absolute;
  bottom: 22px;
  left: 140px;
  color: $white;
}
