@import 'core.scss';

.profile {
  @include flex(space-between, stretch);
}

.column-left {
  @include flex($align: stretch, $direction: column);
  width: 30%;

  &__language {
    padding: 12px 20px 18px 20px;
  }

  &__contact {
    margin-top: 20px;
    padding: 20px 20px 16px 20px;
  }
}

.column-right {
  @include flex($align: stretch, $direction: column);
  flex: 1;
  margin-left: 20px;

  &__interests {
    padding: 12px 20px 20px 20px;
  }
}

.column-bottom {
  display: grid;
  gap: 20px;
  grid-template-areas: 'email-password avatar' 'payment container';
  grid-template-columns: auto 43%;
  height: 100%;
  margin-top: 20px;

  &__email-password {
    grid-area: email-password;
    padding: 12px 20px 41px 20px;
  }
  &__avatar {
    grid-area: avatar;
    padding: 12px 20px;
  }
  &__payment {
    grid-area: payment;
    padding: 12px 20px;
  }
  &__container {
    @include flex($align: stretch, $direction: column);
    grid-area: container;
  }
  &__privacy {
    padding: 12px 20px 18px 20px;
  }
  &__newsletter {
    flex: 1;
    margin-top: 20px;
    padding: 12px 20px;
  }
}
