@import 'core.scss';

.profile {
  display: grid;
  grid-template-columns: 335px 765px;
  gap: 20px;
}

.column-left {
  display: grid;
  grid-template-rows: minmax(177px, 177px) min-content;
  gap: 20px;
}

.column-right {
  display: grid;
  gap: 20px;
  grid-template-rows: minmax(177px, auto) minmax(986px, auto);

  &__avatar {
    grid-area: avatar;
  }
}

.secondaryInfoGrid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas: 'email-password avatar' 'payment privacy' 'payment newsletter';

  &__email-password {
    grid-area: email-password;
  }
  &__avatar {
    grid-area: avatar;
  }
  &__payment {
    grid-area: payment;
  }
  &__privacy {
    grid-area: privacy;
  }
  &__newsletter {
    grid-area: newsletter;
  }
}
