@import 'core.scss';

.materials-included {
  margin-top: 20px;
  padding: 20px;
  background: #f5f1f0;

  @include desktop() {
    margin-top: 0;
    padding: 60px 135px;
  }
}

.title {
  position: relative;
  &::before {
    content: url('../../../../../assets/img/text-decorator.svg');
    position: absolute;
    top: -44px;
  }
}

.materials {
  @include flex($align: stretch, $direction: column);
  width: 100%;
  margin-top: 20px;

  @include tablet() {
    margin-top: 24px;
  }

  @include desktop() {
    max-width: 540px;
    margin-top: 32px;
  }
}

.material {
  @include flex($align: center);
  padding: 9.5px 12px;
  border-radius: 8px;
  background: $white;

  &:not(:first-child) {
    margin-top: 16px;

    @include tablet() {
      margin-top: 20px;
    }
  }

  &__indicator {
    @include size(6px);
    @include min-size(6px);
    background: $primary-orange;
  }

  &__caption {
    @include font($primary-gray, 16px, 400, 20px);
    flex: 1;
    margin-left: 12px;

    @include tablet() {
      font-size: 18px;
      line-height: 28px;
    }
  }
}
