@import 'core.scss';

.library {
  margin: 0 10px;
  padding: 8px 20px 40px 20px;
  border-radius: 8px;
  background-color: $background;

  @include tablet() {
    margin: 0 20px;
    padding-bottom: 80px;
  }

  @include desktop() {
    margin: 0;
  }
}

.title {
  @include font(#3e3e3e, 24px, 400, 34px);
}

.navigation {
  @include flex(space-between, center);
  margin-top: 30px;

  @include tablet() {
    justify-content: flex-start;
  }

  @include desktop() {
    margin-top: 42px;
  }
}

.link {
  @include flex($align: center);
  @include font(#3e3e3e, 18px, 600);
  font-family: $EBGaramond;
  transition: $transition;

  &:not(:first-child) {
    @include tablet() {
      margin-left: 104px;
    }
  }

  &__icon {
    margin-left: 8px;
    transition: $transition;

    & > div {
      width: 24px;
    }
  }

  &--active {
    text-decoration: underline;
    color: #ff6634;

    .link__icon {
      @include fill(#ff6634);
    }
  }
}

.content {
  @include flex($justify: center);
  margin-top: 20px;

  @include desktop() {
    margin-top: 32px;
  }
}
