@import 'core.scss';

.library {
  margin-top: 100px;
  background-color: $background;
  padding: 7px 21px 95px 21px;
  border-radius: 7px;
  &__title {
    @include font($primary-gray, 24px, 400, 34px);
  }

  &__links {
    @include flex();
    margin-top: 42px;
    & > div {
      @include font($primary-gray, 18px, 600, 58px);
      font-family: $EBGaramond;
      cursor: pointer;
      &:hover {
        color: $primary-orange;
        text-decoration: underline;
        & > div > div > svg {
          fill: $primary-orange;
        }
      }
    }
    &__wish {
      @include flex($align: center);
      &-icon {
        & > div {
          @include flex($align: center);
          margin-left: 10px;
          & > svg {
            width: 24px;
          }
        }
      }
    }

    & > div:first-child {
      margin-right: 100px;
    }
  }
  &__books {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
  }
  &--book {
    @include flex($justify: center, $direction: column, $align: center);
    position: relative;
    &-name {
      margin: 20px 0;
    }
    &-buttons {
      @include flex($justify: space-between);
      width: 100%;
      padding: 0 20px;
    }
  }

  @include desktop() {
    @include accountContainer();
    margin-top: 33px;
  }
}

.menu {
  position: absolute;
  padding: 5px;
  background-color: $background;
  right: 0;
  bottom: -80px;
}

.download {
  @include flex($justify: space-between);
}
