@import 'core.scss';

.footer {
  width: 100%;
  background-color: #f5f1f0;
  padding-left: $left-offset;
  padding-right: $default-offset;
  position: fixed;
  z-index: -999;
  bottom: 0;
}

.content {
  padding: 24px 0px 16px 0px;
  @include flex($justify: space-between);
}

.subscribe {
  width: 90%;
  padding-right: 30px;
}

.navigation {
  @include flex($justify: space-between);
  width: 100%;
  &--caption {
    @include font($primary-gray, 18px, 500, 28px);
    font-family: $IBMPlex;
  }
  &__links {
    @include flex($align: stretch, $direction: column);
    margin-top: 13px;
    width: 33%;
    & > a {
      @include font($primary-gray, 16px, 400, 22px);
      width: 140px;
      margin-bottom: 13px;
      &:hover {
        text-decoration: underline;
        color: $primary-orange;
      }
    }
  }
}

.hr {
  height: 2px;
  background: $primary-gray;
  opacity: 0.2;
}

.copyrights {
  @include flex($justify: space-between);
  @include font($primary-gray, 12px, 500, 16px);
  padding: 22px 0px;
  font-family: $IBMPlex;
  &--link {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: $primary-orange;
    }
  }
}

.submit-form {
  position: relative;
  width: 100%;
  margin-right: 10px;
}

.button-submit {
  @include flex($justify: space-between);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 38%;
  padding: 11px 16px;
  border-radius: 4px;
  margin-left: 10px;
}
.form-input {
  input {
    padding: 13px 16px;
    background: $white;
    border-radius: 4px;
    outline: none;
    border: none;
    width: 60%;
  }
}

.copyrights-link-container {
  @include flex($justify: space-between);
  width: 100%;
  padding-left: 10px;
}

.copyright-info {
  width: 90%;
}


.social {
  margin-right: 10px;
}

@media screen and (max-width: 1010px) {
  .footer {
    padding-left: $default-offset;
  }
}

@media screen and (max-width: 860px) {
  .content {
    @include flex($direction: column);
  }
  .subscribe {
    margin-bottom: 20px;
    width: 100%;
    padding-right: 30px;
  }
  .navigation {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 441px) {
  .copyrights {
    @include flex($direction: column-reverse, $align: center);
  }
  .copyrights-link-container {
    flex-direction: column;
    align-items: center;
  }
  .copyright-info {
    @include flex($justify: center);
    width: 100%;
  }
  .copyrights--link {
    padding-bottom: 10px;
  }
  .subscribe {
    padding-right: 0;
  }
}

@media screen and (max-width: 487px) {
  .footer {
    position: relative;
    z-index: 1;
  }
}
