@import 'core.scss';

.footer {
  width: 100%;
  background-color: #f5f1f0;
  padding-left: $left-offset;
  padding-right: $default-offset;
  left: 0;
  position: fixed;
  z-index: -1;
  bottom: 0;
  padding-top: 24px;
}

.title {
  & > div:first-child {
    @include font($primary-gray, 36px, 600, 46px);
    letter-spacing: -0.48px;
    font-family: $EBGaramond;
  }
  & > div:nth-child(2) {
    @include font($primary-gray, 16px, 400, 22px);
    font-family: $IBMPlexSans;
    margin-top: 24px;
  }
}

.content {
  padding: 24px 0px 16px 0px;
  @include flex($justify: space-between);
}

.subscribe {
  width: 80%;
  padding-right: 30px;
}

.navigation {
  @include flex($justify: space-between);
  width: 100%;
  &--caption {
    @include font($primary-gray, 18px, 500, 28px);
    font-family: $IBMPlex;
  }
  &-item {
    width: 33%;
  }
  &__links {
    @include flex($align: stretch, $direction: column);
    margin-top: 13px;
    width: 33%;
    & > a {
      @include font($primary-gray, 16px, 400, 22px);
      width: 180px;
      margin-bottom: 13px;
      &:hover {
        text-decoration: underline;
        color: $primary-orange;
      }
    }
  }
}

.hr {
  height: 2px;
  background: $primary-gray;
  opacity: 0.2;
}

.copyrights {
  @include flex($justify: space-between);
  @include font($primary-gray, 12px, 500, 16px);
  padding-top: 12px;
  padding-bottom: 15px;
  font-family: $IBMPlex;
  &--link {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: $primary-orange;
    }
  }
}

.policy,
.terms {
  @include font($primary-gray, 12px, 500, 16px);
  font-family: $IBMPlex;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: $primary-orange;
  }
}

.policy {
  width: 67%;
}

.terms {
  width: 33%;
}

.submit-form {
  position: relative;
  width: 100%;
  max-width: 420px;
  margin-top: 12px;
  margin-right: 10px;
}

.button-submit {
  @include flex($justify: space-between);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 38%;
  margin-left: 10px;
  padding: 11px 16px;
  border-radius: 4px;
}
.form-input {
  input {
    width: 60%;
    padding: 13px 16px;
    background: $white;
    border-radius: 4px;
    outline: none;
    border: none;
  }
}

.copyrights-link-container {
  display: flex;
  width: 100%;
  padding-left: 10px;
}

.copyright-info {
  @include font($primary-gray, 12px, 500, 16px);
  width: 80%;
  font-family: $IBMPlex;
}

.social {
  margin-right: 10px;
}

@media screen and (max-width: 1080px) {
  .footer {
    padding-left: $default-offset;
  }
}

@media screen and (max-width: 970px) {
  .content {
    @include flex($direction: column);
  }
  .subscribe {
    width: 100%;
    margin-bottom: 20px;
    padding-right: 30px;
  }
  .navigation {
    flex-wrap: wrap;
  }
  .policy,
  .terms {
    width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .navigation-item {
    width: 49%;
  }
  .copyrights {
    @include flex($direction: column-reverse, $align: center);
  }
  .policy,
  .terms {
    width: auto;
  }
  .copyrights-link-container {
    flex-direction: column;
    align-items: center;
  }
  .copyright-info {
    width: auto;
  }
  .footer {
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 441px) {
  .navigation-item {
    width: 100%;
  }
  .copyrights--link {
    padding-bottom: 10px;
  }
  .subscribe {
    padding-right: 0;
  }
  .button-submit {
    & > div:nth-child(2) {
      display: none;
    }
  }
}
