@import 'core.scss';

.footer {
  width: 100%;
  background-color: #f5f1f0;
}
.content {
  padding: 24px 0px 16px 0px;
  @include container();
  @include flex($align: stretch);
}

.subscribe {
  width: 100%;
}

.navigation {
  @include flex($align: stretch);
  width: 100%;
  margin-left: 100px;
  & > div:not(:last-child) {
    margin-right: 100px;
  }
  &--caption {
    @include font($primary-gray, 18px, 500, 28px);
    font-family: $IBMPlex;
  }
  &__links {
    @include flex($align: stretch, $direction: column);
    margin-top: 13px;
    & > a {
      @include font($primary-gray, 16px, 400, 22px);
      width: 112px;
      margin-bottom: 13px;
    }
  }
}

.hr {
  @include container();
  height: 2px;
  background: $primary-gray;
  opacity: 0.2;
}

.copyrights {
  @include container();
  @include flex($justify: space-between);
  @include font($primary-gray, 12px, 500, 16px);
  padding: 22px 0px;
  font-family: $IBMPlex;
  &--link {
    text-decoration: underline;
    cursor: pointer;
  }
}

.submit-form {
  @include flex($align: stretch);
  position: relative;
  width: 100%;
}
.button-submit {
  @include flex($justify: space-between);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  padding: 11px 16px;
  border-radius: 4px;
}
.form-input {
  width: 60%;
  input {
    padding: 13px 16px;
    background: $white;
    border-radius: 4px;
    outline: none;
    border: none;
  }
}
