@import 'core.scss';

.forgot-password-modal {
  @include flex($align: stretch, $direction: column);
  width: 580px;
}

.title {
  @include font(#3e3e3e, 28px, 400, 35px);
  margin-top: 6px;
  font-family: $EBGaramond;
  text-align: center;
}

.content {
  padding: 0 92px 74px 92px;
  align-self: center;
}

.description {
  @include font(#3e3e3e, 16px, 400, 22px);
  margin-top: 16px;
}

.input {
  margin-top: 24px;

  input {
    background: #f5f1f0;
    border-color: #f5f1f0;
  }
}

.submit {
  width: 100%;
  margin-top: 16px;
}

.back {
  @include font(#3e3e3e, 18px, 400, 28px);
  margin-top: 16px;

  &__link {
    margin-left: 4px;
    text-decoration: underline;
    cursor: pointer;
  }
}

.success {
  &__caption {
    @include font(#3e3e3e, 18px, 400);
    text-align: center;
  }
}
