@import 'core.scss';

.forgot-password-modal {
  @include flex($align: stretch, $direction: column);
}

.title {
  @include font(#3e3e3e, 28px, 400);
  margin-top: 12px;
  text-align: center;
}

.content {
  max-width: 58%;
  align-self: center;
  padding-bottom: 60px;
}

.description {
  @include font(#3e3e3e, 16px, 400, 20px);
  margin-top: 18px;
}

.input {
  margin-top: 33px;
  input {
    background: #f5f1f0;
    border-color: #f5f1f0;
  }
}

.submit {
  width: 100%;
  margin-top: 16px;
}

.back {
  @include font(#3e3e3e, 18px, 400);
  margin-top: 20px;

  &__link {
    margin-left: 4px;
    text-decoration: underline;
    cursor: pointer;
  }
}

.success {
  &__caption {
    @include font(#3e3e3e, 18px, 400);
    text-align: center;
  }
}
