@import 'core.scss';

.product {
}

.back {
  @include font($primary-grey, 15px, 500, 20px);
  @include flex(space-between);
  width: 92px;
  margin-top: 60px;
  margin-left: 22px;
  padding: 8px 13px;
  background-color: #f5f1f0;
  border-radius: 3px;
  font-family: $IBMPlex;
  cursor: pointer;
}

.product-review {
  @include container();
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
  flex-direction: column;
  @include desktop() {
    flex-direction: row;
  }
}

.recomendedBooks {
  @include container();
  margin-top: 60px;
  @include tablet() {
    width: 100%;
  }
}

.slider {
  width: 100%;
  @include desktop() {
    width: 50%;
  }
}

.links {
  @include flex($align: center, $justify: space-between);
  width: 100%;
  margin: 22px 0px;
  padding-left: 22px;
  @include desktop() {
    margin-top: 94px;
    padding-left: 134px;
  }
  a {
    margin-right: 10px;
  }
}

.share-button {
  width: 35px;
  height: 35px;
  background-color: $background;
  border: unset;
  border-radius: 50%;
}

.download-btn {
  width: 56px;
  height: 56px;
  margin-right: 12px;
  background-color: $background;
  border: unset;
  border-radius: 50%;
}
