@import 'core.scss';

.back {
  @include font($primary-gray, 15px, 500, 20px);
  @include flex(space-between);
  position: absolute;
  top: 105px;
  left: 22px;
  width: 92px;
  padding: 8px 13px;
  background-color: #f5f1f0;
  border-radius: 3px;
  cursor: pointer;
}

.product-review {
  display: grid;
  min-height: calc(100vh - 100px);
  margin-top: 105px;
  @include desktop() {
    // margin-top: 15px;
    padding-right: 0;
    grid-template-columns: repeat(2, 1fr);
  }
}

.recomendedBooks {
  @include container();
  margin-top: 80px;
  @include tablet() {
    width: 100%;
  }
}

.slider {
  @include container();
  padding-right: 0 !important;
  width: 100%;
  @include flex($align: center, $justify: center, $direction: column);
  @include desktop() {
    margin-top: 0;
    padding-top: 36px !important;
  }
}

.links {
  @include flex($align: center, $justify: space-between);
  width: 100%;
  margin: 22px 0px;
  @include desktop() {
    margin-top: 26px;
  }
  &__formats {
    @include flex();
  }
}

.format {
  @include font($primary-gray, 9px, 400, 12px);
  @include flex($align: center, $justify: center);
  width: 35px;
  height: 35px;
  margin-right: 12px;
  background-color: $background;
  outline: none;
  border: unset;
  border-radius: 50%;
}

.hr {
  margin: 80px 26px 0 26px;
}

.product-slider-wrap {
  margin-bottom: 78px;
  & > div > div {
    padding-bottom: 66px !important;
  }
}
