@import 'core.scss';

.product {
}

.header {
  padding: 22px 27px;
}
.footer {
  margin-top: 80px;
}

.product-review {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
}

.recomendedBooks {
  @include container();
  margin-top: 60px;
}

.slider {
  width: 50%;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 94px;
  padding-left: 134px;

  a {
    margin-right: 10px;
  }
}

.share-button {
  width: 35px;
  height: 35px;
  background-color: $background;
  border: unset;
  border-radius: 50%;
}

.download-btn {
  width: 56px;
  height: 56px;
  margin-right: 12px;
  background-color: $background;
  border: unset;
  border-radius: 50%;
}
