@import 'core.scss';

.sign-up {
  @include flex(center, stretch, column);
  max-width: 506px;
  margin: 0 auto;
  flex: 1;
  margin-top: 132px;
  margin-bottom: 115px;
}

.form-fields {
  margin-top: 30px;
  &__radio-titles {
    @include flex();
    @include font($primary-gray, 16px, 400, 22px);
    text-align: center;
    margin-bottom: 16px;
    & > label {
      @include font($primary-gray, 16px, 400, 22px);
      margin-right: 32px;
    }
    & > div:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__input {
    & > input {
      background-color: $background;
      border-color: $background;
    }
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__radio-iam {
    min-width: 100%;
    background-color: $background;
    margin-bottom: 12px;
    padding: 8px 5px;
    border-radius: 4px;
    & > label {
      @include font($primary-gray, 16px, 400, 22px);
      display: block;
      margin-bottom: 11px;
    }
    & > div:not(:last-child) {
      @include font($primary-gray, 16px, 400, 22px);
      margin-bottom: 16px;
    }
  }
  &__accept {
    & > label {
      @include font($primary-gray, 18px, 500, 28px);
    }
  }
  &--hint-text {
    @include font($primary-gray, 18px, 400, 28px);
    margin: 16px 0;
    & > span {
      font-weight: 600;
    }
  }
  &__submit {
    width: 100% !important;
  }
}

.success-hint {
  @include font($primary-gray, 24px, 400, 24px);

  margin: 0 auto;
  margin-top: 160px;
}
