@import 'core.scss';

.sign-up {
  @include flex(center, stretch, column);
  width: 505px;
  flex: 1;
  margin: 132px auto 115px auto;
}

.form {
  margin-top: 40px;
}

.title {
  @include flex($align: stretch);

  &__list {
    margin-left: 32px;
  }

  &__radio {
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

.position {
  margin-top: 12px;
  padding: 8px 5px;
  border-radius: 4px;
  background-color: $background;

  &__list {
    margin-top: 12px;
  }

  &__radio {
    &:not(:first-child) {
      margin-top: 18px;
    }
  }
}

.field {
  margin-top: 16px;

  & > input {
    background-color: $background;
    border-color: $background;
  }
}

.accept {
  margin-top: 16px;

  &__label {
    @include font($primary-gray, 18px, 500, 28px);
  }
}

.hint {
  @include font($primary-gray, 18px, 400, 28px);
  margin-top: 16px;

  &--bold {
    font-weight: 500;
  }
}

.submit {
  width: 100%;
  margin-top: 16px;
  padding: 12px 16px;
}

.success-hint {
  @include font($primary-gray, 24px, 400, 24px);
  margin: 160px auto 0 auto;
}
