@import 'core.scss';

.quote {
  position: relative;
  height: 657px;
  padding: 0 $default-offset;
  @include heroImage();
  @include imageOverlay();
  @include flex($justify: center, $align: center);
  box-sizing: border-box;
  overflow: hidden;
  min-height: 500px;
}

.text {
  @include font($white, 36px, 400, 46px);
  max-width: 500px;
  font-family: $EBGaramond;
  letter-spacing: -0.48px;
  text-align: center;
}
