@import 'core.scss';

.caption {
  margin-top: 60px;
  @include container();
}

.filters {
  display: grid;
  grid-template-columns: repeat(7, max-content);
  margin: 22px;
  overflow-x: scroll;
  padding-bottom: 8px;
  &::-webkit-scrollbar {
    height: 4px;
    background: $primary-orange;
  }
  &::before,
  &::after {
    content: '';
    margin: auto;
    @include tablet() {
      margin: 0;
    }
  }
  @include desktop() {
    overflow: initial;
    margin: 35px 0px 40px 22px;
  }
  & > div {
    margin-right: 8px;
  }
}

.article {
  &-img {
    @include flex($align: center, $justify: center);
    background: $hr;
    @include heroImage();
    border-radius: 4px;
    min-height: 301px;
    grid-row: 2;
    grid-column: 2 / 2 span;
  }
  &-content {
    @include flex($justify: space-evenly, $direction: column);
    height: 100%;
    padding: 20px;

    @include tablet() {
      padding: 80px 110px;
    }
    @include ipad-p() {
      padding: 22px;
    }
    & > div:first-child {
      @include font(#cbd0d3, 28px, 400, 35px);
      font-family: $EBGaramond;
    }
    & > div:nth-child(2) {
      @include font($white, 34px, 500, 58px);
      font-family: $EBGaramond;
      @include tablet() {
        @include font($white, 48px, 500, 58px);
      }
    }
  }
}

.articles {
  margin: 0px 22px;
  @include tablet() {
    display: grid;
    row-gap: 40px;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include desktop() {
    display: grid;
    row-gap: 40px;
    column-gap: 10px;
    grid-template-rows: repeat(3, 1fr);
  }
  @include desktop-lg() {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.show-more {
  @include flex($justify: space-between);
  width: 50%;
  margin: 30px 22px;
  @include desktop() {
    width: 15%;
    margin: 30px 0px 140px 132px;
  }
}
