@import 'core.scss';

.featured-articles {
}

.caption {
  @include container();
  margin: 60px auto;
  & > div:first-child {
    @include font($primary-orange, 18px, 500, 28px);
    font-family: $IBMPlex;
  }
}

.filters {
  display: flex;
  margin: 22px 0px 40px 22px;
}

.article-img {
  grid-row: 2;
  grid-column: 2 / 2 span;
  background-size: cover;
  background-repeat: no-repeat;
}

.articles {
  display: grid;
  margin: 0px 22px;

  grid-template-columns: 459px 459px 459px;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 10px;
  @include desktop-lg() {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.show-more {
  @include flex($justify: space-between);
  width: 15%;
  margin: 30px 0px 140px 132px;
}
