@import 'core.scss';

.contributor-card {
  cursor: pointer;
  width: 316px;
  user-select: none;
  &:hover {
    .info {
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.432);
      transition: background-color 200ms linear;
      &-text {
        border-bottom: 1px solid #ffffff;
      }
    }
  }
}

.img-container {
  position: relative;
  width: 316px;
  height: 316px;
  border-radius: 8px;
}

.info {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  color: #ffffff00;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 100ms linear;
  &-text {
    margin-bottom: 40px;
    padding-bottom: 2px;
  }
}

.name {
  @include font($primary-gray, 24px, 400, 32px);
  margin-top: 13px;
}

.role {
  @include font($primary-gray, 16px, 400, 14px);
  margin-top: 4px;
}

@media screen and (max-width: 350px) {
  .img {
    max-width: 260px;
  }
}
