@import 'core.scss';

.mentors {
  background-color: $background;
  padding: 60px 22px;
}

.title {
  padding-left: 112px;
  & > div:first-child {
    @include font($primary-gray, 48px, 500, 50px);
    position: relative;
    font-family: $EBGaramond;
    &::before {
      content: url('../../../../../assets/img/text-decorator.svg');
      position: absolute;
      top: -56px;
    }
  }
  & > div:nth-child(2) {
    height: 2px;
    max-width: 450px;
    margin-top: 34px;
    margin-bottom: 17px;
    background: #cbd0d3;
  }
  & > div:nth-child(3) {
    @include font($primary-gray, 18px, 300, 26px);
    max-width: 450px;
    margin-top: 15px;
    margin-bottom: 48px;
    font-family: $IBMPlex;
  }
}

.slider {
  @include flex($justify: space-between, $align: center);
  position: relative;
  padding-bottom: 108px;
  overflow: hidden;
  ul {
    margin-bottom: 8px;
    li {
      @include desktop() {
        width: 354px !important;
      }
    }
  }
}

.controls {
  padding-left: $left-offset;
}

@media screen and (max-width: 768px) {
  .title {
    padding: 0 $default-offset;
  }

  .controls {
    padding-left: 0;
  }
}

@media screen and (max-width: 350px) {
  .controls {
    margin-left: -15px;
  }
}
