@import 'core.scss';

.mentors {
  position: relative;
  overflow: hidden;
  padding: 70px $default-offset;
  &__modified {
    padding: 35px 22px 60px 22px;
  }
  @include desktop() {
    padding: 70px $left-offset;
  }
}

.lPattern {
  position: absolute;
  left: -673px;
  top: -211px;
}

.title {
  &--modified {
    & > div:first-child {
      text-align: center;
      margin-top: 0;
    }
  }
  & > div:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 26px;
    text-align: center;
  }
  & > div:nth-child(3) {
    @include font($primary-gray, 18px, 400, 26px);
    max-width: 764px;
    text-align: center;
    margin: 0 auto 48px;
  }
}

.slider {
  @include flex($justify: space-between, $align: center);
  position: relative;
  padding-bottom: 45px;
  overflow: hidden;
  ul {
    margin-bottom: 8px;
  }
}

.cards {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 60px;
  @include tablet() {
    grid-template-columns: repeat(2, 330px);
    justify-content: center;
  }
  @include desktop() {
    grid-template-columns: repeat(5, 1fr);
  }
}

.controls {
  padding-left: $left-offset;
}

@media screen and (max-width: 768px) {
  .title {
    padding: 0 $default-offset;
  }

  .controls {
    padding-left: 0;
  }
}

@media screen and (max-width: 350px) {
  .controls {
    margin-left: -15px;
  }
}

.pre-caption {
  @include font($primary-orange, 18px, 500);
  font-family: $IBMPlex;
}

.no-mentors {
  width: 100%;
  text-align: center;
}

.button {
  &--explore {
    border: 1px solid $primary-orange;
    & > div:first-child {
      @include flex($align: center, $justify: space-between);
      @include font($primary-orange, 16px, 500);

      width: 100%;
    }
    margin: 31px auto 22px;
    background: transparent;
    height: 44px;
    width: 85%;
    @include tablet() {
      width: 336px;
      margin: 58px auto 0;
    }
  }
}
