@import 'core.scss';

.cart {
  position: relative;
  margin-right: 20px;
  z-index: 1000;
}

.indicator {
  @include flex(center, center);
  @include size(16px);
  @include min-size(16px);
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 12px;
  color: $white;
  background: $primary-orange;
  border-radius: 50%;
}
