@import 'core.scss';

.jobs-list {
  margin-top: 82px;
  padding: 0 22px;
  @include desktop() {
    padding: 0px 122px 0px 134px;
  }
}

.description {
  margin-bottom: 0;
}

.filters {
  @include flex($align: stretch);
  margin-top: 14px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 12px 0px;
  @include desktop() {
    overflow: initial;
  }
  & > div {
    margin-right: 8px;
  }
}

.vacancies {
  max-height: 100vh;
  overflow: scroll;
  margin-top: 72px;
  padding-right: 12px;
}
