@import './normalize.scss';
@import 'core.scss';
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialised;
}

body {
  font-family: $IBMPlex;
  -webkit-font-smoothing: antialiased; 
}
