@import 'core.scss';

.content {
  padding-top: 120px;
}

.back {
  width: 92px;
  margin-left: 20px;
  padding: 8px 13px;
  background-color: #f5f1f0;
  border-radius: 3px;
  font-family: 'IBM Plex Sans';
  @include flex(space-between);
  cursor: pointer;
}

.footer {
  margin-top: 120px;
  @include container($top: 50px);
  background: $background;
  &_content {
    width: 300px;
    &--date {
      @include font(#CBD0D3, 16px, 500, 22px);
      margin-top: 12px;
    }
    &--caption {
      margin: 8px 0px;
    }
  }
}

.hr {
  margin: 50px 22px;
  width: 53%;
  @include desktop() {
    margin: 50px 0px 50px 134px;
    width: 36%;
  }
  height: 2px;
  background: #CBD0D3;
}

