@import 'core.scss';

.button {
  @include flex($align: center, $justify: space-between);
  position: relative;
  width: fit-content;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  @include buttonHover;

  &--primary {
    @include font($white, 16px, 500, 22px);
    font-family: $IBMPlex;
    background: $primary-orange;
    // border: 1px solid $primary-orange;
  }

  &--secondary {
    @include font($primary-gray, 16px, 500, 22px);
    background: none;
    transition: $transition;
    border: 1px solid $primary-orange;

    &:hover {
      color: $white;
      background: $primary-orange;
      border-color: $primary-orange;
      border: 1px solid $primary-orange;
    }
    &::before {
      content: '';
      position: absolute;
      background-color: $primary-orange;
      opacity: 0.1;
      z-index: 1;
      transition: all 170ms cubic-bezier(0.29, 0.04, 0.23, 1);
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      margin: 0;
      border-radius: inherit;
    }

    &:hover {
      border-color: $primary-orange;
      border: 1px solid $primary-orange;
      outline: none;
      &::before {
        top: unset;
        bottom: 0;
        height: 100%;
        transition: all 170ms cubic-bezier(0.29, 0.04, 0.23, 1);
      }
    }
  }

  &--sm {
    padding: 8px 14px;
    font-size: 12px;
    line-height: 20px;
  }

  &--md {
    padding: 11px 16px;
    font-size: 16px;
    line-height: 20px;
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:active {
    opacity: 0.5;
  }
  &:hover {
    &:not([disabled]) {
      opacity: 0.9;
    }
  }
}
