@import 'core.scss';

.impact {
  width: 100%;
  padding: 120px 0;
  padding-left: $left-offset;
}

.title {
  margin-bottom: 48px;
  & > div:nth-child(2) {
    margin-top: 12px;
  }
}

.slider {
  @include flex($justify: space-between, $align: center);
  position: relative;
  padding-bottom: 76px;
  overflow: hidden;
}

.controls {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .impact {
    padding-left: $default-offset;
  }
}

.pre-caption {
  margin: 0px 0px 7px 0px;
}
