@import "core.scss";

.program-learning-approach {
  padding: $left-offset 0;
}

.title {
  @include font($primary-grey, 48px, 500, 50px);
  font-family: $EBGaramond;
  margin-bottom: 40px;
  padding-left: $left-offset;
}

.button {
  margin-left: $left-offset;
  width: 204px;
  margin-top: 20px;
  @include flex($justify: space-between);
}

.content {
  @include flex($justify: center);
  flex-wrap: wrap;
  padding: 0 12px;
  .item {
    padding: 16px;
    min-height: 208px;
    min-width: 428px;
    flex: 1;
    border: 1px solid $light-grey;
    border-radius: 6px;
    margin: 10px;
    & > div:first-child {
      @include font($primary-grey, 24px, 400, 28px);
      max-width: 600px;
      font-family: $IBMPlex;
    }
    & > div:nth-child(2) {
      @include font($primary-grey, 18px, 400, 22px);
      font-family: $IBMPlex;
      margin-top: 20px;
    }
  }
}
