@import 'core.scss';

.program-learning-approach {
  padding: 124px 0;
}

.title {
  @include font($primary-gray, 48px, 600, 58px);
  font-family: $EBGaramond;
  margin-bottom: 40px;
  padding-left: $left-offset;
}

.button {
  @include flex($justify: space-between);
  margin-left: $left-offset;
  width: 204px;
  margin-top: 20px;
}

.content {
  @include flex($justify: center);
  flex-wrap: wrap;
  padding: 0 12px;

  .item {
    padding: 16px;
    min-height: 208px;
    min-width: 428px;
    max-width: 428px;
    flex: 1;
    border: 1px solid $light-grey;
    border-radius: 6px;
    margin: 10px;
    & > div:first-child {
      @include font($primary-gray, 24px, 400, 34px);
      max-width: 600px;
      font-family: $IBMPlex;
    }
    & > div:nth-child(2) {
      @include font($primary-gray, 18px, 400, 28px);
      font-family: $IBMPlex;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .program-learning-approach {
    padding: $default-offset 0;
  }
  .title {
    padding: 0 $default-offset;
  }
  .item {
    min-width: 100% !important;
  }
  .button {
    margin-left: $default-offset;
  }
}
