@import 'core.scss';

.sso {
  @include flex(space-between, center);
}

.custom-log-in {
  @include font($white, 16px, 500, 22px);
  @include flex($justify: space-between);
  background-color: $primary-orange;
  min-width: 244px;
  padding: 12px 12px 12px 16px;
  border: unset;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  & > img {
    order: 2;
  }
}
