@import "core.scss";

.burger-button {
  @include flex($align:center);
  cursor: pointer;
  user-select: none;
  color: #ffffff;
  &:hover {
    text-decoration: underline;
    .icon {
      background-color: #cccccc;
    }
  }
  .text {
    @include font($white, 18px, 500);
    font-family: $IBMPlex;
    padding-left: 10px;
    &.inverted {
      color: $primary-grey;
      &:hover {
        text-decoration: underline;
        .icon {
          background-color: #cccccc;
        }
      }
    }
  }
  .icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $background;
    padding: 4px;
    padding-top: 5.5px;
    &:hover {
      background-color: #cccccc;
    }
    &::after,
    &::before,
    .inner {
      background-color: $primary-orange;
      border-radius: 3px;
      content: '';
      display: block;
      height: 2px;
      margin: 2px 0;
      transition: all .2s ease-in-out;
    }
    &.opened {
      &:before {
        transform: translateY(4px) rotate(135deg);
      }
      &:after {
        transform: translateY(-4px) rotate(-135deg);
      }
      .inner {
        transform: scale(0.1);
        opacity: 0;
      }
    }
  }
}
