@import 'core.scss';

.partner-apply {
  background-color: $background;
}

.container {
  @include container();
  padding-top: 50px;
}

.form-wrapper {
  width: 50%;
}

.form-section {
  &__main-info {
    display: flex;
    margin-bottom: 20px;
    &__name {
      margin-right: 20px;
    }
  }
}

.hr {
  width: 100%;
  height: 2px;
  background-color: $light-grey;
  margin-top: 20px;
}

.name {
  margin-right: 10px;
}

.email {
  width: 65%;
}

.comment {
  input {
    padding-bottom: 150px;
  }
}

.button-submit {
  justify-content: space-between;
  width: 200px;
}

.send {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
