@import 'core.scss';

.title {
  @include container();
}

.cards-container {
  display: grid;
  gap: 10px;
  margin: 48px 22px 0px 22px;
  @include desktop() {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  & > div {
    justify-self: center;
  }
}
