@import 'core.scss';

.title {
  @include container();
  @include desktop {
    padding-top: 20px;
    width: 60%;
  }
}

.cards-container {
  display: grid;
  gap: 19px;
  margin: 0 22px;
  padding: 48px 0 20px 0;
  @include desktop() {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  & > div {
    @include desktop() {
      justify-self: center;
    }
  }
}
