@import 'core.scss';

.upload-avatar {
  width: 100%;
  height: 100%;
}

.title {
  @include font($primary-gray, 24px, 400, 24px);
}

.upload {
  @include flex($align: center, $direction: column);
  height: 100%;
}

.avatar {
  position: relative;
  width: 100% !important;
  height: 90% !important;
  border-radius: 7px;
  margin-top: 20px;
  &--caption {
    position: absolute;

    top: calc(50% - 9px);
    font-size: 18px;
    cursor: pointer;
  }
  &:hover {
    &--caption {
      display: block;
    }
  }
}

.delete {
  margin-top: 6px;
  font-size: 18px;
  cursor: pointer;
}

.input {
  display: none;
}
