@import 'core.scss';

.account {
  @include flex($align: stretch, $direction: column);
  flex: 1;
}

.hero {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include tablet() {
    height: 90vh;
  }
}

.navigation {
  @include flex($align: stretch, $direction: column);
  margin-top: -100px;

  @include tablet() {
    margin-top: -115px;
  }
}

.title {
  @include font($white, 54px, 600);
  font-family: $EBGaramond;
  text-align: center;

  @include tablet() {
    font-size: 60px;
    line-height: 70px;
  }
}

.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
  align-self: center;
  margin-top: 50px;
  padding: 0 10px;

  @include tablet() {
    width: 100%;
    margin-top: 72px;
    padding: 0 20px;
    gap: 20px;
  }

  @include desktop() {
    width: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 20px;
  }
}

.link {
  @include flex($align: center);
  width: 100%;
  padding: 10px 16px;
  border-radius: 4px;
  background: #f5f1f0;
  transition: $transition;

  @include tablet() {
    padding: 11px 20px;
  }

  @include desktop() {
    width: 204px;
  }

  &__index {
    @include font(#ff6634, 16px, 600);
    font-family: $EBGaramond;

    @include tablet() {
      font-size: 18px;
    }
  }

  &__caption {
    @include font(#3e3e3e, 14px, 500);
    flex: 1;
    margin-left: 8px;

    @include tablet() {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &--active {
    background: #ff6634;

    .link__index,
    .link__caption {
      color: $white;
    }
  }

  &--notEnabled {
    pointer-events: none;
  }
}

.content {
  width: 100%;
  margin: 20px auto 28px auto;

  @include desktop() {
    max-width: 1140px;
    margin: 28px auto 80px auto;
  }
}
