@import 'core.scss';

.account {
  @include flex($align: stretch, $direction: column);
  flex: 1;
}

.hero {
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navigation {
  @include flex($align: stretch, $direction: column);
  margin-top: -120px;
}

.title {
  @include font($white, 60px, 600, 70px);
  font-family: $EBGaramond;
  text-align: center;
}

.links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 20px;
  max-width: 65%;
  align-self: center;
  margin-top: 72px;
}

.link {
  @include flex($align: center);
  padding: 12px 20px;
  border-radius: 4px;
  background: #f5f1f0;
  transition: $transition;

  &__index {
    @include font(#ff6634, 18px, 600);
    font-family: $EBGaramond;
  }

  &__caption {
    @include font(#3e3e3e, 16px, 500, 22px);
    flex: 1;
    margin-left: 8px;
  }

  &--active {
    background: #ff6634;

    .link__index,
    .link__caption {
      color: $white;
    }
  }
}

.content {
  width: 100%;
  max-width: 1140px;
  margin: 28px auto 80px auto;
}
