@import 'core.scss';

.vacancy {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid $light-grey;
  @include flex(space-between, center);
  &__title {
    font-family: $EBGaramond;
    @include font($primary-orange, 18px, 600);
  }
  &__description {
    padding: 18px 0;
    font-family: $IBMPlexSans;
    @include font($primary-grey, 24px, 400, 34px);
  }
}
