@import 'core.scss';

.how-become-partner {
  &__title {
    @include container();
    margin-top: 64px;
  }
}

.cards-row {
  display: grid;
  column-gap: 22px;
  margin-top: 40px;
  padding: 0 22px;
  @include tablet() {
    grid-template-columns: repeat(2, 1fr);
  }
  @include desktop() {
    grid-template-columns: repeat(4, 1fr);
  }
}
