@import "core.scss";

.enroll {
  margin: 60px 0;
  padding-left: $left-offset;
}

.title {
  & > div:first-child {
    @include font($primary-grey, 48px, 600, 50px);
    max-width: 600px;
    font-family: $EBGaramond;
    letter-spacing: -0.36px;
  }
}

.roles {
  margin-top: 38px;
  display: flex;
  max-width: 680px;
  flex-wrap: wrap;
  .role {
    width: 315px;
    background-color: $background;
    height: 84px;
    margin-right: 21px;
    margin-bottom: 24px;
    @include flex($align: center);
    @include font($primary-grey, 28px, 400, 35px);
    letter-spacing: -1px;
    font-family: $EBGaramond;
    &:before {
      content: '■';
      padding-left: 16px;
      padding-right: 8px;
      color: $primary-grey;
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .enroll {
    padding: 0 $default-offset;
  }
  .roles {
    .role {
      width: 100%;
      margin-right: 0;
      @include font($primary-grey, 24px, 400, 26px);
    }
  }
}
