@import 'core.scss';

.drop-down {
  position: absolute;
  top: 40px;
  right: calc(50% - 300px);
  width: max-content;
  padding: 20px;
  background-color: $background;
  border-radius: 16px;
  overflow: hidden;
  border-bottom: 1px solid #cbd0d3;

  & > div:not(:last-child) {
    margin-bottom: 11px;
  }
  &__item {
    cursor: pointer;
    transition: $transition;
    color: $primary-gray;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 8px;
    &:hover {
      color: $primary-orange !important;
      & > div:first-child {
        text-decoration: underline;
      }
    }
    &--name {
      margin-bottom: 4px;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
    }
  }
  &--footer {
    cursor: pointer;
    color: $primary-gray;
    transition: $transition;
    margin-top: 27px;
    &:hover {
      color: $primary-orange !important;
    }
    &--title {
      @include font(20px, 500, 28px);
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      & > span {
        color: $primary-orange;
      }
    }
    &-image {
      margin-top: 7px;
      min-height: 200px;
      width: 100%;
      border-radius: 10px;
    }
  }
}
