@import 'core.scss';

.dropdown {
  position: absolute;
  top: 40px;
  background-color: $background;
  height: auto;
  padding: 16px;
  border-radius: 7px;
  min-width: max-content;
  &__title {
    @include font($primary-gray, 20px, 600, 28px);
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 9px;
    cursor: pointer;
    transition: $transition;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: $primary-orange;
    }
    &:hover {
      color: $primary-orange;
    }
    & > span {
      margin-left: 8px;
      color: $primary-orange;
    }
  }
  &__programs {
    margin-bottom: 27px;
    &--program {
      @include font($primary-gray, 20px, 500, 28px);
      transition: $transition;
      padding-bottom: 8px;
      color: $primary-gray;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      cursor: pointer;
      &-subtitle {
        @include font($primary-gray, 16px, 400, 22px);
        margin-top: 4px;
      }
      &:hover > div {
        color: $primary-orange !important;
        & > div:first-child {
          text-decoration: underline;
        }
      }
      &:not(:first-child) {
        margin-top: 11px;
      }
    }
  }
  &__links {
    @include flex($direction: column, $justify: space-between);
    width: 100%;
    &--link {
      width: 100%;
      min-width: 275px;
      cursor: pointer;
      color: $primary-gray;
      transition: $transition;

      &:hover {
        color: $primary-orange !important;
      }
      &-caption {
        @include font(20px, 500, 28px);
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        & > span {
          color: $primary-orange;
        }
      }
      &-image {
        width: 100%;
        margin-top: 7px;
        min-height: 200px;
        border-radius: 10px;
      }
      &:not(:last-child) {
        margin-right: 28px;
        margin-bottom: 15px;
      }
    }
  }
}
