@import 'core.scss';

.tip-card {
  padding: 22px;
  background-color: #f5f1f0;
  border-radius: 4px;
  @include desktop() {
    padding: 50px 100px;
  }
}

.card {
  height: 285px;
  &--title {
    @include font($primary-gray, 28px, 400, 35px);
    font-family: $EBGaramond;
  }
  &--subtitle {
    @include font($primary-gray, 18px, 400, 35px);
    margin: 0;
    font-family: $EBGaramond;
  }
  &--description {
    margin-top: 12px;
    font-size: 16px;
  }
}

.hr {
  width: 2vw;
  height: 2px;
  margin-top: 10px;
  background: $hr;
}
