@import 'core.scss';

.tip-card {
  padding: 42px 92px;
  background-color: #f5f1f0;
  border-radius: 4px;
}

.card {
  &--title {
    font-family: $EBGaramond;
    font-weight: 400;
  }
  &--subtitle {
    margin: 0;
  }
}

.hr {
  width: 2vw;
  height: 2px;
  margin-top: 10px;
  background: $hr;
}
