@import 'core.scss';

.course-special {
  height: 100%;
  @include flex($justify: start, $direction: column);
  @include container();

  min-height: 500px;
  box-sizing: border-box;
  overflow: hidden;

  background-image: url('../../../../../assets/backgrounds/Section9.png');
  // @include imageOverlay();
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  @include tablet() {
    background-color: initial;
    background-position: inherit;
  }
}

.title {
  text-align: center;
  width: 100%;
  @include flex($justify: center, $direction: column, $align: center);

  // @include mobile() {
  //   text-align: start;
  // }
}
.innerbox {
  width: 75%;
  margin-bottom: 20px;
  @include mobile() {
    width: 100%;
    margin-bottom: 10px;
  }
}

.sectiontitle {
  @include font($primary-green, 48px, 600, 82px);
  @include mobile() {
    @include font($primary-green, 48px, 600, 46px);
    text-align: center;
  }
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 100%;
  @include desktop() {
    padding-bottom: 52px;
  }
  @include mobile() {
    grid-template-columns: 1fr;
    padding-bottom: 32px;
  }
}

.img {
  width: 100%;
}

.card {
  // width: 75%;
  min-height: 150px;
  text-align: center;
  gap: 10px;
  @include flex($direction: column, $align: center);
  @include desktop() {
    padding: 0px 66px;
  }
  @include mobile() {
    padding: 0px;
  }
}
.card-text-box {
  @include flex($justify: center, $direction: column, $align: center);
}
.card-special-title {
  margin: 5px 0;
  @include font($primary-orange, 25px, 600, 32px);
}
.card-special-text {
  margin: 5px 0;
  @include font($primary-gray, 16px, 400, 24px);
  text-align: center;
  width: 90%;
  @include mobile() {
    width: 100%;
  }
}
