@import 'core.scss';

.password-changed-modal {
  border-radius: 3px;
  width: 692px;
  padding: 40px 140px;
  position: relative;
}

.content {
  @include flex(center, center, column);
}

.title {
  @include font($primary-gray, 48px, 600, 58px);
  font-family: $EBGaramond;
  text-align: center;
}

.button {
  width: 250px;
  margin-top: 51px;
}

.link {
  @include font($primary-gray, 18px, 400, 28px);
  margin-top: 16px;
  text-decoration: underline;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
}
