@import "core.scss";

.intro {
  background: url('../../../../../assets/img/home/home.png') no-repeat center center;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  min-height: 500px;
  padding-right: $default-offset;
  padding-left: $left-offset;
	@include flex($justify: center, $direction: column);
}

.title {
  & > div:first-child {
    @include font($white, 60px, 500, 65px);
    max-width: 600px;
    font-family: $EBGaramond;
    letter-spacing: -0.36px;
  }
  & > div:nth-child(2) {
    @include font($white, 24px, 400, 40px);
    margin: 35px 0px;
    font-family: $IBMPlex;
  }
}

.scroll-button {
  bottom: 15px;
  position: absolute;
}

.find-button {
  width: 230px;
  margin-bottom: 30px;
  @include flex($justify: space-between);
}

@media screen and (max-width: 768px) {
  .intro {
    padding-left: $default-offset;
  }
  .title {
    & > div:first-child {
      @include font($white, 50px, 500, 40px);
    }
    & > div:nth-child(2) {
      @include font($white, 20px, 400, 20px);
    }
  }
}
