@import 'core.scss';

.slider {
  @include flex($justify: space-between, $align: center);
  margin-top: 46px;
  position: relative;
  padding-bottom: 60px;
  overflow: hidden;
  padding-left: 12px;
  @include tablet() {
    margin-top: 24px;
    padding-left: 15px;
  }
}

.controls {
  @include tablet() {
    margin-left: 97px;
  }
  button {
    background-color: $primary-orange;
    color: $white;
  }
  &--not-orange {
    button {
      background-color: $background;
      color: $black
    }
  }
}

