@import 'core.scss';

.header-main {
  position: relative;
  display: none;
  width: 100%;
  padding: 10px 20px 10px 22px;
  transition: $transition;

  &_navigation {
    @include flex($justify: flex-end, $align: center);
    width: 100%;
  }
  @include desktop() {
    @include flex($align: flex-end, $justify: space-between);
  }
}

.inverted-header {
  color: $primary-gray !important;
  border-color: $primary-gray !important;
}
