@import 'core.scss';

.program-item {
  @include flex($justify: space-between);
  position: relative;
  height: 250px;
  overflow: hidden;
  padding: $default-offset;
}

.nameAndLike {
  @include flex(start, center, row);
}

.iconWrapper {
  margin-left: 10px;
  min-width: 40px;
  height: 40px;
  @include flex(center, center);
  background-color: #f5f1f0;
  border-radius: 50%;
  @include tablet() {
    @include size(40px);
  }
}

.like {
  @include size(24px);
  // position: absolute;
  // top: 50%;
  // right: 22px;
  @include desktop() {
    // top: 22px;
  }
}

.container {
  display: flex;
  height: 221px;
  img {
    max-width: 317px;
    object-fit: cover;
    height: 100%;
    border-radius: 6px;
  }
}

.image {
  position: relative;
  background-size: cover;
  width: 317px;
  height: 100%;
  border-radius: 6px;
  &--watch-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}

.video {
  display: none;
}

.info {
  margin-left: 20px;
  overflow: hidden;
  @include flex(space-around, flex-start, column);
}

.type {
  @include font($primary-orange, 18px, 500, 28px);
}

.name {
  @include font($primary-gray, 36px, 500, 39px);
  font-family: $EBGaramond;
  letter-spacing: -0.48px;
  transition: $transition;
  cursor: pointer;
  &:hover {
    color: $primary-orange;
  }
}

.secondary-info {
  @include font($primary-gray, 16px, 400, 22px);
  font-family: $IBMPlex;
  margin: 10px 0;
}

.description {
  @include font($primary-gray, 16px, 400, 22px);
  font-family: $IBMPlex;
  max-width: 316px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.button-container {
  @include flex($align: flex-end);
  height: 100%;
  margin-left: 10px;
}

.button {
  @include flex($justify: space-between);
  width: 224px;
  height: 44px;
  margin-top: 20px;
  margin-right: 90px;
}

.vhr {
  color: #b1b8bd;
  margin: 0 26px;
}

.hr {
  height: 1px;
  background-color: $hr;
  margin: 0 $default-offset;
  margin-top: 20px;
}

@media screen and (max-width: 1030px) {
  .program-item {
    flex-direction: column;
    height: 560px;
    width: 50%;
  }
  .button {
    margin-right: 0;
  }
  .hr {
    display: none;
  }
  .container {
    flex-direction: column;
    height: 487px;
    img {
      max-height: 250px;
      width: 100%;
      max-width: 100%;
    }
  }
  .info {
    margin-left: 0;
    margin-top: 10px;
  }
  .button-container {
    height: auto;
    width: 100%;
    margin-left: 0;
    .button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .program-item {
    width: 100%;
    max-width: 500px;
  }
}

.price {
  display: inline-block;

  &--old {
    text-decoration: line-through;
    color: $light-grey;
  }
  &--new {
    margin-left: 7px;
    color: $primary-orange;
  }
}
