@import 'core.scss';

.how-we-teach {
  margin-top: 85px;
}

.title {
  @include font($primary-gray, 60px, 600, 70px);
  padding: $default-offset;
  letter-spacing: -0.6px;
  @include desktop() {
    padding: 0 $left-offset;
  }
}

.wrapper {
  margin: -10px 22px 0px 22px;
}

.wcc-cards {
  @include flex($justify: stretch, $direction: column);
  width: 100%;
  @include desktop() {
    @include flex($justify: stretch);
    width: 50%;
  }
}

.wcc {
  &__image {
    width: 100%;
    height: auto;
    background: $hr;
    border-radius: 8px;
    min-height: 188px;
    @include tablet() {
      min-height: 251px;
      width: auto;
    }
  }
  &__card {
    width: 100%;
    margin-bottom: 12px;
    @include desktop() {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
  &__text {
    &--title {
      @include font($primary-gray, 24px, 400, 34px);
      margin-top: 32px;
    }
    &--description {
      @include font($primary-gray, 18px, 400, 28px);
      margin-top: 16px;
    }
  }
}
.tools-cards {
  display: grid;
  margin: 0px 22px;
  row-gap: 40px;
  @include desktop() {
    grid-template-columns: 459px 459px 459px;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
  }
  @include desktop-lg() {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.tools-card {
  width: 100%;
  padding: 16px;
  border: 1px solid #cbd0d3;
  border-radius: 8px;
  &--title {
    @include font($primary-gray, 24px, 400, 34px);
    font-family: $IBMPlex;
  }
  &--description {
    @include font($primary-gray, 18px, 400, 28px);
    margin-top: 22px;
    font-family: $IBMPlex;
  }
}

.caption-wrapper {
  margin-top: 53px;
}

.caption-personal-approach {
  margin-top: 30px;
  margin-bottom: 45px;
  & > div:last-child {
    margin-top: 15px;
  }
}
