@import "core.scss";

.program-materials {
  padding: 80px $left-offset;
  background-color: $background;
}
.title {
  @include font($primary-grey, 48px, 500, 58px);
  font-family: $EBGaramond;
  margin-bottom: 32px;
  position: relative;
  &::before {
    content: url('../../../../../assets/img/text-decorator.svg');
    position: absolute;
    top: -44px;
  }
}

.item {
  width: 540px;
  min-height: 47px;
  padding: 4px 0;
  background-color: $white;
  border-radius: 8px;
  margin-bottom: 20px;
  @include font($primary-grey, 18px, 300, 28px);
  font-family: $IBMPlex;
  @include flex($align: center);
  &:before {
    content: '■';
    padding: 0 12px;
    color: $primary-orange;
    font-size: 13px;
    margin-bottom: 3px;
  }
}


@media screen and (max-width: 768px) {
  .program-materials {
    padding: $default-offset;
    padding-top: 50px;
  }
  .item {
    width: 100%;
  }
}
