@import 'core.scss';

.why-cordie {
  @include container();
  margin-bottom: 65px;
}

.wrapper {
  @include flex($align: stretch, $direction: column);
  @include tablet() {
    @include flex($align: stretch, $justify: space-between);
  }
  @include desktop() {
    @include flex(space-between);
  }
  margin-top: 60px;
}

.block {
  width: 100%;
  @include tablet() {
    width: 40%;
  }
}
