@import 'core.scss';

.product-image {
  height: 100vh;
}

.image-wrap {
  @include flex($justify: center, $align: center, $direction: column);

  & > button {
    margin-top: 25px;
  }
  & > img {
    object-fit: fill;
    max-width: 320px;
    @include desktop() {
      max-width: 314px;
      min-height: 482px;
    }
  }
}
