@import 'core.scss';

.program-quote {
  background-position: center;
  // height: 100vh;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  min-height: 500px;
  padding: 0 $default-offset;
  height: 657px;
	@include flex($justify: center, $align: center, $direction: column);
}

.text {
  @include font($white, 36px, 400, 46px);
  max-width: 500px;
  font-family: $EBGaramond;
  text-align: center;
}

.button {
  width: 204px;
  margin-top: 40px;
  @include flex($justify: space-between, $align: center);
  height: 44px;
  position: relative;
  @include buttonHover;
}
