@import 'core.scss';

.herosection {
  height: 100vh;
  @include flex($justify: center, $direction: column, $align: center);
  @include container();
  // @include heroImage();

  min-height: 500px;
  box-sizing: border-box;
  overflow: hidden;
  background-image: url('../../../../../assets/img/Section1.png');
  // @include imageOverlay();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include tablet() {
    background-color: initial;
  }

  // @include mobile() {
  //   height: 100%;
  // }
}

.hero-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 10px;
  @include tablet() {
    grid-template-columns: 0.5fr;
  }
  @include mobile() {
    grid-template-columns: 1fr;
    margin-top: 80px;
  }
}

.title {
  @include font($primary-orange, 66px, 500, 64px);
  margin: 18px 0px;
  font-family: $Gilroy;
}
.precaption {
  @include font($primary-gray, 18px, 500, 28px);
}

.subtitle {
  @include font($primary-orange, 23px, 500, 28px);
  margin: 7px 0px;
}
// .herotitle {
//   @include font($primary-orange, 35px, 400, 34px);
// }

.discription {
  @include font($primary-gray, 19px, 400, 28px);
  @include desktop() {
    width: 100%;
  }
}

.sm {
  margin: 2px 0;
  @include font($primary-gray, 14px, 400, 28px);
}

.content {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  padding: 10px 0px;
  margin-top: 75px;
  gap: 18px;
  @include desktop() {
    width: 100%;
  }
  @include mobile() {
    margin-top: 35px;
  }
}
.img {
  width: 80px;
}
.hero {
  width: 410px;
  @include mobile() {
    width: 100%;
  }
}
.collaborationTitle {
  @include font($primary-green, 14px, 500, 16px);
  text-transform: uppercase;
}

// @media (max-width: 768px) {
//   .herosection {
//     height: 55vh;
//   }
// }

@media screen and (max-width: 768px) {
  .content {
    @include flex($direction: column);
  }
  .item {
    min-height: 200px;
  }
}

.button {
  width: 230px;
  margin-bottom: 24px;
}
