@import 'core.scss';

.article-second-section {
  position: relative;
  padding: 0 22px;
  @include desktop() {
    padding: 0px 355px 0px 134px;
  }
}

.hr {
  width: 55%;
  height: 2px;
  margin: 50px 0px;
  background: $hr;
}

.content {
  width: 100%;
}
