@import 'core.scss';

.article-second-section {
  position: relative;
  padding: 0 22px;
  @include desktop() {
    padding: 0px 355px 0px 134px;
  }
}

.aside {
  @include font($primary-gray, 18px, 400, 28px);
  position: absolute;
  top: 0;
  right: 22px;
  width: 316px;
  height: 222px;
  padding: 24px 16px;
  background: $background;
  border-radius: 8px;
}

.button {
  height: 44px;
  margin-top: 15px;
}

.title {
  margin-top: 48px;
  margin-bottom: 10px;
}

.hr {
  width: 55%;
  height: 2px;
  margin: 50px 0px;
  background: $hr;
}

.content {
  width: 100%;
}

.form {
  margin-top: 0;
  & > div {
    margin-top: 16px;
    label {
      font-weight: 400;
    }
  }
}
