@import 'core.scss';

.feedback {
  @include container();
  padding-right: 0 !important;
  width: 100%;
  &--wrap {
    margin-bottom: 80px;
    position: relative;
    & > div:nth-child(2) {
      margin-top: 12px;
    }
  }
}

.slider {
  @include flex($justify: space-between, $align: center);
  position: relative;
  padding-bottom: 100px;
  overflow: hidden;
  margin-top: 48px;
}

.controls {
  position: absolute;
  bottom: 0;
  left: -4px;
}

.dots {
  @include flex();
  position: absolute;
  bottom: 100px;
  width: 100%;
  & > div:last-child {
    margin-right: 0;
  }
}

.inactive-dot {
  background-color: $background;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 4px;
}

.active-dot {
  background-color: $primary-orange;
  border-radius: 4px;
  width: 16px;
  height: 8px;
  margin-right: 4px;
}

.comments-count {
  position: absolute;
  left: 110px;
  top: 380px;
  @include tablet() {
    left: 110px;
    top: 345px;
  }
}
