@import 'core.scss';

.cart-item {
  @include flex();
  margin-bottom: 15px;
  &__image {
    @include flex($direction: column, $align: center);
    & > img {
      object-fit: contain;
    }
  }
  &__info {
    @include flex($direction: column);
    padding: 0 15px 0 15px;
    &--title {
      @include font($primary-gray, 24px, 400, 28px);
    }
  }
}

.description {
  @include flex($direction: column, $justify: flex-end);
  flex-grow: 2;
  height: 100%;
}

.remove {
  @include font($primary-orange, 14px, 500, 28px);
  margin-top: 5px;
  text-decoration: underline;
}
