@import 'core.scss';

.checkbox {
  @include flex($align: center);
  @include error();
  position: relative;
  width: fit-content;
  cursor: pointer;
  &--disabled {
    opacity: 0.5;
    & > .label,
    & > .flag {
      cursor: not-allowed;
    }
  }
}

.flag {
  @include flex(center, center);
  @include size(20px);
  @include min-size(20px);
  background-color: $white;
  border-radius: 4px;
  transition: $transition;
  border: none;
  &--checked {
    border-color: $primary-orange;
    background: $primary-orange;
  }
}

.check-icon {
  & > div {
    @include flex();
  }
}

.label {
  @include font($primary-gray, 16px, 400, 22px);
  margin-bottom: 0;
  margin-left: 10px;
  cursor: pointer;
}
