@import 'core.scss';

.cart {
  @include flex($align: stretch, $direction: column);
  flex: 1;
  width: 100%;
  margin: 85px auto 0 auto;
  padding: 20px 20px 40px 20px;

  @include tablet() {
    margin-top: 132px;
    max-width: 36.7%;
  }
}

.header {
  padding-bottom: 16px;
  border-bottom: 2px solid $hr;

  &__wrap {
    @include flex(space-between, flex-end);
  }

  &__title {
    @include flex($direction: column);
    @include font($primary-gray, 36px, 600, normal);
    font-family: $EBGaramond;

    @include tablet() {
      font-size: 48px;
      line-height: 58px;
    }
  }

  &__quantity {
    @include font($primary-gray, 18px, 600, 24px);
    font-family: $EBGaramond;
  }

  &--precaption {
    @include font($light-grey, 12px, 500, 16px);
    margin-top: 4px;
    font-family: $IBMPlex;
  }
}

.placeholder {
  @include flex($direction: column, $align: center);
  margin-top: 10px;

  &--icon {
    @include flex(center, center);
    @include size(123px);
    background-color: #d4d7d9;
    border-radius: 50%;
  }

  &--caption {
    @include font($primary-orange, 18px, 600, normal);
    margin-top: 34px;
    font-family: $EBGaramond;
  }

  &__button {
    margin-top: 30px;

    @include tablet() {
      margin-top: 50px;
    }
  }
}

.container {
  margin: 30px 0;
}

.products {
  @include flex($align: stretch, $direction: column);
  padding-bottom: 20px;
}

.product {
  &:not(:first-child) {
    margin-top: 24px;
  }
}

.hr {
  width: 100%;
  height: 2px;
  background-color: $hr;
}

.alternatives {
  @include flex($align: stretch, $direction: column);
  margin-top: 20px;
}

.divider {
  @include flex($align: center);

  &__line {
    flex: 1;
    height: 2px;
    background-color: $hr;
  }

  &__caption {
    @include font($primary-gray, 16px, 400, 22px);
    margin: 0 10px;
  }
}

.payment-methods {
  @include flex(space-between, center);
  width: 100%;
  max-width: 73%;
  min-width: 369px;
  margin: 16px auto 0 auto;
}
