@import 'core.scss';

.cart-notifier {
  position: absolute;
  top: 100%;
  right: -134px;
  width: 300px;
  margin-top: 22px;
  overflow: hidden;

  @include desktop() {
    right: -75px;
    width: 488px;
  }
}

.title {
  @include flex($justify: center);
  @include font($primary-gray, 28px, 400, normal);
  position: relative;
  padding: 19px 0;
  font-family: $EBGaramond;
  text-align: center;
  background-color: $white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  // &:after {
  //   content: '';
  //   position: absolute;
  //   border-radius: 8px;
  //   z-index: -1;
  //   top: -50px;
  //   right: 125px;
  //   width: 38px;
  //   height: 63px;
  //   background-color: $background;
  //   @include desktop() {
  //     right: 65px;
  //   }
  // }
}

.description {
  display: grid;
  grid-template-rows: 5fr 1fr;

  &--name {
    @include font($primary-gray, 24px, 400, 34px);
  }

  &--price {
    @include font($primary-gray, 28px, 400, normal);

    font-family: $EBGaramond;
  }
}

.submit {
  width: 100%;
}

.hint {
  @include font($primary-gray, 12px, 600, 16px);
  margin-top: 12px;
  margin-bottom: 8px;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}
