@import "core.scss";

.program-results {
  padding: $left-offset;
}

.title {
  @include font($primary-grey, 48px, 600, 58px);
  font-family: $EBGaramond;
  margin-bottom: 40px;
}

.hr {
  height: 2px;
  background-color: $hr;
  width: 100%;
}

.container {
  @include flex($align: center);
}

.icon {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: $background;
  margin-right: 29px;
  min-width: 34px;
  &:before {
    content: '✔';
    @include flex($justify: center);
    padding-top: 7px;
  }
}

.result {
  margin: 32px 0;
  @include font($primary-grey, 18px, 400, 28px);
  font-family: $IBMPlex;
}

@media screen and (max-width: 768px) {
  .program-results {
    padding: $default-offset;
  }
}
