@import 'core.scss';

// global class
.bgGreen {
  background-color: $primary-green !important;
}
.accordin {
  width: 100%;
  min-height: 80px;
  background-color: $primary-light-gray;
  padding: 20px 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px #aaaa;
  gap: 10px;

  // &:hover {
  //   .indicator {
  //     background-color: #0000001c;
  //   }
  // }
}

.name {
  cursor: pointer;
  @include flex($align: center, $justify: space-between);
  @include font($primary-green, 20px, 500, 22px);
  user-select: none;
  // margin-top: 32px;
  padding: 10px 0px;
  &.opened {
    font-weight: 500;
  }
}

.indicator {
  @include size(40px);
  @include flex(center, center);
  // background-color: $primary-orange;
  border-radius: 50%;
  margin-right: 16px;
  min-width: 40px;
  transition: $transition;

  &--icon {
    // color: $primary-orange;
    @include font($primary-orange, 32px, 500, 0px);
    font-weight: 400 !important;
    // transition: transform 0.1s ease-in;
    // transform: rotate(0deg);
    // &--opened {
    //   transition: transform 0.1s ease-in;
    //   transform: rotate(45deg);
    // }
  }
}

.description {
  @include font($primary-gray, 16px, 400, 22px);
  //   max-width: 550px;
  max-height: 0;
  transition: 1s cubic-bezier(0, 1, 0, 1);
  padding-left: 50px;
  overflow: hidden;
  &.opened {
    max-height: fit-content;
    margin-bottom: 16px;
    transition: max-height 0.7s ease-in;
  }
}

.h3-title {
  @include font($primary-gray, 16px, 600, 22px);
}
.li-title {
  @include font($primary-gray, 16px, 400, 22px);
}
.ol-list {
  list-style-type: lower-latin;
}
.imagesrcbox {
  @include font($primary-green, 25px, 600, 22px);
  @include flex($align: center, $justify: center);
  gap: 22px;
  @include mobile() {
    @include font($primary-green, 18px, 600, 22px);
  }
}

.imgsrc {
  width: 45px;
}
