@import 'core.scss';

.reset-password {
  @include flex(center, center, column);
  flex: 1;
  margin: 40% 0;
}

.input {
  width: 100%;
  input {
    background: #f5f1f0;
    border-color: #f5f1f0;
  }
}

.submit {
  margin-top: 20px;
}

.form {
  @include flex(center, center, column);
  width: 50%;
  @include tablet() {
    width: 65%;
  }
  @include mobile() {
    width: 75%;
  }
}
