@import 'core.scss';

.our-founding-values {
  margin: 60px 0px;
}

.caption {
  padding: 22px;
  @include desktop() {
    padding: 46px 134px;
  }
}
.card-list {
  display: grid;
  margin: 0 22px;
  gap: 20px;
  @include tablet() {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  & > div {
    justify-self: center;
  }
}
