@import 'core.scss';

.our-founding-values {
  margin: 12px 0px 120px 0px;
}

.wrapper {
  width: 40%;
}
.caption {
  padding: 22px;
  @include desktop() {
    padding: 46px 134px;
  }
}
.card-list {
  display: grid;
  margin: 0 22px;
  column-gap: 26px;
  row-gap: 78px;
  @include tablet() {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  @include desktop() {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 134px;
    margin-right: 134px;
  }
  & > div {
    justify-self: center;
  }
}
