@import 'core.scss';

.our-approach {
  margin-bottom: 120px;
}

.image {
  @include flex(center, center);
  height: 581px;
  background-size: cover;
  background-position: center;
}

.content {
  width: 100%;
  text-align: center;
  @include tablet() {
    width: 40%;
  }
}
.title {
  color: $white;
}

.body {
  @include font($white, 24px, 400, 46px);
  font-family: $EBGaramond;
  @include desktop() {
    @include font($white, 36px, 400, 46px);
  }
}
