@import 'core.scss';

.contacts-page {
  margin-top: 92px;
}

.container {
  @include container();
  & > div:first-child {
    margin-bottom: 12px;
  }
}

.cards-list {
  display: grid;
  margin: 47px 22px 120px 22px;
  grid-template: 1fr;
  @include tablet() {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  @include desktop() {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  gap: 20px;
  & > div:nth-child(3n) {
    & > a:last-child {
      position: static;
    }
  }
}

.card {
  @include flex($align: stretch, $direction: column);
  position: relative;
  padding: 32px 22px;
  border: 1px solid $primary-orange;
  min-height: 316px;
  border-radius: 4px;
  &--link {
    @include font($primary-gray, 16px, 400px, 22px);
    position: absolute;
    bottom: 16px;
    left: 23px;
    transition: $transition;
    border-bottom: 1px solid $black;
    width: fit-content;
    &:hover {
      color: $primary-orange;
      transition: $transition;
      border-bottom: 1px solid $primary-orange;
    }
  }
  &--title {
    @include font($primary-gray, 24px, 400, 34px);
    margin-bottom: 48px;
  }
  &--description {
    @include font($primary-gray, 18px, 400px, 28px);
  }
}

.footer {
  @include flex($align: stretch);
  padding: 60px 25px;
  background: $background;
  &__form {
    margin-right: 0;
    &--paragraph {
      width: 100%;
      font-weight: 400;
      @include desktop() {
        width: 75%;
      }
    }
    &--caption {
      @include font($primary-gray, 24px, 400, 34px);
      margin-top: 41px;
      font-weight: 400;
    }
    @include desktop() {
      margin-right: 100px;
    }
  }
  &__img {
    display: none;
    @include desktop() {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__caption {
    // text-align: justify;
    @include font($primary-gray, 16px, 400, 22px);
    width: 100%;
    @include desktop() {
      width: 89;
    }
    @include desktop-lg() {
      width: 55%;
    }
  }
}

.input-group {
  &__a {
    @include flex($align: center);
    & > div:first-child {
      width: 40%;
      padding-top: 24px;
    }
  }
  &__b {
    @include flex($align: center);
    & > div:first-child {
      width: 20%;
      padding-top: 24px;
    }
  }
}

.input {
  &--name {
    width: 40%;
    margin: 0px 20px;
  }

  &--surname {
    width: 40%;
  }
  &--email {
    width: 65%;
    margin-left: 20px;
  }
}

.text-area {
  width: 100%;
  height: 200px;
  padding: 22px;
  border: none;
  outline: none;
  resize: none;
  &__wrapper {
    margin-top: 14px;
    & > div:first-child {
      @include font($primary-gray, 16px, 400, 22px);
      margin-bottom: 8px;
    }
  }
}

.button-send {
  @include flex($justify: space-between);
  width: 204px;
}
