@import 'core.scss';

.job-form {
  width: 100%;
  padding-bottom: 195px;

  @include desktop() {
    width: 750px;
  }
}

.title {
  margin: 22px 0 20px 0;
  @include font($primary-gray, 16px, 400, 22px);
}

.form-section {
  @include flex($direction: column);
  @include tablet {
    @include flex($justify: space-between, $direction: row);
  }
  width: 100%;
  & > div {
    width: 100%;
  }
  & > div:not(:last-child) {
    margin-right: 14px;
  }
  & > div:first-child {
    margin-bottom: 25px;
    @include tablet() {
      margin-bottom: 0;
    }
    & > div:first-child {
      margin-bottom: 27px;
    }
  }
}

.input {
  margin-bottom: 27px;
  label {
    @include font($primary-gray, 16px, 400, 22px);
  }
  input {
    // width: 360px;
    background: #f5f1f0;
    border-radius: 4px;
    border: 1px solid $background;
  }
}

.select {
  margin-bottom: 27px;
  & > div > div > div {
    background-color: $background;
  }
}

.hint {
  @include flex(flex-end, center);
  z-index: 10;
  bottom: 0;
  left: 0;
  padding: 12.5px 16px;
  transition: 0.3;
  cursor: pointer;
  background: #f5f1f0;
  border-radius: 4px;
}

.with-file {
  justify-content: space-between;
}

.upload {
  display: none;
}

.label-upload {
  @include font($primary-gray, 16px, 400, 22px);
  display: block;
  margin-bottom: 2px;
  &__resume {
    @include font($primary-gray, 16px, 400, 22px);
    display: block;
    margin-bottom: 2px;
  }
}

.input-bottom {
  input {
    width: 100%;
    background: #f5f1f0;
    border-radius: 4px;
    border: unset;
  }
}

.button-submit {
  @include font(#ffffff, 16px, 500, 22px);
  @include flex(space-between);
  background-color: $primary-orange;
  border-radius: 4px;
  width: 204px;
  border: unset;
}

.error {
  font-size: 11px;
  color: red;
  width: initial;
  height: initial;
}
