@import 'core.scss';

.hero {
  &-content {
    @include container();
    @include desktop() {
      width: 70%;
    }
  }
  &-caption {
    width: 100%;
    font-family: $EBGaramond;
    color: $white;
    @include desktop() {
      width: 50%;
    }
  }
  &-description {
    width: 100%;
    margin-top: 25px;
  }
}

.image {
  @include flex($align: stretch, $justify: center, $direction: column);
  @include heroImage();
  width: 100%;
  height: 100vh;
}

.arrow {
  position: absolute;
  bottom: 22px;
  left: 22px;
  color: $white;
  @include desktop() {
    left: 134px;
  }
  @include ipad-p() {
    bottom: 42px;
  }
  @include ipad-l() {
    bottom: 42px;
  }
}
