@import 'core.scss';

.newsletter {
}

.form {
  margin-top: 12px;
}

.checkboxLabel {
  @include font(#3e3e3e, 18px, 500, 28px);
}

.submit {
  height: 36px;
  width: 50%;
  margin: 16px auto 0 auto;
}
