@import 'core.scss';

.newsletter {
}

.form {
  margin-top: 12px;
}

.agreement {
  align-items: flex-start;

  & > div:first-child {
    margin-top: 4px;
  }

  &__label {
    @include font(#3e3e3e, 18px, 500, 28px);
  }
}

.submit {
  padding: 8px 0;
  @include mobile() {
    height: auto;
  }
  width: 151px;
  margin: 16px auto 0 auto;
}
