@import 'core.scss';

.program-module-item {
  margin-bottom: 31px;
}

.indicator {
  cursor: pointer;
  height: 34px;
  width: 34px;
  background-color: $white;
  border-radius: 50%;
  margin-right: 24px;
  min-width: 34px;
  margin-top: 16px;
  transition: $transition;
  &:hover {
    background-color: #0000001c;
  }
  &::after {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    content: '+';
    transition: transform 0.1s ease-in;
    color: $light-grey;
  }
  &.opened {
    &::after {
      transition: transform 0.1s ease-in;
      transform: rotate(45deg);
      padding-left: 8px;
      padding-bottom: 1px;
      padding-top: 5px;
      padding-right: 2px;
    }
  }
}

.content {
  @include flex($justify: space-between, $align: flex-end);
}

.left-side {
  display: flex;
  flex: 1;
}

.button {
  @include flex($justify: space-between);
  width: 224px;
  & > div:first-child {
    align-items: center;
  }
}

.btn-container {
  flex: 1;
  @include flex($justify: flex-end);
  margin-bottom: -12px;
}

.description {
  max-height: 0;
  transition: 1s cubic-bezier(0, 1, 0, 1);
  padding-left: 58px;
  overflow: hidden;
  max-width: 700px;
  @include font($primary-gray, 18px, 400, 28px);
  font-family: $IBMPlex;
  &.opened {
    margin: 20px 0;
    max-height: 500px;
    transition: max-height 0.7s ease-in;
  }
}

.hr {
  height: 2px;
  background-color: $hr;
  margin-top: 24px;
  @include tablet() {
    margin-top: 27.5px;
  }
}

.info-block {
  @include flex($justify: center);
  width: 100%;
  flex: 1;
}

.name-block {
  & > div:first-child {
    @include font($primary-orange, 18px, 600, 28px);
    max-width: 600px;
    font-family: $EBGaramond;
    margin-bottom: 4px;
  }
  & > div:nth-child(2) {
    @include font($primary-gray, 18px, 400, 19px);
    font-family: $IBMPlex;
  }
}

.info-block {
  display: flex;
  @include font($primary-gray, 16px, 400, 17px);
  font-family: $IBMPlex;
}

.ver-hr {
  margin: 0 20px;
  color: $hr;
}

@media screen and (max-width: 736px) {
  .content {
    flex-wrap: wrap;
  }
  .button {
    width: 100%;
    margin-top: 24px;
    margin-left: 58px;
  }
}

@media screen and (max-width: 536px) {
  .info-block {
    flex: none;
    justify-content: start;
    padding-left: 58px;
    margin-top: 10px;
  }
}
