@import 'core.scss';

.authors {
  @include container();
  margin-top: 20px;
  padding-top: 60px !important;
  padding-right: 20px !important;
  min-height: auto;
  background-color: $background;
  position: relative;
  @include tablet() {
    @include flex($direction: row);
    min-height: 700px;
    padding-bottom: 0;
  }
}

.about-author {
  @include flex($align: baseline, $direction: column, $justify: space-between);
  width: 100%;

  &--wrapper {
    @include desktop() {
      position: absolute;
      bottom: 48px;
      max-width: 40%;
    }
  }
  &--description {
    @include font($primary-gray, 16px, 400, 22px);
    margin-top: 12px;
    max-height: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  @include tablet() {
    padding-right: 90px;
    width: 60%;
    &--position {
      @include font($primary-gray, 18px, 500, 28px);
    }
  }
}

.buttons {
  @include flex();
  margin-top: 32px;
  padding-bottom: 20px;
  & > button {
    margin-right: 12px;
  }
  &--arrow {
    @include flex($align: center, $justify: center);
    position: relative;
    width: 44px;
    height: 44px;
    color: $primary-gray;

    border: 1px solid #98a2a8;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    @include buttonHover;
  }
  @include tablet {
    padding-bottom: 0;
  }
}

.author-image {
  & > img {
    border-radius: 10px;
    max-width: 550px;
    min-height: 590px;
    max-height: 590px;
  }
  &--mobile {
    max-height: 300px;

    overflow: hidden;
    margin: 20px 0;
  }
}
