@import 'core.scss';

.socials {
  min-height: 580px;
  background-color: $background;
  padding-left: $left-offset;
  display: flex;
}

.left-side {
  background: url('../../../../../assets/img/learning-approach/mobile.svg')
    no-repeat bottom center;
  width: 80%;
}

.right-side {
  width: 100%;
  @include flex($justify: center, $direction: column);
}


.title {
  & > div:first-child {
    @include font($primary-grey, 36px, 500, 46px);
    letter-spacing: -0.48px;
    font-family: $EBGaramond;
  }
  & > div:nth-child(2) {
    height: 2px;
    margin: 15px 0;
    max-width: 450px;
    background: #cbd0d3;
  }
  & > div:nth-child(3) {
    @include font($primary-grey, 16px, 300, 22px);
    max-width: 350px;
    font-family: $IBMPlex;
    margin-bottom: 30px;
  }
}

.links {
  @include flex($direction: column);
}

.link {
  margin: 10px 0;
  @include flex($align: center);
  img {
    margin-right: 19px;
  }
  &:hover {
    color: $primary_orange;
  }
}

.hr-wrapper {
  padding-left: $left-offset;
  padding-right: $default-offset;
  background-color: $background;
}

@media screen and (max-width: 1080px) {
  .socials {
    padding-left: $default-offset;
  }
}

@media screen and (max-width: 850px) {
  .left-side {
    display: none;
  }
  .right-side {
    width: 100%;
  }
  .socials {
    padding: 0 $default-offset;
  }
}
@media screen and (max-width: 550px) {
  .hr {
    background-color: $hr;
    height: 2px;
    width: 100%;
  }
}


@media screen and (max-width: 1010px) {
  .hr-wrapper {
    padding-left: $default-offset;
    padding-right: $default-offset;
  }
}
