@import 'core.scss';

.drop-down {
  position: absolute;
  top: 40px;
  right: calc(50% - 150px);
  padding: 15px 16px;
  background-color: $background;
  border-radius: 7px;
  overflow: hidden;
  border-bottom: 1px solid #cbd0d3;
  min-width: 300px;
  &--item {
    @include font($primary-gray, 20px, 400, 28px);
    transition: $transition;
    &:not(:last-child) {
      margin-bottom: 7px;
      padding-bottom: 9px;
      border-bottom: 1px solid #cbd0d3;
    }
    & > a {
      @include font($primary-gray, 20px, 500, 28px);
      transition: $transition;
      &:hover {
        text-decoration: underline;
        color: $primary-orange;
      }
    }
  }
}
