@import 'core.scss';

.summary {
  margin-top: 20px;
}

.title {
  @include font($primary-gray, 36px, 600, 46px);
  font-family: $EBGaramond;
}

.container {
  margin-top: 16px;
}

.section {
  @include flex(space-between, center);

  &:not(:first-child) {
    margin-top: 12px;
  }

  &__value {
    @include font($primary-gray, 18px, 500, 28px);

    &__shipping {
      color: $primary-orange;
    }
  }

  &__label {
    @include font($primary-gray, 18px, 500, 28px);
  }
}

.hr {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background-color: $primary-orange;
}

.total {
  @include flex($justify: space-between);
  @include font($primary-gray, 28px, 400, 35px);
  font-family: $EBGaramond;
}

.hint {
  @include font($primary-gray, 16px, 400, 22px);
  margin-top: 16px;
}

.submit {
  width: 100%;
  margin-top: 28px;
}
