@import 'core.scss';

.modal {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  @include tablet() {
    width: 90vw;
    height: 90vh;
    max-height: 90vh;
  }
}

.header {
  @include flex(space-between, center);

  &__caption {
    @include font($primary-gray, 16px, 500);

    @include tablet() {
      font-size: 20px;
    }
  }

  &__close {
    @include flex(center, center);
    @include size(36px);
    @include min-size(36px);
    font-size: 24px;
    background-color: $background;
    border-radius: 50%;
    cursor: pointer;
  }
}

.preview {
  flex: 1;
  margin-top: 20px;

  @include desktop() {
    @include flex(center, center);
  }
}

.img {
  width: 100%;
  object-fit: contain;

  @include tablet() {
    max-height: 90%;
  }

  @include desktop() {
    max-height: 600px;
    max-width: 40%;
  }
}
