@import "core.scss";

.catalogue-filters {
  background-color: $background;
  padding-top: 32px;
  padding-bottom: 8px;
}

.title {
  padding-left: $left-offset;
  @include font($primary-gray, 24px, 400, 34px);
}

.hr {
  height: 2px;
  background-color: $light-grey;
  margin: 0 $default-offset;
  margin-top: 24px;
  margin-bottom: 24px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  padding: 0 $default-offset;
}

.filter-item {
  @include font($primary-gray, 18px, 400, 28px);
  height: 24px;
  display: flex;
  cursor: pointer;
  margin-bottom: 24px;
  margin-right: 48px;
  &.checked {
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .title {
    padding-left: $default-offset;
  }
}

@media screen and (max-width: 576px) {
  .filter-item {
    width: 100%;
  }
}