@import "core.scss";

.mentor-item {
  cursor: pointer;
  width: 316px;
  &:hover {
    .info {
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.623);
      transition: background-color 200ms linear;
      &-text {
        border-bottom: 1px solid #ffffff;
      }
    }
  }
}

.img-container {
  width: 316px;
  height: 316px;
  position: relative;
  border-radius: 8px;
}

.info {
  display: flex;
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  align-items: flex-end;
  justify-content: center;
  color: #ffffff00;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 100ms linear;
  &-text {
    padding-bottom: 2px;
    margin-bottom: 40px;
  }
}

.name {
  @include font($primary-gray, 24px, 400, 32px);
}
.role {
  @include font($primary-gray, 16px, 400, 24px);
}

@media screen and (max-width: 350px) {
  .img {
      max-width: 260px;
    }
}
