@import 'core.scss';

.nav-title {
  @include flex($align: center, $justify: center);
  @include font(white, 16px, 500, 24px);
  position: relative;
  border-bottom: 1px solid white;
  padding-bottom: 4px;
  cursor: pointer;
  transition: $transition;

  &:hover {
    color: $primary-orange;
    border-color: $primary-orange;
    .shape {
      @include fill($primary-orange);
    }
  }
}

.shape {
  transition: $transition;
  margin-left: 8px;
  position: relative;
  bottom: 1px;
}
