@import 'core.scss';

.program-intro {
  @include heroImage();
  @include flex($justify: center, $direction: column);
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  // padding-left: $left-offset;
  padding-right: $default-offset;

  @include ipad-p() {
    height: calc(100vh - 30px);
  }

  @include ipad-l() {
    height: calc(100vh - 30px);
  }

  @include desktop() {
    min-height: 720px;
  }
}

.video {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 735px;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.content {
  z-index: 2;
  & > div:first-child {
    @include font($white, 19px, 500, 27px);
    @include desktop() {
      color: $primary-gray;
    }
  }
  & > div:nth-child(2) {
    @include font($white, 43px, 600, 49px);
    max-width: 600px;
    font-family: $EBGaramond;
    letter-spacing: -0.48px;
    margin-top: 10px;
    @include desktop() {
      color: $primary-gray;
    }
  }
  & > div:nth-child(3) {
    @include font($white, 19px, 400, 27px);
    max-width: 550px;
    margin-top: 16px;
    margin-top: 20px;
    @include desktop() {
      color: $primary-gray;
    }
  }
}

.scroll-button {
  position: absolute;
  bottom: 15px;
}

// .page-navigator {
//   @include flex($justify: space-between);
//   position: absolute;
//   z-index: 2;
//   bottom: 36px;
//   left: $default-offset;
//   right: $default-offset;
//   background-color: $white;
//   height: 84px;
//   border-radius: 6px;
//   padding: 20px 10px;
// }

.watch-button {
  justify-content: flex-end;
}

.button {
  cursor: pointer;
  @include flex($justify: space-between, $align: center);
  position: relative;
  flex: 1;
  height: 100%;
  margin: 0 5px;
  @include buttonHover;
}

.back-button {
  position: absolute;
  top: 120px;
  left: $default-offset;
  @include fill(#ffff);
  path {
    stroke: #ffff;
  }
}

@media screen and (max-width: 768px) {
  .program-intro {
    padding-left: $default-offset;
  }
  .back-button {
    position: absolute;
    top: 120px;
    left: $default-offset;
  }
  .title {
    & > div:first-child {
      @include font($white, 40px, 500, 50px);
    }
    & > div:nth-child(2) {
      @include font($white, 20px, 400, 30px);
    }
  }
}

@media screen and (max-width: 853px) {
  .page-navigator {
    display: none;
  }
}

//new styles

.content-overlay {
  position: relative;
  z-index: 2;
  @include tablet() {
    padding: 22px;
  }
  @include desktop() {
    @include flex($align: center);
    min-height: 720px;
    max-width: 39%;
    background: rgb(255, 242, 242);
    background: linear-gradient(
      0deg,
      rgba(255, 242, 242, 0.9) 74%,
      rgba(255, 255, 255, 0.5) 100%
    );
    padding: 100px 58px 0 58px;
    height: 100vh;
  }
}

.page-navigator {
  margin-top: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 44px);
  background-color: white;
  padding: 20px;
  gap: 20px;
  border-radius: 4px;
}

.buttons {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 44px;
  align-items: center;
}

.download {
  background-color: #3e3e3e;
  border-color: #3e3e3e;
  width: 224px;
  & > div {
    @include flex(space-between);
    width: 100%;
  }
}
