@import 'core.scss';

.titles {
  @include flex();
  border-bottom: 0.5px solid rgba(112, 112, 112, 0.4);
  padding-bottom: 20px;
  & > a {
    @include font(rgba(112, 112, 112, 0.5), 48px, 600, 58px);
    font-family: $EBGaramond;
    width: 50%;
    cursor: pointer;
  }
  &--active {
    color: $primary-gray !important;
  }
}
.description {
  @include flex($direction: column, $align: center, $justify: center);
  padding: 15px 40px 45px 40px;
  text-align: center;
  &--subtitle {
    @include font($primary-gray, 28px, 400, 35px);
    font-family: $EBGaramond;
  }
  &--text {
    @include font($primary-gray, 18px, 400, 28px);
    margin-top: 30px;
    font-family: $IBMPlex;
  }
}

.separator {
  @include flex($align: center);
  width: 100%;
  margin-top: 26px;
  & > span {
    margin: 0 5px;
  }
  &::before {
    content: '';
    display: inline-block;
    width: 47%;
    height: 0.5px;
    background-color: $light-grey;
  }
  &::after {
    content: '';
    display: inline-block;
    width: 47%;
    height: 0.5px;
    background-color: $light-grey;
  }
}

.socials {
  @include flex($align: center);

  & > span {
    margin-left: 40px;
  }
}
