@import 'core.scss';

.contact-address {
}

.title {
  @include font($primary-gray, 24px, 400, 34px);
}
.form {
  margin-top: 15px;
  & > div:not(:last-child) {
    margin-bottom: 15px;
  }
  &__title-select {
    background-color: white;
  }

  &__radio {
    margin-top: 15px;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    & > label {
      @include font($primary-gray, 16px, 400, 22px);
      display: block;
      margin-bottom: 16px;
    }
    & > div {
      @include font($primary-gray, 16px, 400, 22px);
    }
    & > div:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__submit-button {
    width: 150px !important;
    height: 36px;
    margin: 0 auto;
  }
  &__title-select {
    background-color: white;
    width: 10px;
  }
}

.preloader {
  position: absolute;
  right: 0;
  top: calc(50% - 10px);
}
