@import 'core.scss';

.certificate {
  height: 100%;
  @include flex($justify: center, $direction: column);
  @include container();

  min-height: 500px;
  box-sizing: border-box;
  overflow: hidden;

  background-image: url('../../../../../assets/backgrounds/Section13.png');
  // @include imageOverlay();
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  @include tablet() {
    background-color: initial;
  }
  @include mobile() {
    height: 100vh;
  }
}

.title {
  text-align: center;
  width: 100%;
  margin-bottom: 40px;

  @include mobile() {
    text-align: center;
  }
}
.sectiontitle {
  @include font($primary-green, 48px, 600, 0px);
}

.certificate-wrapper {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   gap: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  @include mobile() {
    flex-wrap: wrap;
  }
}

.certificate-img {
  //   width: 100%;
  display: flex;
  justify-content: flex-end;
}
.instruction-img-src {
  width: 320px;
  @include mobile() {
    width: 100%;
  }
}

.about-certificate {
  width: 50%;
  @include flex($justify: center, $direction: column);
  gap: 22px;
  p {
    @include font($primary-gray, 16px, 400, 22px);
    word-spacing: 1px;
  }
  @include mobile() {
    width: 100%;
  }
}
