@import 'core.scss';

.header {
  height: 100vh;
  &-img {
    @include flex($align: stretch, $justify: center, $direction: column);
    @include imageOverlay();
    width: 100%;
    height: 100vh;
    @include heroImage();
    min-height: 500px;
    @include ipad-p() {
      height: calc(100vh - 30px);
    }
    @include ipad-l() {
      height: calc(100vh - 30px);
    }
  }
  &-content {
    @include container();
    & > div:nth-child(2) {
      margin: 24px 0px;
    }
  }
  &-btn {
    margin-top: 24px;
  }
  &--scroll {
    position: absolute;
    bottom: 22px;
    left: 22px;
    color: $white;
    @include desktop() {
      left: 134px;
    }
  }

}
