@import 'core.scss';

.header {
  height: 100vh;
  &-img {
    @include imageOverlay();
    @include heroImage();
    @include flex($align: stretch, $justify: center, $direction: column);
    width: 100%;
    height: 100vh;
  }
  &-content {
    @include font($white, 60px, 600, 70px);
    @include container();
    font-family: $EBGaramond;
    & > div:nth-child(2) {
      @include font($white, 24px, 400, 34px);
      width: 100%;
      margin: 24px 0px;
      @include desktop() {
        width: 45%;
      }
    }
  }
  &-btn {
    @include flex($justify: space-between);
    width: 230px;
    margin-top: 24px;
  }
  &--scroll {
    position: absolute;
    bottom: 22px;
    left: 22px;
    color: $white;
    @include desktop() {
      left: 134px;
    }
  }
}
