@import 'core.scss';

.slider-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop() {
    height: 80%;
  }
}

.image {
  height: 160vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @include tablet() {
    height: 80vh;
  }
  @include ipad-l() {
    height: 100vh;
  }
  @include desktop() {
    height: 100vh;
  }
}

.overlay {
  @include flex($align: stretch, $direction: column);
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.info {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 57px;
  margin-top: 105px;
  row-gap: 35px;
  @include tablet() {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 80%;
    margin-top: 173px;
  }

  @include desktop() {
    width: 60%;
    margin-top: 172px;
    align-items: center;
  }
}

.books {
  grid-row: 1;
  object-fit: contain;
  width: 100%;

  @include tablet() {
    grid-row: initial;
  }
}

.title {
  @include font($white, 40px, 600, 48px);
  font-family: $EBGaramond;

  @include tablet() {
    font-size: 44px;
    line-height: 51px;
  }
}

.description {
  @include font($white, 22px, 400, 28px);
  width: 100%;
  margin-top: 16px;

  @include tablet() {
    font-size: 17px;
    line-height: 24px;
    max-width: 570px;
  }
}

.button {
  width: 207px;
  color: $white;
  margin: 33px auto 0 auto;
  border-color: $primary-orange;
  background-color: $primary-orange;

  @include desktop() {
    color: white;
    border-color: white;
    &:hover {
      color: $primary-gray;
      background-color: white;
      border-color: white;
    }
  }
}
