@import 'core.scss';

.slider-item {
}

.image {
  height: 150vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include desktop() {
    height: 100vh;
  }
}

.overlay {
  @include flex($align: stretch, $direction: column);
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.info {
  @include flex(center, center, column);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  //left: 20px;
  //right: 20px;
  margin: 0 auto;
  width: 100%;
  text-align: center;

  @include desktop() {
    left: 134px;
    right: unset;
    width: 40%;
  }
}

.title {
  @include font($white, 40px, 600, 48px);
  font-family: $EBGaramond;

  @include tablet() {
    font-size: 60px;
    line-height: 70px;
  }
}

.description {
  @include font($white, 22px, 400, 28px);
  width: 100%;
  margin-top: 16px;

  @include tablet() {
    font-size: 24px;
    line-height: 34px;
    max-width: 570px;
  }
}

.button {
  width: 207px;
  color: white;
  margin-top: 33px;
  border-color: white;
  &:hover {
    color: $primary-gray;
    background-color: white;
    border-color: white;
  }
}
