@import 'core.scss';

.faq-block {
  @include flex($direction: column);
  padding: 120px $default-offset;
  padding-bottom: 100px;
}

.title {
  @include font($primary-gray, 36px, 400, 46px);
  padding-left: 112px;
}

.filters {
  @include flex($align: stretch, $direction: column);
  margin: 30px 0px;
  margin-top: 48px;
  @include tablet() {
    flex-direction: row;
    flex-wrap: wrap;
  }
  & > div {
    margin-bottom: 4px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 728px) {
  .filter-button {
    width: 100%;
  }

  .filters {
    flex-direction: column;
    width: 100%;
  }
}
