@import 'core.scss';

.faq-block {
  @include flex($direction: column);
  padding: 40px $default-offset 60px;
  background: $background;
  @include tablet() {
    padding: 70px $left-offset 100px;
  }
}

.title {
  @include font($primary-gray, 36px, 500, 46px);
  width: 100%;
  text-align: center;
}

.filters {
  @include flex($align: stretch, $direction: column);
  margin: 40px auto 30px;
  width: 841px;
  @include tablet() {
    flex-direction: row;
    flex-wrap: wrap;
  }
  & > div {
    margin-bottom: 4px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 728px) {
  .filter-button {
    width: 100%;
  }

  .filters {
    flex-direction: column;
    width: 100%;
  }
}
