@import 'core.scss';

.drop-down {
  position: absolute;
  right: -16px;
  top: 28px;
  width: max-content;
  padding: 20px;
  background-color: $background;
  border-radius: 16px;
  overflow: hidden;
  border-bottom: 1px solid #cbd0d3;

  & > div:not(:last-child) {
    margin-bottom: 16px;
  }
  &__item {
    cursor: pointer;
    transition: $transition;
    color: $primary-gray;
    &:hover {
      color: $primary-orange !important;
      & > div:first-child {
        text-decoration: underline;
      }
    }
    &--name {
      margin-bottom: 8px;
      font-family: $EBGaramond;
      font-size: 28px;
      font-weight: 400;
      line-height: 35px;
    }
  }
}
