@import 'core.scss';

.hero-bottom {
  @include heroImage();
  width: 100%;
  height: 505px;
  margin-top: 120px;
}

.overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.hero-content {
  @include flex($align: flex-start, $justify: center, $direction: column);

  height: 100%;
  margin-left: $default-offset;

  &--title {
    @include font($white, 36px, 400, 46px);
    font-family: $EBGaramond;
  }
  &--description {
    @include font($white, 24px, 400, 34px);
    margin: 30px 0px;
    font-family: $IBMPlex;
  }
  @include desktop() {
    width: 30%;
    margin-left: $left-offset;
    max-width: 360px;
  }
}
