@import 'core.scss';

.container {
  @include accountContainer();
}
.navigation {
  display: grid;
  grid-template-columns: repeat(4, 205px);
  width: 100%;
  margin-top: 33px;
  gap: 20px;
  &--link {
    width: 100%;
    padding: 10px 20px;
    background-color: $background;
    border-radius: 7px;
    transition: $transition;
    cursor: pointer;
    &:hover {
      background-color: $primary-orange;

      & > div:first-child {
        color: white;
      }
      & > div:last-child {
        color: white;
      }
    }

    @include flex();
    & > div:first-child {
      @include font($primary-orange, 18px, 600, 24px);
      font-family: $EBGaramond;
      margin-right: 10px;
    }
    & > div:last-child {
      @include font($primary-gray, 18px, 500, 24px);
      font-family: $IBMPlex;
    }
  }
}

.activeLink {
  background-color: $primary-orange;
  & > div:first-child {
    color: white;
  }
  & > div:last-child {
    color: white;
  }
}
