@import 'core.scss';

.vacancy {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid $hr;
  @include flex(space-between, center);
  &__title {
    font-family: $EBGaramond;
    @include font($primary-orange, 18px, 600);
  }
  &__description {
    @include font($primary-gray, 24px, 400, 34px);
    padding: 12px 0px 18px 0px;
  }
}

.details {
  @include flex(space-between);
  width: 90px;
  @include tablet() {
    width: 204px;
  }
  height: 44px;
  padding: 14px 10px;
  border: 1px solid $primary-orange;
  border-radius: 3px;
}

.arrow {
  position: relative;
  bottom: 2px;
}