@import 'core.scss';

.product-description {
  @include container();
  @include flex($direction: column);
  margin-top: 95px;
  &--additional {
    @include flex();
    margin-top: 20px;
    & > h1 {
      @include font($black, 16px, 500, 16px);
      margin: 0 8px 0 0;
    }
    & > div {
      @include font($primary-gray, 16px, 400, 16px);
      margin: 0;
    }
  }

  &__block {
    width: 100%;
    &--text {
      margin-top: 47px;
      & > p {
        @include font($primary-gray, 18px, 400, 28px);
        margin-bottom: 20px;
      }
      & > p:last-child {
        margin-bottom: 24px;
      }
    }
  }
  @include tablet() {
    @include flex($direction: row) &__block {
      width: 50%;
    }
  }
}

.skill-covered {
  width: auto;
  margin-left: 132px;
  margin-top: 110px;
}

.skills {
  & > div:first-child {
    @include font($primary-gray, 24px, 400, 26px);
    max-width: 600px;
    font-family: $IBMPlex;
    margin-bottom: 16px;
  }
  .item {
    @include flex($align: center);
    @include font($primary-gray, 18px, 400, 28px);
    background-color: $background;
    border-radius: 6px;
    width: 205px;
    height: 47px;
    margin-bottom: 12px;
    &:before {
      content: '■';
      padding: 0 15px;
      color: $primary-orange;
      font-size: 13px;
      margin-bottom: 1px;
    }
  }
}
