@import 'core.scss';

.title {
  @include container();
  letter-spacing: -0.6px;
  font-family: $EBGaramond;
}

.video-cards {
  display: grid;
  padding: 0px 22px;
  row-gap: 40px;
  column-gap: 10px;
  @include tablet() {
    grid-template-columns: repeat(2, 1fr);
  }
  @include desktop() {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  @include desktop-lg() {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
