@import 'core.scss';

.title {
  @include container();
  letter-spacing: -0.6px;
  font-family: $EBGaramond;
}

.video-cards {
  display: grid;
  margin: 0px 22px;

  grid-template-columns: 459px 459px 459px;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 10px;
  @include desktop-lg() {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
