@import 'core.scss';

.privacy {
  @include flex($align: stretch, $direction: column);
}

.description {
  @include font($primary-gray, 18px, 400, 28px);

  div:not(:first-child) {
    margin-top: 20px;
  }
}

.email {
  @include flex($align: center);
  margin-top: 9px;

  &__icon {
    @include flex($justify: center, $align: center);
    border-radius: 50%;
    background-color: white;
    width: 42px;
    height: 42px;
    margin-right: 16px;
  }

  &__link {
    @include font($primary-gray, 16px, 500, 22px);
    transition: $transition;
    cursor: pointer;
    &:hover {
      color: $primary-orange;
    }
  }
}
