@import 'core.scss';

.title {
  @include font($primary-gray, 24px, 400, 24px);
}

.interests {
  @include flex();
  margin-top: 5px;
  flex-wrap: wrap;
  padding-bottom: 16px;
}

.interest {
  margin-top: 12px;
  margin-right: 20px;
  padding: 10px;
  color: $primary-orange;
  border: 1px solid $primary-orange;
  border-radius: 4px;
  transition: $transition;
  cursor: pointer;

  &:hover {
    background-color: $primary-orange;
    color: $white;
  }

  &--selected {
    background-color: $primary-orange;
    color: $white;
  }
}

.moreInterests {
  bottom: 20px;
  left: 0;
  right: 0;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
  transition: $transition;
  &:hover {
    color: $primary-orange;
  }
}

.save {
  width: 150px !important;
  height: 36px;
  margin: 0 auto;
  margin-bottom: 44px;
}
