@import 'core.scss';

.form {
  &--hint {
    margin-top: 6px;
  }
  &--field:not(:first-child) {
    margin-top: 24px;
  }
}
.modal-invoice-request {
  width: 692px;
  position: relative;
  @include desktop() {
    padding: 0 94px 40px 94px;
  }
}

.title {
  @include font($primary-gray, 28px, 400, normal);
  margin: 6px auto 0 auto;
  font-family: $EBGaramond;
}

.total {
  @include font($primary-gray, 18px, 400, normal);
  margin: 20px auto 0 auto;
  &--price {
    @include font($primary-gray, 28px, 400, normal);
    margin-left: 14px;
    font-family: $EBGaramond;
  }
}

.close-modal {
  position: absolute;
  right: 30px;
}

.submit {
  width: 100%;
  margin-top: 50px;
}
