@import 'core.scss';

.tabs {
  @include error();
  position: relative;
}

.container {
  @include flex($align: stretch, $direction: column);
}

.tab {
  @include flex($align: stretch);
  //   padding: 14px;
  margin-bottom: 28px;
  color: $primary;
  background: transparent;
  transition: $transition;
  border-radius: 8px;
  cursor: pointer;
  // &--selected {
  //   // color: $white;
  //   // background: $primary;
  // }
}
.content {
  width: 100%;
  margin-left: 10px;
  @include desktop() {
    width: 30%;
  }
}
.caption {
  @include font($primary-gray, 16px, 300);
  font-family: $IBMPlex;
  &--selected {
    @include font($primary-gray, 16px, 400);
  }
}

.description {
  @include font($primary-gray, 16px, 300, 22px);
  margin-top: 10px;
  font-family: $IBMPlex;
}
