@import "core.scss";

.test-page {
    -webkit-font-smoothing: antialiased;
    p {
        display: inline;
        text-decoration: none;
        text-transform: none;
    }
    & > * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        line-height: 22px;
    }
}