@import 'core.scss';

.corporate-dropdown {
  position: absolute;
  top: 40px;
  background-color: $background;
  padding: 16px 16px 20px 16px;
  border-radius: 16px;
  &__title {
    @include font($primary-gray, 20px, 500, 28px);
    position: relative;
    padding-bottom: 9px;
  }
  &__links {
    @include flex($direction: column);
    & > div {
      @include font($primary-gray, 20px, 500, 28px);
    }
    & > div:last-child {
      margin-top: 15px;
    }
  }
}

.image {
  min-width: 275px;
  min-height: 205px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -50px;
  border-radius: 7px;
}
