@import 'core.scss';

.article-last-section {
  position: relative;
  padding: 0 22px;
  @include desktop() {
    padding: 0px 350px 0px 134px;
  }
}

.hr {
  width: 60%;
  height: 2px;
  margin: 50px 0px;
  background: $hr;
}

.post-image {
  margin-bottom: 20px;
  @include desktop() {
    min-height: 500px;
  }
  text-align: center;
  &--text {
    @include font($white, 16px, 400, 24px);
    margin-top: 20px;
    font-family: $EBGaramond;
    @include tablet() {
      @include font($white, 28px, 400, 35px);
      margin-top: 40px;
    }
  }
  &--author {
    @include font($white, 24px, 600, 32px);
    margin-top: 15px;
    @include tablet() {
      @include font($white, 36px, 600, 48px);
      margin-top: 30px;
    }
  }
}

.image {
  @include flex($align: center, $justify: center, $direction: column);
  @include heroImage();
  border-radius: 4px;
  min-height: 200px;
  @include tablet() {
    min-height: 400px;
  }
  @include desktop() {
    background-size: contain;
    background-position: center;
    height: -webkit-fill-available;
    min-width: 876px;
    padding: 0px 134px;
  }
  @include desktop-lg() {
    background-size: cover;
  }
}
