@import 'core.scss';

.explore {
  padding: 40px 20px;

  @include desktop() {
    padding: 80px 20px;
  }
}

.title {
  @include desktop() {
    margin-left: 114px;
  }
}

.slider {
  margin-top: 48px;
  margin-bottom: 0;

  & > ul {
    @include flex(flex-start, stretch, row);
    height: 416px;
    margin-bottom: 92px;
  }

  &--control {
    border-color: #98a2a8 !important;
  }
}

.wrapper {
  @include flex(center, center);
  height: 100%;
}

.image {
  @include size(100%);
  cursor: pointer;
  max-width: 316px;
}
