@import 'core.scss';

.drop-down {
  position: absolute;
  top: 28px;
  right: -16px;
  padding: 20px;
  background-color: $background;
  border-radius: 16px;
  overflow: hidden;
  border-bottom: 1px solid #cbd0d3;
  &--item {
    @include font($primary-gray, 28px, 400, 35px);
    font-family: $EBGaramond;
    transition: $transition;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    & > a {
      transition: $transition;
      &:hover {
        text-decoration: underline;
        color: $primary-orange;
      }
    }
  }
}
