@import 'core.scss';

.article-card {
  position: relative;
  width: 100%;
  max-height: 100%;
  border-bottom: 2px solid $hr;
  padding-bottom: 22px;
  display: grid;
  grid-template-rows: 270px 1fr;
  padding-top: 4px;
  @include tablet() {
    padding-top: 0;
  }
}

.image {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background: $hr;
  border-radius: 6px;
}

.content {
  width: 100%;

  &-description {
    @include font($primary-gray, 18px, 400, 28px);
    width: 100%;
    font-family: $IBMPlex;
    cursor: pointer;
    @include desktop() {
      width: 50%;
    }
  }
  &-date {
    @include font(#cbd0d3, 16px, 500, 22px);
    margin: 24px 0px 8px 0px;
    font-family: $IBMPlex;
  }
}

.tags {
  position: absolute;
  bottom: 16px;
  left: 16px;
  @include flex($align: center);
  flex-wrap: wrap;
  & > div {
    margin-right: 8px;
    margin-bottom: 3px;
  }
}

.activity {
  @include font($primary-gray, 16px, 400, 22px);
  width: fit-content;
  border-radius: 4px;
  background-color: #f5f1f0;
  padding: 6px 24px;
}

.read-more {
  margin-top: 8px;
}

.image-wrapper {
  @include heroImage();
  border-radius: 8px;
  position: relative;
  min-height: 270px;
  object-fit: fill;
}

.content-wrapper {
  height: 100%;
  @include flex($direction: column, $justify: space-between);
}
