@import 'core.scss';

.insight-block-item {
  max-width: 430px;
  height: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid $light-grey;
  display: grid;
  grid-template-rows: 270px 1fr;
}

.img-container {
  position: relative;
}

.img {
  width: 100%;
  object-fit: cover;
  height: 270px;
  border-radius: 8px;
}

.activity {
  @include font($primary-gray, 16px, 400, 22px);
  width: fit-content;
  background-color: $background;
  padding: 4px 20px;
  border-radius: 5px;
  text-align: center;
}

.date {
  @include font($light-grey, 16px, 500, 22px);
  padding-top: 24px;
  padding-bottom: 8px;
  font-family: $IBMPlex;
}

.description {
  max-width: 300px;
  @include font($primary-gray, 18px, 400, 28px);
  font-family: $IBMPlex;
}

.button {
  height: 44px;
  margin-top: 14px;
  color: $primary-gray;
}

.tags {
  position: absolute;
  bottom: 16px;
  left: 16px;
  @include flex($align: center);
  flex-wrap: wrap;
  & > div {
    margin-right: 8px;
    margin-bottom: 3px;
  }
  width: auto;
}

.content-wrapper {
  height: 100%;
  @include flex($direction: column, $justify: space-between);
}
