@import "core.scss";

.insight-block-item {
  max-width: 430px;
  padding-bottom: 20px;
  border-bottom: 1px solid $light-grey;
}

.img-container {
  position: relative;
}

.img {
  object-fit: cover;
  height: 270px;
  width: 100%;
  border-radius: 6px;
}

.activity {
  background-color: $background;
  padding: 4px 20px;
  border-radius: 5px;
  text-align: center;
  max-width: fit-content;
  @include font($primary-gray, 16px, 400, 22px);
}

.date {
  @include font($light-grey, 16px, 500, 22px);
  font-family: $IBMPlex;
  padding-top: 10px;
  padding-bottom: 5px;
}

.description {
  max-width: 300px;
  @include font($primary-gray, 18px, 400, 28px);
  font-family: $IBMPlex;
}

.button {
  margin-top: 20px;
  height: 44px;
  color: $primary-gray;
}

.tags {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  bottom: 15px;
  left: 10px;
  right: 10px;
  width: auto;
}