@import 'core.scss';

.language {
}

.form {
  margin-top: 18px;
}

.container {
  @include flex($align: center);
}

.label {
  @include font(#3e3e3e, 18px, 400);
}

.select {
  flex: 1;
  margin-left: 25px;
}

.submit {
  height: 36px;
  width: 151px;
  margin: 26px auto 0 auto;
}
