@import "core.scss";

.impact {
  width: 100%;
  padding: 120px 0;
  padding-left: $left-offset;
}

.title {
  margin-bottom: 48px;
  & > div:first-child {
    @include font($primary-orange, 18px, 500, 28px);
    font-family: $IBMPlex;
  }
  & > div:nth-child(2) {
    @include font($primary-gray, 48px, 600, 58px);
    margin-top: 12px;
    letter-spacing: -0.48px;
    font-family: $EBGaramond;
  }
}

.slider {
  @include flex($justify: space-between, $align: center);
  padding-bottom: 108px;
  overflow: hidden;
  position: relative;
}

.controls {
  bottom: 0;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .impact {
    padding-left: $default-offset;
  }
}
