@import 'core.scss';

.our-programs {
  background-color: #f5f1f0;
  padding-bottom: 30px;
}

.container {
  padding: 60px 0px 20px 134px;
  & > p {
    font-size: 24px;
  }
}

.cards {
  @include container-sm();
  @include flex($direction: row, $align: stretch);
  flex-wrap: wrap;

  @include tablet() {
    display: grid;
  }
  @include desktop() {
    @include flex(center, stretch);
    & > div {
      width: 29vw;
      margin-right: 2%;
    }
  }
}

.wrapper {
  @include flex(center, stretch);
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 60px;
}
