@import 'core.scss';

.our-programs {
  background-color: #f5f1f0;
}

.container {
  @include container();
  padding-top: 60px;
}

.cards {
  width: 95%;
  margin: 0 auto;
}

.wrapper {
  @include flex(center, stretch);
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 60px;
}
