@import 'core.scss';

.programs {
  background-color: $background;
  border-radius: 7px;
  padding: 20px 28px;

  &--title {
    @include font($primary-gray, 24px, 400, 24px);
  }

  &--links {
    @include flex();
    margin-top: 50px;
    & > div {
      @include font($primary-gray, 18px, 600, 24px);
      font-family: $EBGaramond;
      cursor: pointer;
      &:hover {
        color: $primary-orange;
        text-decoration: underline;
      }
    }
    & > div:first-child {
      margin-right: 100px;
    }
  }

  &__list {
    margin-top: 30px;
  }
  @include desktop() {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
  }
}

.program {
  @include flex();
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;

  & > img {
    max-width: 300px;
    border-radius: 10px;
  }
}

.additional-info {
  @include flex($justify: space-between);
  width: 100%;
}

.program-description {
  margin-top: 40px;
}

.access-program {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: $primary-orange;
}

.add-to-wish-list {
  position: absolute;
  right: 0;
  cursor: pointer;
  &:hover {
    color: $primary-orange;
  }
}
