@import 'core.scss';

.e-books {
  padding: 60px 0px 50px 0px;
  background-color: $background;
}

.title {
  padding-left: 22px;
  @include desktop() {
    padding-left: 134px;
  }
}

.subtitle {
  margin-top: 15px;
  &--text {
    @include font($primary-gray, 24px, 400, 34px);
    @include tablet(){
      width: 50%;
    }
  }
}

.filters {
  display: grid;
  grid-template-columns: 1fr;
  padding: 22px;
  gap: 10px;
  margin-top: 27px;
  @include tablet() {
    grid-template-columns: repeat(3, max-content);
  }
  @include desktop() {
    grid-template-columns: repeat(5, max-content);
  }
}

.books-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 28px 22px 42px 22px;
  @include tablet() {
    grid-template-columns: repeat(6, 1fr);
  }
  @include desktop() {
    padding-bottom: 0;
  }
}

.button {
  &--explore {
    width: 230px;
    margin: 20px 0px 0px 22px;
    padding: 12px 16px;
    @include desktop() {
      margin: 33px 0px 0px 127px;
    }
  }
  &--filter {
    width: auto;
    @include desktop() {
      width: max-content;
    }
  }
}
