@import 'core.scss';

.meet-kordie {
  @include container();
  margin: 62px 0px 55px 0px;
  &--title {
    letter-spacing: -0.48px;
  }
  &--description {
    width: 100%;
    margin-top: 14px;
    @include desktop() {
      width: 50%;
    }
    margin-bottom: 0;
  }
}
