@import 'core.scss';

.meet-kordie {
  @include container();
  margin-top: 68px;
  margin-bottom: 78px;
  &--title {
    letter-spacing: -0.48px;
  }
  &--description {
    width: 100%;
    margin-top: 14px;
    font-family: $IBMPlex;
    font-weight: 300;
    @include desktop() {
      width: 50%;
    }
  }
}
