@import "core.scss";

.programs-button {
  @include font($white, 18px, 500);
  @include flex($align: center);
  cursor: pointer;
  font-family: $IBMPlex;
  margin-left: 30px;
  user-select: none;
  .icon {
    @include fill(white);
    margin-left: 10px;
    padding-bottom: 1px;
    transition: transform ease-in-out 0.35s;
    &.opened {
      transition: transform ease-in-out 0.35s;
      transform: rotate(-180deg);
    }
  }
  &.inverted {
    @include fill($primary-gray);
    color: $primary-gray;
  }
  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: $screen-md-max) {
  .programs-button {
    display: none;
  }
}
