@import 'core.scss';

.marketplace-product {
  margin-top: 105px;
}

.divider {
  margin: 20px;
  height: 2px;
  background: rgba(#98a2a8, 0.3);

  @include desktop() {
    margin: 80px 18px 60px 18px;
  }
}
