@import 'core.scss';

.burger-item {
  overflow: hidden;
  border-bottom: 4px solid white;
}

.title {
  @include flex($justify: space-between, $align: center);
  @include font($primary-gray, 21px, 500, 29px);
  padding: 17px 24px 17px 24px;
  background-color: $background;

  &--indicator {
    @include font($primary-gray, 22px, 300, 22px);
    display: block;
  }
  @include tablet() {
    @include font($primary-gray, 27px, 500, 37px);
    padding: 12px 24px 15px 24px;
    &--indicator {
      @include font($primary-gray, 34px, 300, 37px);
    }
  }
}

.menu {
  background-color: white;
}

.menu-item {
  @include flex($align: center);
  padding: 20px 24px;
  &:before {
    content: '';
    width: 3px;
    height: 3px;
    background-color: $primary-orange;
    margin-right: 8px;
  }
  &--title {
    @include font(inherit, 20px, 400, 28px);
  }

  @include tablet() {
    &:before {
      width: 9px;
      height: 9px;
      margin-right: 22px;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid #70707026;
  }
}

.highlighted {
  color: $primary-orange;
}

.arrow {
  color: $primary-orange !important;
  flex: 1;
  text-align: right;
}
