@import 'core.scss';

.what-we-teach {
  margin-top: 10px;
}
.caption {
  @include container();
  margin-bottom: 38px;
}

.card-container {
  display: grid;
  @include container-sm();
  row-gap: 10px;
  @include desktop() {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }
  @include desktop-lg() {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  @include flex($align: stretch, $direction: column);
  position: relative;
  background-color: #f5f1f0;
  padding: 32px 16px;
  border-radius: 6px;
  min-height: 440px;
  &-rate {
    @include font($primary-orange, 36px, 600, 48px);
    font-family: $EBGaramond;
    letter-spacing: -0.36px;
  }
  &-caption {
    @include font($primary-gray, 24px, 400, 34px);
    margin: 18px 0px;
  }
  &-description {
    @include font($primary-gray, 18px, 400, 28px);
    margin-bottom: 70px;
  }
  &-button {
    position: absolute;
    bottom: 36px;
  }
}
