@import 'core.scss';

.reading-materials {
  margin-top: 80px;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
}
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
  & > div {
    margin-bottom: 20px;
    margin-right: 2.7%;
  }
}
