@import 'core.scss';

.reading-materials {
  margin-top: 80px;
}
.wrapper {
  margin: 0 22px;
}

.cards-container {
  display: grid;
  gap: 20px;
  width: 100%;
  & > div {
    margin-bottom: 20px;
    margin-right: 2.7%;
    font-weight: 400;
  }
  @include tablet() {
    grid-template-columns: repeat(2, 336px);
  }
  @include desktop() {
    grid-template-columns: repeat(3, 336px);
  }
}
