@import "core.scss";

.programs-catalogue {
}

.title {
  margin-top: 60px;
  margin-bottom: 24px;
  padding-left: $left-offset;
  & > div:first-child {
    max-width: 360px;
    @include font($primary-grey, 48px, 600, 58px);
    font-family: $EBGaramond;
    letter-spacing: -0.48px;
  }
  & > div:nth-child(2) {
    margin-top: 12px;
    max-width: 420px;
    @include font($primary-grey, 18px, 400, 28px);
    font-family: $IBMPlexSans;
  }
}

.content {
  padding: 40px 0;
}

.pagination {
  margin-bottom: 80px;
}

.empty-info {
  @include flex($justify: center);
  @include font($primary-grey, 18px, 400, 26px);
  font-family: $IBMPlexSans;
}

@media screen and (max-width: 1030px) {
  .content {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .content {
    justify-content: center;
  }
  .title {
    padding: 0 $default-offset;
    & > div:first-child {
      @include font($primary-grey, 44px, 500, 46px);
    }
    & > div:nth-child(2) {
      @include font($primary-grey, 18px, 400, 22px);
    }
  }
}
