@import 'core.scss';

.payment-methods {
}

.form {
  margin-top: 20px;

  div:not(:first-child) {
    margin-top: 20px;
  }
}

.checkboxLabel {
  @include font(#3e3e3e, 18px, 500, 28px);
}

.submit {
  padding: 8px 0;
  @include mobile() {
    height: auto;
  }
  width: 151px;
  margin: 26px auto 0 auto;
}
