@import 'core.scss';

.payment-methods {
}

.form {
  div:not(:first-child) {
    margin-top: 20px;
  }
}

.checkboxLabel {
  font-weight: 500;
}

.submit {
  width: 50%;
  margin: 26px auto 0 auto;
}
