@import 'core.scss';

.payment-methods {
}

.form {
  margin-top: 16px;

  @include tablet() {
    margin-top: 20px;
  }

  div:not(:first-child) {
    margin-top: 16px;

    @include tablet() {
      margin-top: 20px;
    }
  }
}

.checkboxLabel {
  @include font(#3e3e3e, 16px, 500);

  @include tablet() {
    font-size: 18px;
    line-height: 28px;
  }
}

.submit {
  width: 151px;
  margin: 26px auto 0 auto;
  padding: 8px 0;
  font-size: 14px;

  @include tablet() {
    margin-top: 16px;
    font-size: 16px;
  }
}
