@import 'core.scss';

.login {
  @include flex(center, stretch, column);
  flex: 1;
  margin-top: 132px;
  max-width: 506px;
  min-width: 506px;
  margin: 0 auto;
}

.form {
  &__titles {
    @include flex();
    border-bottom: 0.5px solid $light-grey;
    padding-bottom: 27px;
    margin-bottom: 20px;
    & > a {
      @include font($gray, 58px, 600, 58px);
      font-family: $EBGaramond;
      width: 50%;
      cursor: pointer;
    }
    &--active {
      color: $primary-gray !important;
    }
  }
  & > div {
    margin-bottom: 20px;
  }
  &--button {
    @include flex($justify: center);
    position: relative;
    margin: 0 auto;
  }
  &--preloader {
    position: absolute;
    top: calc(50% - 10px);
    right: 0;
  }
}
