@import 'core.scss';

.article-first-section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 40% 60%;
  min-height: calc(100vh - 60px);
  padding: 22px 0px 0px 22px;
  @include desktop() {
    padding: 0px 0px 0px 134px;
  }
}

.tags {
  @include flex($align: stretch);
  flex-wrap: wrap;
  margin: 40px 0px 18px 0px;
  &__item {
    width: fit-content;
    margin-bottom: 4px;
    margin-right: 12px;
    padding: 6px 24px;
    font-weight: 400;
    text-align: center;
    background: $background;
    border-radius: 4px;
  }
}

.heading {
  width: 100%;
  padding-right: 22px;
  @include desktop() {
    padding-right: 60px;
  }
  &__options {
    @include flex($align: center);
    @include font($primary-gray, 16px, 400);
    & > div {
      @include flex($align: center);
    }
  }
}

.share {
  margin-left: 16px;
  &--icon {
    @include size(34px);
    @include flex($align: center, $justify: center);
    margin-left: 16px;
    background: $background;
    border-radius: 50%;
  }
}

.reading-time {
  & > div:last-child {
    margin-left: 12px;
  }
}

.hero-description {
  @include font($primary-gray, 24px, 400, 34px);
  margin-top: 41px;
}

.image {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  height: 100%;
  &__wrapper {
    height: calc(100vh - 104px);
    min-height: calc(100% - 94px);
    padding-right: 22px;
  }
}
