@import 'core.scss';

.article-first-section {
  @include flex($align: center);
  padding: 22px 22px 0px 22px;
  @include desktop() {
    padding-left: 120px;
  }
}

.tags {
  @include flex($align: stretch);
  flex-wrap: wrap;
  margin: 27px 0px;
  &__item {
    width: 122px;
    margin-right: 12px;
    margin-bottom: 4px;
    padding: 6px 24px;
    text-align: center;
    background: $background;
    border-radius: 4px;
  }
}

.heading {
  padding-right: 22px;
  width: 100%;
  @include desktop() {
    padding-right: 50px;
  }
  &__options {
    @include flex($align: center);
    @include font($primary-gray, 16px, 400);
    & > div {
      @include flex($align: center);
    }
  }
}

.share {
  margin-left: 16px;
  & > div:last-child {
    margin-left: 16px;
  }
}

.reading-time {
  & > div:last-child {
    margin-left: 16px;
  }
}

.hero-description {
  @include font($primary-gray, 22px, 400, 34px);
  font-family: $IBMPlex;
}

.image {
  width: 100%;
  height: 100%;
  padding-right: 22px;
}
