@import 'core.scss';

.overlay {
  width: 100%;
  margin-top: 80px;
  background: rgba(#232323, 0.5);
  // @include tablet() {
  @include flex(center, center);
  margin-top: 0;
  position: fixed;
  z-index: 99999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  // }
}

.modal {
  background: $white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  height: 80vh;
  overflow: auto;
  @include tablet() {
    height: auto;
    overflow: unset;
  }
}

.modal-mobile {
  // margin-top: 100px;
}

.content {
  @include flex($align: stretch, $direction: column);
  height: 100%;
  padding: 20px;
}
