@import 'core.scss';

.routes {
  @include flex($align: stretch, $direction: column);
  @include footerMargin;
  min-height: 100vh;
}

.header {
  position: absolute;
  z-index: 9999;
  width: 100%;
}

.sticky-header {
  background-color: white;
}
