@import 'core.scss';

.routes {
  @include flex($align: stretch, $direction: column);
  min-height: 100vh;
  @include footerMargin;
}

.header {
  position: absolute;
  z-index: 9999;
  width: 100%;
}
