@import 'core.scss';

.winning {
  height: 100%;
  @include flex($justify: start, $direction: column);
  @include container();

  min-height: 500px;
  box-sizing: border-box;
  overflow: hidden;

  background-image: url('../../../../../assets/backgrounds/Section7.png');
  // @include imageOverlay();
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
  @include tablet() {
    background-color: initial;
  }
  @include mobile() {
    height: 100vh;
    @include flex($justify: center, $direction: column, $align: center);
    background-repeat: no-repeat;
    background-position: unset;
  }
}

.title {
  text-align: center;
  width: 100%;
  @include flex($justify: center, $direction: column, $align: center);

  @include mobile() {
    text-align: start;
  }
}
.innerbox {
  @include desktop() {
    width: 75%;
  }
  @include mobile() {
    width: 100%;
  }
}

.sectiontitle {
  @include font($primary-green, 48px, 600, 52px);
  @include mobile() {
    @include font($primary-green, 48px, 600, 52px);
    text-align: center;
  }
}
.minicard {
  width: 100%;
  @include flex($justify: center, $direction: column, $align: center);
}
.description-block {
  @include desktop() {
    width: 34%;
  }
  @include mobile() {
    width: 100%;
  }
}

.early-booking {
  @include font($primary-gray, 18px, 400, 85px);
  @include mobile() {
    @include font($primary-gray, 18px, 400, 30px);
    margin: 20px 0px;
    text-align: center;
  }
}
.percent {
  @include font($primary-gray, 18px, 500, 0px);
}
.date {
  @include font($primary-orange, 18px, 500, 0px);
}

.carddetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 5px 30px 5px;
  gap: 10px;
  @include mobile() {
    padding: 5px 10px 5px;
  }
}
.label {
  @include font($primary-green, 20px, 500, 32px);
}
.value {
  @include font($primary-gray, 20px, 500, 32px);
}
.hr {
  border-radius: 1px solid $primary-gray;
  width: 100%;
}
