@import 'core.scss';

.card {
  position: absolute;
  top: 30px;
  padding: 10px;
}

.content {
  position: relative;
  border-radius: 8px;
  background-color: $background;
  padding: 16px 16px 16px 16px;
}

.helper {
  position: absolute;
  width: 30%;
  height: 40px;
  top: -40px;
  left: 50%;
  transform: translateX(-55%);
}
