@import 'core.scss';

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  & > h1 {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    color: white;
  }
}
