@import 'core.scss';

.local-menu {
  @include flex($align: center, $justify: space-between);
  @include font(white, 12px, 500, 16px);
  position: relative;
  cursor: pointer;
  width: 55px;
  padding: 6px 8px;
  font-family: $IBMPlex;
  border: 1px solid white;
  border-radius: 4px;
  transition: none;
  & > div:first-child {
    margin-left: 3px;
  }
}

.drop-down {
  position: absolute;
  top: 27px;
  left: -1px;
  width: 55px;
  padding: 0px 8px 6px 8px;
  border: 1px solid white;
  border-radius: 4px;
  border-top: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.black {
  border-color: $primary-gray;
  color: $primary-gray;
  background-color: white;
  &--dropdown {
    border-color: $primary-gray;
    background-color: white;
    border-top: 1px solid transparent;
  }
}

.secondary {
  border-color: $background;
  color: $primary-gray;
  background-color: $background;
  &--dropdown {
    border-color: $background;
    background-color: $background;
    border-top: 1px solid transparent;
  }
}

.open {
  border-bottom: 1px solid transparent;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.arrow-rotate {
  transform: rotate(180deg);
}

.link {
  display: block;
  transition: $transition;
  padding: 8px 0;
  &:hover {
    color: $primary-orange;
  }
}
