@import 'core.scss';

.job-page {
  @include container();
  position: relative;
}

.back {
  @include font($primary-grey, 15px, 500, 20px);
  @include flex(space-between);
  width: 92px;
  margin-top: 60px;
  margin-left: 10px;
  padding: 8px 13px;
  background-color: #f5f1f0;
  border-radius: 3px;
  font-family: $IBMPlex;
  cursor: pointer;
}

.section-a {
  margin-bottom: 32px;

  &__subtitle {
    font-family: $EBGaramond;
    @include font($primary-orange, 18px, 600, 58px);
  }
  &__description {
    font-family: $IBMPlexSans;
    @include font($primary-grey, 18px, 400, 28px);
  }
}

.section-b {
  &__description {
    font-family: $IBMPlexSans;
    @include font($primary-grey, 16px, 40, 28px);
  }
}

.title-orange {
  font-weight: 500;
  line-height: 32px;
  color: $primary-orange;
}

.description {
  font-size: 16px;
}
