@import 'core.scss';

.job-page {
  position: relative;
  padding-left: 134px;
  padding-right: 570px;
}

.back {
  position: absolute;
  left: 22px;
  display: flex;
  width: 92px;
  padding: 8px 13px;
  background-color: #f5f1f0;
  border-radius: 3px;
  font-family: 'IBM Plex Sans';
  @include font($primary-grey, 15px, 500, 20px);
  @include flex(space-between);
}

.section-a {
  margin-bottom: 32px;
  // &__title {
  //   font-family: $EBGaramond;
  //   @include font($primary-grey, 48px, 600, 58px);
  //   &__orange {
  //     color: $primary-orange;
  //   }
  // }
  &__subtitle {
    font-family: $EBGaramond;
    @include font($primary-orange, 18px, 600, 58px);
  }
  &__description {
    font-family: $IBMPlexSans;
    @include font($primary-grey, 18px, 400, 28px);
  }
}

.section-b {
  // &__title {
  //   margin-bottom: 11px;
  //   font-family: $EBGaramond;
  //   @include font($primary-orange, 48px, 600, 58px);
  // }
  &__description {
    font-family: $IBMPlexSans;
    @include font($primary-grey, 18px, 400, 28px);
  }
}

.title-orange {
  color: $primary-orange;
}
