@import 'core.scss';

.job-page {
  @include container();
  position: relative;
}

.back {
  @include font($primary-grey, 15px, 500, 20px);
  @include flex(space-between);
  width: 92px;
  margin-top: 60px;
  margin-left: 22px;
  padding: 8px 13px;
  background-color: #f5f1f0;
  border-radius: 3px;
  font-family: $IBMPlex;
  cursor: pointer;
}

.section-a {
  margin-bottom: 44px;

  &__subtitle {
    font-family: $EBGaramond;
    @include font($primary-orange, 18px, 600, 58px);
  }
  &__description {
    @include font($primary-gray, 18px, 400, 28px);
    width: 40%;
    margin-top: 12px;
  }
}

.section-b {
  &__description {
    @include font($primary-grey, 16px, 40, 28px);
  }
}

.title-orange {
  @include font($primary-orange, 38px, 600, 32px);
}

.description {
  font-size: 16px;
}

.pre-caption {
  margin: 0;
  font-family: $EBGaramond;
  font-weight: 600;
}
