@import 'core.scss';

.download-button {
  display: block;
  @include flex($align: center, $justify: space-between);
  padding: 15px;
  background: #f5f1f0;
  border-radius: 8px;
  min-width: 336px;
  cursor: pointer;
}

.description {
  @include flex($align: center);
  &--details {
    @include font($primary-gray, 16px, 400, 22px);
    margin-left: 16px;
  }
}

.download {
  &--text {
    @include font($primary-gray, 18px, 500, 28px);
  }
  &--details {
    @include font(#cbd0d3, 16px, 500, 22px);
    &--file {
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.file-caption {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
