@import 'core.scss';

.download-button {
  @include flex($align: center, $justify: space-between);
  padding: 16px;
  background: #f5f1f0;
  border-radius: 8px;
  min-width: 336px;
}

.description {
  @include flex($align: center);
  &--details {
    @include font($primary-gray, 16px, 400, 22px);
    margin-left: 16px;
    font-family: $IBMPlex;
  }
}

.download {
  &--text {
    @include font($primary-gray, 18px, 500, 28px);
    font-family: $IBMPlex;
  }
  &--details {
    @include font(#cbd0d3, 16px, 500, 22px);
    font-family: $IBMPlex;
  }
}
