@import 'core.scss';

.card {
  width: 100%;
  margin-bottom: 20px;
  padding: 42px 16px;
  border-radius: 5px;
  background-color: $background;

  &__title {
    @include font($primary-orange, 28px, 400, 35px);
    margin-bottom: 14px;
  }
  &__description {
    margin-top: 18px;
  }
}

.hr {
  width: 44px;
  background: #CBD0D3;
}
