@import 'core.scss';

.experienced-assignment {
  background-color: #f5f1f0;
}

.container {
  @include flex($align: center, $direction: column-reverse);
  padding: 22px;
  position: relative;
  @include desktop() {
    @include flex($align: center);
    padding: 22px 134px;
  }
}

.list {
  width: 300px;
}

.slider {
  width: 100%;
  height: 316px;
  text-align: center;
  @include desktop() {
    width: 300px;
    margin-right: 25px;
    text-align: initial;
  }
  &-title {
    @include font($primary-gray, 24px, 400, 34px);
    padding-top: 15px;
    font-family: $IBMPlex;
    @include tablet() {
      padding-top: 0;
    }
  }
  &__list {
    margin-top: 13px;
    width: 100%;
    & > div:not(:first-child) {
      margin-top: 12px;
    }
    @include tablet() {
      margin-top: 30px;
    }
  }
  &__buttons {
    @include flex();
    position: absolute;
    bottom: 47px;
    width: 100%;
    margin-top: 30px;
    left: 40%;
    & > div {
      @include size(18px);
      margin-right: 16px;
      border-radius: 8px;
    }
    @include tablet() {
      left: 249px;
    }
  }
  &--item {
    @include tablet() {
      @include flex();
    }
  }
  &--image {
    margin-left: 40px;
    display: none;
    @include tablet() {
      display: block;
    }
  }
}

.leftblock {
  width: 335px;
}

.image {
  @include heroImage();
  width: 100%;
  height: 317px;
  @include desktop() {
    width: 428px;
  }
}
