@import 'core.scss';

.value-container {
  @include flex(flex-start, center);
  flex: 1;
  height: 100%;
}

.select-container {
  position: relative;
  width: 100%;
}

.dropdown {
  position: absolute;
  z-index: 50;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 200px;
  background: $gray;
  overflow-y: auto;
  box-shadow: 0 0 20px 0 rgba($black, 0.1);
  border-radius: 0 4px 4px;
  overflow-y: auto;
}

.option {
  padding: 10px;
  font-size: 16px;
  color: $black;
  background: $white;
  transition: $transition;
  &:hover,
  &--selected {
    color: $white;
    background: $primary;
  }
}

.menu-list {
  max-height: 200px;
}

.select--white {
  .control {
    width: 100%;
    background: $white;
  }
}

.control {
  @include flex(flex-start, center);
  height: 50px;
  padding: 22.5px 18px;
  background: #f5f1f0;
  border: unset;
  border-radius: 4px;
  transition: $transition;
  @include tablet() {
    height: 45px;
  }
}

.single-value,
.placeholder,
.search {
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  color: $black;
}

.search {
  background: none;
  outline: none;
  border: none;
  &--hidden {
    width: 0;
    height: 0;
  }
}

// .placeholder,
// .single-value,
// .option {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

.controls {
  @include flex(center, center);
  width: 20px;
  height: 100%;
}

.no-options {
  @extend .option;
}

.controls-arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
  &--reversed {
    transform: rotate(180deg);
  }
  &__icon {
    // @include icon(6px, $black);
  }
}

.select {
  position: relative;
  cursor: pointer;

  &--focused.select--searchable {
    .single-value,
    .placeholder {
      display: none;
    }
  }

  &--disabled {
    .control {
      background: $gray;
      cursor: not-allowed;
    }

    .single-value,
    .placeholder,
    .search {
      color: #acb6c3;
    }
    .controls-arrow {
      opacity: 0.3;
    }
  }
  .label {
    @include font($primary-gray, 16px, 400);
  }
}

.error {
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: translateY(100%);
  font-size: 12px;
  color: red;
}
