@import 'core.scss';

.select {
  @include flex();
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  background-color: white;
  &--focused {
    .box {
      border-color: $primary-orange;
    }

    .label {
      color: $primary-orange;
    }
  }

  &--disabled {
    background-color: rgba(255, 255, 255, 0.3) !important;
    cursor: not-allowed;
  }

  &--error {
    .box {
      border-color: red;
    }
  }
  &--secondary {
    background-color: #f5f1f0;
  }
}

.box {
  @include flex($align: center);
  position: relative;
  width: 100%;
  border: 0.5px solid transparent;
  border-radius: 4px;
  transition: $transition;
}

.control {
  @include flex($align: stretch);
  min-height: 40px;
  cursor: pointer;
  border-radius: 4px;
}

.value {
  @include font(#333333, 16px, 400, 22px);
  padding: 10px 8px;
  flex: 1;
  font-family: $IBMPlex;
}

.search-input {
  @include font(#333333, 14px, 400, 20px);
  border: none;
  outline: none;
  width: 100%;
  padding: 0px 8px;
  border-radius: 4px;
}

.indicator {
  @include flex(center, center);
  margin-left: auto;
  padding: 10px;
  & > div > div {
    @include flex(center, center);
  }

  &__arrow {
    transform: rotate(0);
    transition: $transition;

    &--reversed {
      transform: rotate(-180deg);
    }
  }
}

.placeholder {
  @include font(#333333, 14px, 400, 20px);
  padding: 20px;
  text-align: center;
}

.menu {
  position: absolute;
  z-index: 50;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 144px;
  margin-top: 4px;
  background: $white;
  box-shadow: 0 0 20px 0 rgba($black, 0.1);
  border-radius: 4px;
  overflow-y: auto;
}

.option {
  @include font(#333333, 14px, 400, 20px);
  font-family: $IBMPlex;
  padding: 14px 16px;
  background: $white;
  transition: $transition;
  cursor: pointer;

  &:hover,
  &--selected {
    background: #f2f2f2;
  }
}
