@import 'core.scss';

.profile-menu {
  position: absolute;
  top: 40px;
  right: 0;
  width: 230px;
  background-color: $background;
  padding: 10px;
  border-radius: 10px;
  & > a {
    display: block;
    transition: $transition;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:hover {
      color: $primary-orange;
    }
  }
}
