@import 'core.scss';

.profile-menu {
  position: relative;
  margin-right: 15px;
}

.dropdown {
  position: absolute;
  top: 26px;
  left: -95px;
  width: 210px;
  padding-top: 11px;
}

.button {
  margin-bottom: 13px;
}

.user-name {
  @include font($primary-orange, 18px, 600, normal);
  margin-bottom: 13px;
  font-family: $EBGaramond;
  word-break: break-word;
}

.create-acc {
  background-color: unset;
  padding: 11px 9px;
  color: #87959f;
  border: 1px solid #b1b8bd;
}

.links {
  border-bottom: 1px solid $light-grey;
}
.link {
  @include font($primary-gray, 18px, 400, normal);
  display: block;
  padding: 12px 0 10px 0;
  border-top: 1px solid $light-grey;
  cursor: pointer;
  transition: $transition;

  &:hover {
    color: $primary-orange;
  }
}

.icon {
  @include desktop() {
    & > div:hover {
      & > svg > g > circle {
        stroke: $primary-orange;
      }
      & > svg > g > path {
        fill: $primary-orange;
      }
    }
  }
}

.logout {
  width: 100%;
  background-color: unset;
  color: #87959f;
  border: 1px solid #b1b8bd;
  margin-top: 7px;
}

.active {
  @include desktop() {
    & > div {
      & > svg > g > circle {
        stroke: $primary-orange !important;
      }
      & > svg > g > path {
        fill: $primary-orange !important;
      }
    }
  }
}
