@import 'core.scss';

.single-program {
  @include flex();
  position: relative;

  padding-bottom: 20px;
  border-bottom: 1px solid $light-grey;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
  & > img {
    object-fit: cover;
    border-radius: 7px;
  }
}

.description {
  padding: 0 21px;
  width: 30%;
  &--level {
    @include font($primary-orange, 18px, 500, 28px);
    margin-bottom: 8px;
    font-family: $IBMPlex;
  }
  &__additional-info {
    @include font($primary-gray, 16px, 400, 22px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 20px;
    & > div:not(:first-child) {
      padding: 0 25px;
    }
    & > div:not(:last-child) {
      border-right: 1px solid $light-grey;
    }
  }
  &--text {
    @include font($primary-gray, 16px, 400, 22px);
    width: 100%;
    margin-top: 23px;
  }
  &--button {
    position: absolute;
    right: 0;
    bottom: 20px;
  }
}
