@import "core.scss";

.program-nav-button {
  @include flex($align: center);
  margin: 0 5px;
  flex: 1;
  height: 100%;
  background-color: $background;
  padding-left: 15px;
  padding-right: 5px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  user-select: none;
  @include buttonHover();
  & > div:first-child {
    @include font($primary-orange, 18px, 600, 20px);
    font-family: $EBGaramond;
    letter-spacing: -0.36px;
  }
  & > div:nth-child(2) {
    margin-left: 10px;
    @include font($primary-grey, 16px, 500, 18px);
    font-family: $IBMPlex;
  }
}
