@import 'core.scss';

.label {
  @include font($primary-gray, 14px, 400);
  display: block;
  margin-bottom: 2px;
  transition: $transition;

  @include tablet() {
    font-size: 16px;
    line-height: 22px;
  }
}
