@import 'core.scss';

.support-info {
  @include flex($align: center);
  min-height: 454px;
  // background-color: $background;
  padding-right: 124px;
}

.title-wrapper {
  margin-right: 54px;
}

.title {
  padding: 22px;
  @include desktop() {
    padding: 22px 0 22px 0;
    max-width: 504px;
    margin-left: 134px;
  }
}

.caption {
  @include desktop() {
    max-width: 428px;
  }
}

.description {
  @include font($primary-gray, 33px, 400, 42px);
  font-family: $EBGaramond;
  span {
    @include font($primary-orange, 33px, 600, 42px);
  }
}

.hr {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 16px;
  background-color: #cbd0d3;
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  row-gap: 40px;
  column-gap: 22px;
  max-width: 540px;
  margin: $default-offset 0 50px;
  @include tablet() {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  @include desktop() {
    margin: 0;
  }
}

.info-item {
  @include font($primary-gray, 18px, 400, 28px);
  display: flex;
  align-items: center;
  width: 260px;
  height: 47px;
  background-color: #f5f1f0;
  border-radius: 8px;

  &:before {
    content: '■';
    padding-left: 12px;
    padding-right: 14px;
    font-size: 15px;
    color: $primary-orange;
  }
}

@media screen and (max-width: 768px) {
  .support-info {
    flex-direction: column;
  }
}

@media screen and (max-width: 1050px) {
  .support-info {
    padding-right: $default-offset;
  }
  .intro {
    padding-left: $default-offset;
  }
  .title-wrapper {
    margin-right: 0;
  }
}
