@import "core.scss";

.support-info {
  min-height: 454px;
  background-color: $background;
  @include flex($align: center);
  padding-right: 124px;
}

.title-wrapper {
  margin-right: 228px;
}

.title {
  padding: $default-offset 0;
  padding-right: $default-offset;
  padding-left: $left-offset;
  max-width: 600px;
  & > div:first-child {
    @include font($primary-gray, 48px, 600, 58px);
    letter-spacing: -0.48px;
    font-family: $EBGaramond;
  }
  & > div:nth-child(2) {
    height: 2px;
    margin-top: 24px;
    margin-bottom: 16px;
    width: 100%;
    background: #cbd0d3;
  }
  & > div:nth-child(3) {
    @include font($primary-gray, 18px, 400, 28px);
    font-family: $IBMPlexSans;
  }
}

.info {
  flex: 1;
  flex-wrap: wrap;
  margin: $default-offset 0;
  @include flex($justify: center);
  max-width: 450px;
}

.info-item {
  @include font($primary-gray, 18px , 400, 28px);
  font-family: $IBMPlexSans;
  width: 204px;
  height: 47px;
  background-color: $white;
  border-radius: 8px;
  margin: 10px;
  @include flex($align: center);
  &:before {
    content: '■';
    padding-left: 12px;
    padding-right: 14px;
    color: $primary-orange;
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .support-info {
    flex-direction: column;
  }
}

@media screen and (max-width: 1050px) {
  .support-info {
    padding-right: $default-offset;
  }
  .intro {
    padding-left: $default-offset;
  }
  .title {
    padding-left: $default-offset;
  }
  .title-wrapper {
    margin-right: 0;
  }
}