@import 'core.scss';

.training-info {
  min-height: 455px;
}

.container {
  @include flex($align: center);
  padding-bottom: 48px;
}

.title-wrapper {
  margin-right: 152px;
}

.title {
  max-width: 700px;
  padding-left: 22px;
  padding-right: $default-offset;
  @include desktop() {
    padding-left: $left-offset;
    padding-right: $default-offset;
  }
  & > div:nth-child(2) {
    max-width: 700px;
    margin-top: 12px;
    letter-spacing: -0.48px;
  }
  & > div:nth-child(3) {
    @include font($primary-gray, 18px, 400, 28px);
    max-width: 400px;
    margin-top: 24px;
  }
}

.info {
  @include flex($justify: flex-end);
  flex: 1;
  flex-wrap: wrap;
  max-width: 490px;
  margin-right: 22px;
  @include desktop() {
    @include flex($justify: center);
    margin: $default-offset 0;
    margin-right: $left-offset;
  }
}

.info-item {
  @include font($primary-gray, 18px, 400, 28px);
  width: 224px;
  height: 47px;
  background-color: $white;
  border-radius: 8px;
  margin: 10px;
  background-color: $background;
  @include flex($align: center);
  &:before {
    content: '■';
    padding-left: 12px;
    padding-right: 14px;
    font-size: 15px;
    color: $primary-orange;
  }
}

.button {
  @include flex($justify: space-between);
  width: 224px;
  height: 44px;
  margin-top: 24px;
  // margin-left: $left-offset;
  margin-left: 22px;
  @include desktop() {
    margin-left: 134px;
  }
}

.img {
  height: 356px;
  padding-left: $left-offset;
  padding-right: $default-offset;
  background: url('../../../../../assets/img/learning-approach/training-footer.png');
  box-sizing: border-box;
  overflow: hidden;
  @include heroImage();
  @include flex($justify: center, $direction: column);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .intro,
  .title {
    padding-left: $default-offset;
  }
}

@media screen and (max-width: 1050px) {
  .title-wrapper {
    margin-right: 0;
  }
}
