@import 'core.scss';

.text {
  @include error();
  position: relative;

  &--focused {
    .input {
      border-color: $primary-orange;
    }
    .label {
      color: $primary-orange;
    }
  }
}

.label {
  @include font($black, 14px, 400);
  margin-bottom: 2px;

  @include tablet() {
    font-size: 16px;
    line-height: 22px;
  }
}

.input {
  @include font($black, 14px, 400);
  width: 100%;
  padding: 10px 8px;
  background: $white;
  border: 1px solid $white;
  border-radius: 4px;
  outline: none;
  transition: $transition;
  -webkit-appearance: none;

  &::placeholder {
    @include font(#969ba3, 14px, 400);

    @include tablet() {
      font-size: 16px;
      line-height: 22px;
    }
  }

  @include tablet() {
    font-size: 16px;
    line-height: 22px;
  }

  &--ios {
    font-size: 14px;
    transform: scale(1);
    transform-origin: left top;

    @include tablet() {
      font-size: 16px;
    }

    &::placeholder {
      padding-top: 2px;
    }
  }

  &--invalid {
    border-color: $red !important;
  }

  &--disabled {
    border-color: rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.3);
    cursor: not-allowed;
  }
}
