@import 'core.scss';

.text {
  @include error();
  position: relative;

  &--focused {
    .input {
      border-color: $primary-orange;
    }
    .label {
      color: $primary-orange;
    }
  }
}

.input {
  @include font($black, 14px, 500, 17px);
  width: 100%;
  padding: 14px 16px;
  background: $white;
  border: 1px solid $white;
  border-radius: 4px;
  outline: none;
  transition: $transition;
  -webkit-appearance: none;
  &::placeholder {
    @include font(#969ba3, 14px, 500, 17px);
  }

  &--ios {
    font-size: 16px;
    transform: scale(1);
    transform-origin: left top;
    &::placeholder {
      padding-top: 2px;
    }
  }

  &--invalid {
    border-color: $red !important;
  }

  &--disabled {
    cursor: not-allowed;
  }
}
